{%load static core_tags%}
<div class="row chat_row {%if message.inbound%}active_chat_row{%else%}inactive_chat_row{%endif%}"
    hx-get="{%url 'message-window' customer_number=message.customer_number whatsappnumber_pk=whatsappnumber.pk%}"
    hx-indicator=".htmx-indicator" 
    hx-target="#next_chat_window"
    hx-push-url="false"
    hx-swap="outerHTML" {%if customer_number == message.customer_number%}hx-trigger="load,click"{%endif%}  
    
    data-bs-toggle="popover_delay" 
    data-bs-trigger="hover" 
    data-bs-html="true" 
    data-bs-placement="top"
    data-bs-title="Message Details"
    data-bs-content="
        Sent at <b>{{message.datetime|nice_datetime_tag}}</b><br>
    {%if message.inbound%}
        By <b>{%if message.lead.name%}{{message.lead.name}}{%else%}{{message.customer_number}}{%endif%}</b>
    {%else%}
        By <b>{%if message.user.profile.name%}{{message.user.profile.name}}{%else%}Winser Systems{%endif%}</b>
    {%endif%}"
    data-whatsapp-number="{{message.customer_number}}"
    id="latest_message_row_{{message.customer_number}}"
    >
    <div class="col-auto p-0">
        <img id="latest_message_avatar_{{message.customer_number}}" src="{%if message.inbound%}{% static 'img/blank-profile-picture.png' %}{%else%}{%if message.user.profile.avatar.url%}{{message.user.profile.avatar.url}}{%else%}{{message.site.company.company_logo_black.url}}{%endif%}{%endif%}" alt="" width="38" height="38" class="rounded-circle">
    </div>
    <div class="col p-0 ps-1">
        <div class="row chat_lead_name_row">
            <div class="col p-0" id="latest_message_name_{{message.customer_number}}">
                {%if message.lead.name%}{{message.lead.name}}{%else%}{{message.customer_number}}{%endif%}
            </div>
        </div>
        <div class="row chat_message_row">
            <div class="col p-0" id="message_list_row_{{message.customer_number}}_{{whatsappnumber.pk}}">
                {%if message.inbound%}Them{%else%}You{%endif%}: {{message.message}}
            </div>
        </div>
    </div>
</div>