{% comment %} <div class="generic_modal_contents">
    <div class="row">
        <div class="col" {%if whatsappnumber%}hx-ws="connect:/ws/messaging/{{whatsappnumber.pk}}/"{%endif%}>
            {%include 'messaging/message_window_body.html'%}   
        </div>
    </div>
    <script>              
        $(document).ready(function() {
            let element = $("#messageWindowInnerBody_{{customer_number}}");
            setTimeout(function(){
                element.scrollTop(element[0].scrollHeight - element[0].clientHeight);
            }, 200); 
        });
    </script>
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    {%include 'messaging/message_window_header.html'%}
</span> {% endcomment %}