{%load static core_tags%}
{%if message.inbound%}
    <div class="row"
        id="message_chat_row_{{message.customer_number}}_{{whatsappnumber.pk}}"
        data-bs-toggle="popover_delay" 
        data-bs-trigger="hover" 
        data-bs-html="true" 
        data-bs-placement="right"
        data-bs-title="Message Details"
        data-bs-content="
        Sent at <b>{{message.datetime|nice_datetime_tag}}</b><br>
        By <b>{%if message.lead.name%}{{message.lead.name}}{%else%}{{message.customer_number}}{%endif%}</b>"
    >
        <div class="col-auto p-0 ps-1 m-1">
            <img src="{% static 'img/blank-profile-picture.png' %}" alt="" width="22" height="22" class="rounded-circle">
        </div>
        <div class="col p-0 ps-1 m-1 card borderless chat_row_{{message.customer_number}} bg-secondary text-white">
            {%if message.message%}
                {{message.message}}
            {%elif message.image.all%}
                {% for image in message.image.all%}
                <img type="button" class="pointer m-1"
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"
                    hx-vals='{"template_name": "view_message_image", "whatsapp_message_image_pk": "{{image.pk}}"}'
                    hx-get="{% url 'messaging-get-modal-content' %}" hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click" style="height:100px;width:100px;"
                    src="{{image.thumbnail}}" alt="Image Message" />
                {%endfor%}
            {%endif%}
        </div>
    </div>
{%else%}
    <div class="row"
        id="message_chat_row_{{message.customer_number}}_{{whatsappnumber.pk}}"
        data-bs-toggle="popover_delay" 
        data-bs-trigger="hover" 
        data-bs-html="true" 
        data-bs-placement="right"
        data-bs-title="Message Details"
        data-bs-content="
        Sent at <b>{{message.datetime|nice_datetime_tag}}</b><br>
        By <b>{%if message.user.profile.name%}{{message.user.profile.name}}{%else%}Winser Systems{%endif%}</b>">
            <div class="col p-1 m-1 card borderless chat_row_{{message.customer_number}} right bg-success text-white">
                {%if message.message%}
                    {{message.message}}
                {%elif message.image.all%}
                    {% for image in message.image.all%}
                    <img type="button" class="pointer m-1"
                        hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"
                        hx-vals='{"template_name": "view_message_image", "whatsapp_message_image_pk": "{{image.pk}}"}'
                        hx-get="{% url 'messaging-get-modal-content' %}" hx-push-url="false"
                        hx-swap="innerHTML" hx-trigger="click" style="height:100px;width:100px;"
                        src="{{image.thumbnail}}" alt="Image Message" />
                    {%endfor%}
                {%endif%}
            </div>
            <div class="col-auto p-0 ps-1 m-1">
                <img src="
                {%if message.user.profile.avatar.url%}
                {{message.user.profile.avatar.url}}
                {%else%}
                {% static 'img/blank-profile-picture.png' %}
                {%endif%}
                " alt="" width="22" height="22" class="rounded-circle">
            </div>
        </div>
{%endif%}