{%load static%}
<div class="generic_modal_contents">
    <div class="row">
        <div class="col center">            
            <img style="height:80vh" src="data:image/png;base64, {{whatsapp_message_image.image_base64}}" alt="Image Message" />
        </div>
    </div>
    
    {% comment %} <div class="row m-1">
        <div class="col center" >
            <button class="btn btn-light" type="button"
            hx-encoding="multipart/form-data"
                hx-post="{% url 'modify-user' %}" hx-include=".modify_user_input"
                hx-swap="none"
                hx-indicator=".top-htmx-indicator">
                Download
            </button>
        </div>
    </div> {% endcomment %}
</span>
<span hx-swap-oob="true" id="generic_modal_title">    
    Image Sent By {{whatsapp_message_image.whatsappmessage.customer_number}}
</span>