{% extends 'core/base.html' %}
{%load static core_tags%}
{%block scripts%}
{{block.super}}
 
<link href="{% static 'css/drag_drop.css' %}" rel="stylesheet" />
<script src="{% static 'js/drag_drop.js' %}"></script> 
<script>
    $(document).ready(function() {  

        document.body.addEventListener('htmx:afterSwap', function(evt) {   
            if (evt.detail.xhr.status == 200){
                if (evt.detail.pathInfo.path.includes("create-academy-lead")){
                    $('#refresh_results_table').click(); 
                    $('#generic_modal').modal('hide');
                    snackbarShow('Successfully manually created an academy lead', 'success')
                } else if (evt.detail.pathInfo.path.includes("new-call")){
                    $('#refresh_column_metadata').click()
                    snackbarShow('Successfully added call', 'success')
                }                
            }
            
            $('[data-bs-toggle=popover]').popover();
        });
    });
    function initDataTable() {
        dt = $('#results_table').DataTable(            
        {  
            order: [[ 4, 'asc' ],[ 2, 'asc' ]],
            iDisplayLength: 10
        }
        );
    }
    
    function handleDraggedItem(dragged_elem_id, drag_target){
        dragged_elem = $('#'+dragged_elem_id)
        htmx.ajax('POST', '{% url "new-call" %}'+dragged_elem.data('id')+'/'+$(drag_target).data("call-count")+'/'+$('#max_call_count').val()+'/', {target:'#'+dragged_elem_id, 
                                                                                                                    swap:'outerHTML'})
        let call_count = parseInt($(drag_target).data("call-count"));
        let max_call_count = parseInt($('#max_call_count').val());
        console.log(call_count, max_call_count)
        if (call_count > max_call_count) {
            $('#add_column').click();
        }
    }
</script>
{%endblock scripts%}

{%block content%}    
    <div class="">
        <div class="row">
            {%block extra_top_left_buttons %}
            {%include 'core/htmx/site_selection.html'%}
            <button hidden hx-get="{% url 'academy-leads-overview' %}" hx-push-url="true" hx-swap="outerHTML" hx-include=".results_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#results_table" id="change_site" class="btn btn-primary btn-sm"></button>
            <div class="col-md-auto" hx-get="{% url 'get-active-campaign-lists'%}" hx-include=".results_table_filters" hx-trigger="load" hx-indicator=".top-htmx-indicator" hx-target="#campaign_list_span" hx-swap="outerHTML">
                <span id="campaign_list_span">   
                    <select class="form-select">
                        <option>Loading</option>
                    </select>    
                </span>
            </div>
            <button hidden hx-get="{% url 'get-active-campaign-lists'%}" hx-include=".results_table_filters" id="refresh_campaign_list_span" hx-indicator=".top-htmx-indicator" hx-target="#campaign_list_span" hx-trigger="click" hx-swap="outerHTML"></button>
            <button hidden hx-get="{% url 'academy-leads-overview'%}" hx-include=".results_table_filters" id="refresh_results_table" hx-indicator=".top-htmx-indicator" hx-target="#results_table" hx-trigger="click" hx-swap="outerHTML"></button>
            {%endblock%}
            <div class="col">                
            </div>
            {%block extra_top_right_buttons %}
            <div class="col-md-auto">
                <button class="btn btn-primary btn-sm" 
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Manually create an academy lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#create_academy_lead,#site_pk"
                    hx-get="{% url 'academy-lead-get-modal-content' %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                        <i class="fa fa-plus" aria-hidden="true"></i> Manually Add Academy Lead
                </button>
                <input type="text" style="display:None" id="create_academy_lead" name="template_name" value="create_academy_lead"/>
            </div>
            {%endblock%}
        </div>
        <div class="row">
            <div class="col-md-auto">
                
                <main id="leads_board" class="board">
                    <button hidden hx-get="{% url 'get-leads-column-meta-data'%}" hx-include=".results_table_filters" id="refresh_column_metadata" hx-indicator=".column-htmx-indicator" hx-target="#column_metadata_0" hx-trigger="click" hx-swap="outerHTML"></button>
                    <button hidden hx-get="{% url "new-leads-column" %}" hx-include="#max_call_count" id="add_column" hx-indicator=".column-htmx-indicator" hx-target="#leads_board" hx-trigger="click" hx-swap="beforeend"></button>
                    {%include 'academy_leads/htmx/lead_columns.html' %}
                </div>
            </main>

            <div class="col">
            </div>
        </div>
    </div>
    
{%endblock content%}