{% extends 'core/overviews.html' %}
{%load static%}
{%block scripts%}
{{block.super}}
<script>
    $(document).ready(function() {  

        document.body.addEventListener('htmx:afterSwap', function(evt) {   
            if (evt.detail.xhr.status == 200){
                if (evt.detail.pathInfo.path.includes("mark-done")){
                    snackbarShow('Successfully marked lead as done', 'success')
                } else if (evt.detail.pathInfo.path.includes("add-booking")){
                    $('#generic_modal').modal('hide');
                    snackbarShow('Successfully added a booking', 'success')
                } else if (evt.detail.pathInfo.path.includes("log-communication")){
                    $('#generic_modal').modal('hide');
                    snackbarShow('Successfully logged a communication', 'success')
                } else if (evt.detail.pathInfo.path.includes("create-academy-lead")){
                    $('#generic_modal').modal('hide');
                    snackbarShow('Successfully manually created an academy lead', 'success')
                } else if (evt.detail.pathInfo.path.includes("mark-arrived")){
                    $('#generic_modal').modal('hide');
                    snackbarShow('Successfully marked that the customer arrived as booking', 'success')
                } else if (evt.detail.pathInfo.path.includes("mark-sold")){
                    $('#generic_modal').modal('hide');
                    console.log(evt)
                    snackbarShow('Successfully sold to customer', 'success')
                }
            }
            if ($('#noteTable')){
                
            }
            
            $('[data-bs-toggle=popover]').popover();
        });
    });
    function initDataTable() {
        let dt = $('#results_table').DataTable(            
        {  
            order: [[ 2, 'asc' ]],
            iDisplayLength: 10
        }
        );
    }
</script>
{%endblock scripts%}

{%block extra_top_left_buttons %}
<div class="col-md-auto" hx-get="{% url 'get-active-campaign-lists' %}" hx-trigger="load" hx-swap="innerHTML">
    <span id="campaign_list_span">   
        <select class="form-select select2" onchange="snackbarShow('Coming Soon', 'danger')">
            <option>Loading</option>
        </select>    
    </span>
</div>
{%endblock%}

{%block extra_top_right_buttons %}
<div class="col-md-auto">
    <button class="btn btn-primary" 
        data-bs-toggle="popover" 
        data-bs-trigger="hover" 
        data-bs-placement="top"
        data-bs-content="Manually create an academy lead."
        hx-target="#generic_modal_body" 
        hx-include="#create_academy_lead"
        hx-get="{% url 'academy-lead-get-modal-content' %}" 
        hx-push-url="false"
        hx-swap="innerHTML" hx-indicator="#htmx-indicator" hx-trigger="click">
            <i class="fa fa-plus" aria-hidden="true"></i> Manually Add Academy Lead
    </button>
    <input type="text" style="display:None" id="create_academy_lead" name="template_name" value="create_academy_lead"/>
</div>
{%include 'academy_leads/htmx/academy_leads_table_status_toggle_div.html'%}
{%endblock%}

{%block table%}
<input type="text" style="display:None" id="log_communication" name="template_name" value="log_communication"/>
<input type="text" style="display:None" id="communication_history" name="template_name" value="communication_history"/>
<input type="text" style="display:None" id="booking_history" name="template_name" value="booking_history"/>
<input type="text" style="display:None" id="add_booking" name="template_name" value="add_booking"/>
<input type="text" style="display:None" id="pause_whatsapp" name="template_name" value="pause_whatsapp"/>
<br>
{% include 'academy_leads/htmx/academy_leads_table.html' %}
{%endblock table%}