{%load static%}
<div id="content">
    <div class="row">
        <button hidden hx-get="{% url 'analytics' %}" hx-push-url="true" hx-swap="outerHTML" hx-include=".non_site_dependant_results_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
        {%block extra_top_left_buttons %}
        {%include 'core/htmx/site_selection.html'%}
        {%endblock%}
        <div class="col">                
        </div>
        {%block extra_top_right_buttons %}
        {%endblock%}
    </div> 
    <div class="row my-3">
        <div class="col">
            <div class="card p-2">
                <h5>Leads & sales</h5> <small> (Need to add gradient on percentage and time scale based table i.e 3 months shows individual weeks instead) </small>
                <div class="col">
                    {%include 'analytics/htmx/leads_to_sale.html'%}
                </div>
            </div>
        </div>
    </div> 
</div> 