{%load static core_tags%}
<span>    
    <script>
        document.title = "Analytics";
        $(document).ready(function() {
            var leads_per_day_chart_var = null;
            var leads_per_day_chart = null;
            var bookings_per_day_chart_var = null;
            var bookings_per_day_chart = null;
            var sales_per_day_chart_var = null;
            var sales_per_day_chart = null;
    
            var calls_today_chart_var = null;
            var calls_today_chart = null;
            try{
                leads_per_day_chart.destroy();
                bookings_per_day_chart.destroy();
                sales_per_day_chart.destroy();
                calls_today_chart.destroy();
            }catch{}
        });
    </script>

    <div class="row">
        <div class="col" style=""> 
        {%include 'analytics/htmx/analytics_content.html' %}
        </div>
    </div>
<span>
{%if request.META.HTTP_HX_REQUEST%}{%include 'analytics/analytics_overview_under_nav.html'%}{%endif%}