{%load static core_tags%}
<span>    
    <script>
        document.title = "Analytics";
        $(document).ready(function() {
            var leads_per_day_chart_var = null;
            var leads_per_day_chart = null;
            var bookings_per_day_chart_var = null;
            var bookings_per_day_chart = null;
            var sales_per_day_chart_var = null;
            var sales_per_day_chart = null;
    
            var calls_today_chart_var = null;
            var calls_today_chart = null;
            try{
                leads_per_day_chart.destroy();
                bookings_per_day_chart.destroy();
                sales_per_day_chart.destroy();
                calls_today_chart.destroy();
            }catch{}
        });
    </script>


    <div class="row mt-0">
        {%block extra_top_left_buttons %}
        {% comment %} <div class="col-md-auto m-1">
            <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>
        </div> {% endcomment %}
        {%include 'core/htmx/site_selection.html'%}
        {% comment %} {%if sites.count == 1%} {% endcomment %}
        {%include 'campaign_leads/htmx/campaign_category_selection.html'%}
        {%include 'campaign_leads/htmx/campaign_select.html'%}
        {% comment %} {%endif%} {% endcomment %}

        <button hidden hx-get="{% url 'analytics-overview' %}" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_analytics_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
        <button hidden hx-get="{%url 'analytics-overview'%}" onclick="$('#campaign_pk').val('').trigger('change')"
        hx-push-url="false" hx-swap="innerHTML" hx-include=".overview_table_filters, .non_site_dependant_analytics_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_campaign_category" class="btn btn-primary btn-sm"></button>
        <button hidden
            hx-get="{%url 'refresh-analytics'%}"
            hx-swap="outerHTML" hx-push-url="false" hx-include=".non_site_dependant_analytics_filters" hx-indicator="#page_load_indicator" hx-target="#analytics_span_wrapper" id="filter_campaign"></button>

        {% comment %} {%if sites.count == 1%} {% endcomment %}
        {% comment %} <div class="col-md-auto m-1 ps-0" hx-get="{% url 'get-campaign'%}" hx-include=".non_site_dependant_analytics_filters" hx-trigger="load" hx-indicator="#page_load_indicator" hx-target="#campaign_list_wrapper" hx-swap="outerHTML">
            <div id="campaign_list_wrapper">   
                <select class="form-select select2-styling">
                    <option>Loading</option>
                </select>    
            </div>
        </div> {% endcomment %}
        {% comment %} {%endif%} {% endcomment %}

        
        
        {%endblock extra_top_left_buttons %}

        <div class="col">
        </div>

        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="analytics_overview"/>
        {% comment %} <div class="col-md-auto p-0 m-1">
            <span class="badge bg-dark text-white"><h6 class="m-1">Analytics</h6></span>      
        </div> {% endcomment %}
        {%endblock extra_top_right_buttons %}
    </div>

    <div class="row">
        <div class="col" style=""> 
        {%include 'analytics/htmx/analytics_content.html' %}
        </div>
    </div>
<span>