{%load static core_tags%}
<span id="analytics_span_wrapper">

    <div class="row my-3">
        <div class="col-4 analytics_col">
            <div class="card card-white analytics-card card-white">
                <div class="card-header">
                    <h6 class="help m-0" style="min-height:30px"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content="These inputs filter the graphs below by time."><i class="fa-solid fa-circle-info"></i> <b>Filters</b> 
                    </h6> 
                </div>
                <div class="card-body" id="filters_card_body">
                    <div class="row">
                        <div class="col p-0">
                        </div>
                        <div class="col m-1 right p-0">
                            <input id="start_date" value="{%if start_date%}{{start_date}}{%else%}{{''|today_date_tag|add_days:-7|date_to_date_input_prefill}}{%endif%}" 
                                min="{%if not request.user.profile.company.subscription == 'pro'%}{{''|today_date_tag|add_days:-7|date_to_date_input_prefill}}{%else%}{{''|today_date_tag|add_years:-3|date_to_date_input_prefill}}{%endif%}" 
                                max="{{''|today_date_input_tag}}" class="form-control form-control-sm non_site_dependant_analytics_filters" type="date" name="start_date"
                                onchange="$('#refresh_analytics').click();"/>
                        </div>
                        <div class="col-md-auto m-1 p-0">
                            <small>To</small>
                        </div>
                        <div class="col m-1 left p-0">
                            <input id="end_date" value="{%if end_date%}{{end_date}}{%else%}{{''|today_date_input_tag}}{%endif%}" 
                                min="{{''|today_date_tag|add_years:-3|date_to_date_input_prefill}}" 
                                max="{{''|today_date_input_tag}}" class="form-control form-control-sm non_site_dependant_analytics_filters" type="date" name="end_date"
                                onchange="$('#refresh_analytics').click();"/>
                        </div>
                        <div class="col p-0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0">
                        </div>
                        <div class="col-md-auto p-0 m-1 ">
                            <button
                                hx-include=".non_site_dependant_analytics_filters, .site_dependant_analytics_filters" hx-indicator="#page_load_indicator" id="refresh_analytics"
                                onclick="$('.refresh_date_specific_analytic').click(); $('.refresh_non_date_specific_analytic').click();"
                                {% comment %} hx-get="{%url 'refresh-analytics'%}" hx-target="#analytics_span_wrapper" hx-push-url="false" hx-swap="innerHTML"  {% endcomment %}
                                class="btn btn-success btn-sm"><i class="fa-solid fa-arrows-rotate"></i> Refresh</button>
                        </div>
                        <div class="col-md-auto p-0 m-1 right">
                            <button             
                                hx-include="" hx-indicator="#page_load_indicator"
                                hx-get="{%url 'refresh-analytics'%}" hx-target="#analytics_span_wrapper" hx-push-url="false" hx-swap="innerHTML" class="btn btn-warning btn-sm"><i class="fa-solid fa-ban"></i> Reset</button>
                        </div>
                        <div class="col p-0">
                        </div>
                    </div>
                    <hr>
                    Quick Filters
                    <div class="row">
                        <div class="col-md-auto m-1 p-0">
                            <button 
                                class="btn btn-secondary btn-sm quick_filter_date_button {%if end_date == ''|today_date_input_tag and start_date == ''|today_date_input_tag%}active{%endif%}" 
                                onclick="$('#start_date').val('{{''|today_date_tag|date_to_date_input_prefill}}'); $('#end_date').val('{{''|today_date_input_tag}}').trigger('change'); $('.quick_filter_date_button').removeClass('active'); $(this).addClass('active');">
                                <small>{{''|today_date_tag|nice_date_tag}} (day)</small>
                            </button>
                        </div>
                        <div class="col-md-auto m-1 p-0">
                            <button 
                                class="btn btn-secondary btn-sm quick_filter_date_button {%if end_date == ''|today_date_input_tag and start_date == ''|today_date_tag|add_days:-7|date_to_date_input_prefill%}active{%elif not end_date and not start_date%}active{%endif%}" 
                                onclick="$('#start_date').val('{{''|today_date_tag|add_days:-7|date_to_date_input_prefill}}'); $('#end_date').val('{{''|today_date_input_tag}}').trigger('change'); $('.quick_filter_date_button').removeClass('active'); $(this).addClass('active');">
                                <small>{{''|today_date_tag|add_days:-7|nice_date_tag}} (week)</small>
                            </button>
                        </div>
                        <div class="col-md-auto m-1 p-0">
                            <button {%if not request.user.profile.company.subscription == 'pro' and not demo%}disabled{%endif%}
                                class="btn btn-secondary btn-sm quick_filter_date_button {%if end_date == ''|today_date_input_tag and start_date == ''|today_date_tag|add_months:-1|date_to_date_input_prefill%}active{%endif%}" 
                                onclick="$('#start_date').val('{{''|today_date_tag|add_months:-1|date_to_date_input_prefill}}'); $('#end_date').val('{{''|today_date_input_tag}}').trigger('change'); $('.quick_filter_date_button').removeClass('active'); $(this).addClass('active');">
                                <small>{{''|today_date_tag|add_months:-1|nice_date_tag}} (month) {%if not request.user.profile.company.subscription == 'pro'%}<i class="fa-solid fa-rectangle-pro"></i>{%endif%}</small>
                            </button>
                        </div>
                        <div class="col-md-auto m-1 p-0">
                            <button {%if not request.user.profile.company.subscription == 'pro' and not demo%}disabled{%endif%}
                                class="btn btn-secondary btn-sm quick_filter_date_button {%if end_date == ''|today_date_input_tag and start_date == ''|today_date_tag|add_years:-1|date_to_date_input_prefill%}active{%endif%}" 
                                onclick="$('#start_date').val('{{''|today_date_tag|add_years:-1|date_to_date_input_prefill}}'); $('#end_date').val('{{''|today_date_input_tag}}').trigger('change'); $('.quick_filter_date_button').removeClass('active'); $(this).addClass('active');">
                                <small>{{''|today_date_tag|add_years:-1|nice_date_tag}} (year) {%if not request.user.profile.company.subscription == 'pro'%}<i class="fa-solid fa-rectangle-pro"></i>{%endif%}</small>
                            </button>
                        </div>
                    </div>
                </div>
                {%if not request.user.profile.company.subscription == 'pro'%}
                <hr>
                <div class="row">
                    <div class="col p-0 m-0 center">
                        <p>
                            <small>With a <i class="fa-solid fa-rectangle-pro"></i> subscription you can see further back in time!</small>
                        </p>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
        <div class="col analytics_col">
            <button hidden id="refresh_calls_today" hx-trigger="load, click delay:0.5s"
                class="refresh_non_date_specific_analytic"
                hx-get="{%url 'get-calls-today' %}"
                hx-include="#start_date, #end_date, #site_pk, #campaign_pk, #graph_type_calls_today"
                hx-target="#calls_today_card_body"
                hx-indicator="#htmx-indicator-calls-today"
                hx-swap="innerHTML"
                onclick="$('#htmx-indicator-calls-today').addClass('htmx-request'); $('#calls_today_chart_wrapper').empty();">refresh</button>
            <div class="card card-white analytics-card card-white">
                <div class="card-header">
                    <h6 class="help m-0"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content="This shows the amount of calls made today since midnight (filtered by site and campaign above)."><i class="fa-solid fa-circle-info"></i> Calls Today 
                        <img  class="htmx-indicator invert" id="htmx-indicator-calls-today" src="https://htmx.org/img/bars.svg"/>
                    </h6> 
                </div>
                <div class="card-body" id="calls_today_card_body">
                </div>
            </div>
        </div>
        <div class="col analytics_col">
            <button hidden id="refresh_sales_today" hx-trigger="load, click delay:0.5s"
                class="refresh_non_date_specific_analytic"
                hx-get="{%url 'get-sales-today' %}"
                hx-include="#start_date, #end_date, #site_pk, #campaign_pk, #graph_type_sales_today"
                hx-target="#sales_today_card_body"
                hx-indicator="#htmx-indicator-sales-today"
                hx-swap="innerHTML"
                onclick="$('#htmx-indicator-sales-today').addClass('htmx-request'); $('#sales_today_chart_wrapper').empty();">refresh</button>
            <div class="card card-white analytics-card card-white">
                <div class="card-header">
                    <h6 class="help m-0"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content="This shows the amount of sales made today since midnight (filtered by site and campaign above)."><i class="fa-solid fa-circle-info"></i> Sales Today 
                        <img  class="htmx-indicator invert" id="htmx-indicator-sales-today" src="https://htmx.org/img/bars.svg"/>
                    </h6> 
                </div>
                <div class="card-body" id="sales_today_card_body">
                </div>
            </div>
        </div>
    </div>    
    
    <div class="row my-3">
        <div class="col-8 analytics_col">
            <button hidden id="refresh_leads_to_bookings_and_sales" class="refresh_date_specific_analytic" hx-trigger="load, click delay:0.5s"
                hx-get="{%url 'get-leads-to-bookings-and-sales' %}"
                hx-include="#start_date, #end_date, #site_pk, #campaign_pk, #graph_type_leads_to_bookings_and_sales"
                hx-target="#leads_to_bookings_and_sales_card_body"
                hx-indicator="#htmx-indicator-leads-and-bookings"
                hx-swap="innerHTML"
                onclick="$('#htmx-indicator-leads-and-bookings').addClass('htmx-request'); $('#leads_to_bookings_and_sales_chart_wrapper').empty();">refresh</button>
            <div class="card card-white analytics-card card-white">
                <div class="card-header">
                    <h6 class="help m-0"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content='This shows the analytics for Leads and Bookings for the chosen site/campaign per day, between the chosen dates. The "Leads" bar/line indicates the number of unique leads received, the "Bookings" bar/line indicates the number of those leads that were successfully marked as sold.'><i class="fa-solid fa-circle-info"></i> Leads to Bookings and Sales 
                        <img  class="htmx-indicator invert" id="htmx-indicator-leads-and-bookings" src="https://htmx.org/img/bars.svg"/>
                    </h6> 
                </div>
                <div class="card-body" id="leads_to_bookings_and_sales_card_body">
                    
                </div>
            </div>
        </div>
        
        <div class="col-4 analytics_col">
            <button hidden id="refresh_calls_made_per_day" class="refresh_date_specific_analytic" hx-trigger="load, click delay:0.5s"
                hx-get="{%url 'get-calls-made-per-day' %}"
                hx-include="#start_date, #end_date, #site_pk, #campaign_pk, #graph_type_calls_made_per_day"
                hx-target="#calls_made_per_day_card_body"
                hx-indicator="#htmx-indicator-calls-made-per-day"
                hx-swap="innerHTML"
                onclick="$('#htmx-indicator-calls-made-per-day').addClass('htmx-request'); $('#calls_made_per_day_chart_wrapper').empty();">refresh</button>
            <div class="card card-white analytics-card card-white">
                <div class="card-header">
                    <h6 class="help m-0"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content="This shows the number of calls made per day for the chosen site and/or campaign (top left), between the times chosen (right)."><i class="fa-solid fa-circle-info"></i> Calls Made Per Day 
                        <img  class="htmx-indicator invert" id="htmx-indicator-calls-made-per-day" src="https://htmx.org/img/bars.svg"/>
                    </h6> 
                </div>
                <div class="card-body" id="calls_made_per_day_card_body">
                </div>
            </div>
        </div>
    </div> 
    <div class="row my-3">    
        <div class="col analytics_col">
            <button hidden id="refresh_pipeline" class="refresh_date_specific_analytic" hx-trigger="load, click delay:0.5s"
                    hx-get="{%url 'get-pipeline' %}"
                    hx-include="#start_date, #end_date, #site_pk, #campaign_pk"
                    hx-target="#pipeline_body"
                    hx-indicator="#htmx-indicator-pipeline"
                    hx-swap="innerHTML"
                    onclick="$('#htmx-indicator-pipeline').addClass('htmx-request')">refresh</button>
            <div class="card card-white analytics-card card-white" style="min-width: 500px;">
                <div class="card-header">
                    <h6 class="help m-0"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content="This shows the potential monetary value of leads <b>created</b> between the shown dates that were successfully marked as sold, still live or closed without being sold (filtered by site and campaign above)."><i class="fa-solid fa-circle-info"></i> Pipeline & Conversion Rate  {%if not request.user.profile.company.subscription == 'pro'%}<i class="fa-solid fa-rectangle-pro"></i>{%endif%}
                        <img  class="htmx-indicator invert" id="htmx-indicator-pipeline" src="https://htmx.org/img/bars.svg"/>
                    </h6> 
                </div>
                <div class="card-body" id="pipeline_body">
                    
                </div>
            </div> 
        </div>
        <div class="col analytics_col">
            {%if request.user.profile.company.subscription == 'pro'%}
            <button hidden id="refresh_current_call_count_distribution" hx-trigger="load, click delay:0.5s"
                class="refresh_non_date_specific_analytic"
                hx-get="{%url 'get-current-call-count-distribution' %}"
                hx-include="#start_date, #end_date, #site_pk, #campaign_pk, #graph_type_current_call_count_distribution"
                hx-target="#current_call_count_distribution_card_body"
                hx-indicator="#htmx-indicator-current-call-count-distribution"
                hx-swap="innerHTML"
                onclick="$('#htmx-indicator-current-call-count-distribution').addClass('htmx-request'); ">refresh</button>
            {%endif%}
            <div class="card card-white analytics-card card-white" style="min-width: 500px;">
                <div class="card-header">
                    <h6 class="help m-0"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content="This shows the <b>current</b> distribution of leads in each call count column on the <b>Leads</b> page (filtered by site and campaign above)."><i class="fa-solid fa-circle-info"></i> Current Call Count Distribution  {%if not request.user.profile.company.subscription == 'pro'%}<i class="fa-solid fa-rectangle-pro"></i>{%endif%}
                        <img class="htmx-indicator invert" id="htmx-indicator-current-call-count-distribution" src="https://htmx.org/img/bars.svg"/>
                    </h6> 
                        
                </div>
                <div class="card-body" id="{%if request.user.profile.company.subscription == 'pro'%}current_call_count_distribution_card_body{%endif%}">                    
                    {%if not request.user.profile.company.subscription == 'pro'%}<small>Extra analytics can be unlocked through a <i class="fa-solid fa-rectangle-pro"></i> subscription!</small>{%endif%}
                </div>
            </div>
        </div>
    </div> 
    
</span>