{%load static%}

<span id="base_analytics_span_wrapper">
    <div class="row my-3">
        <div class="col">
            <div class="card p-2">
                <div class="row">
                    <div class="col-md-auto">
                        <h5 data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="top"
                        data-bs-html="true"
                        data-bs-content="This shows ...">Opportunities <i class="fa-solid fa-circle-info"></i></h5> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <span class="secondary_td_layer">{{start_date}} - {{end_date}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col center">
                        <h1>{{opportunities_count}}</h1>
                    </div>
                </div>
                <div class="row" style="color:green">
                    <div class="col center">
                        Closed
                    </div>
                    <div class="col center">
                        {{closed_opportunities_count}}
                    </div>
                </div>
                <div class="row" style="color:grey">
                    <div class="col center">
                        Live
                    </div>
                    <div class="col center">
                        {{live_opportunities_count}}
                    </div>
                </div>
                <div class="row" style="color:red">
                    <div class="col center">
                        Lost
                    </div>
                    <div class="col center">
                        {{lost_opportunities_count}}
                    </div>
                </div>
            </div> 
        </div>            
        <div class="col-md-auto center">
            <img  class="htmx-indicator htmx-indicator-base-analytics" src="https://htmx.org/img/bars.svg"/>
        </div>
        <div class="col">
            <div class="card p-2">
                <div class="row">
                    <div class="col-md-auto">
                        <h5 data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="top"
                        data-bs-html="true"
                        data-bs-content="This shows ...">Pipeline Value <i class="fa-solid fa-circle-info"></i></h5> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <span class="secondary_td_layer">{{start_date}} - {{end_date}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col center">
                        <h1>£{{opportunities_value|floatformat:2}}</h1>
                    </div>
                </div>
                <div class="row" style="color:green">
                    <div class="col center">
                        Closed
                    </div>
                    <div class="col center">
                        £{{closed_value|floatformat:2}}
                    </div>
                </div>
                <div class="row" style="color:grey">
                    <div class="col center">
                        Live
                    </div>
                    <div class="col center">
                        £{{live_value|floatformat:2}}
                    </div>
                </div>
                <div class="row" style="color:red">
                    <div class="col center">
                        Lost
                    </div>
                    <div class="col center">
                        £{{lost_value|floatformat:2}}
                    </div>
                </div>
            </div> 
        </div>
    </div> 
</span>