{%load core_tags%}
<div class="row">
    <div class="col-md-auto p-0">
        <div class="row" style="margin-left:0px !important;">
            <div class="col right">
                <small>Bar</small>
            </div>

            <div class="col-md-auto p-0">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="graph_type" {%if graph_type == 'line'%}checked{%endif%} type="checkbox" id="graph_type_bookings_per_day" onchange="$('#refresh_bookings_per_day').click()">
                </div> 
            </div>

            <div class="col-md-auto" style="text-align:left; padding-left:5px">
                <small>Line</small>
            </div>
        </div>
    </div>
    <div class="col p-0">
    </div>
    <div class="col-md-auto p-0">
        <span class="secondary_td_layer">{{start_date}} - {{end_date}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col p-0">
        <div class="chart_wrapper center" id="bookings_per_day_chart_wrapper">            
            {%if data_set%}
            <canvas class="chart_canvas" id="bookings_per_day_chart" ></canvas>
            {%else%}
            No Data
            {%endif%}
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {       
        {%if data_set%}
        setTimeout(function(){
            bookings_per_day_chart_var = document.getElementById('bookings_per_day_chart');
            bookings_per_day_chart = new Chart(bookings_per_day_chart_var, {
                type: '{%if graph_type%}{{graph_type}}{%else%}bar{%endif%}',
                data: {
                    labels: [{%for label in time_label_set%}'{{label}}'{% if not forloop.last %},{%endif%}{%endfor%}],
                    datasets: [{
                        label: 'Bookings',
                        data: [{%for data_entry in data_set%}{{data_entry.bookings}}{% if not forloop.last %},{%endif%}{%endfor%}],
                        backgroundColor: [{%for data_entry in data_set%}'rgba(13, 110, 253, 0.35)'{% if not forloop.last %},{%endif%}{%endfor%}],
                        borderColor: [{%for data_entry in data_set%}'rgba(13, 110, 253, 0.7)'{% if not forloop.last %},{%endif%}{%endfor%}],
                        fill: true,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {      
                        y: {
                            beginAtZero: true,
                            ticks: {
                            beginAtZero: true,
                            callback: function(value) {if (value % 1 === 0) {return value;} }
                            }
                        },
                        xAxis: {
                            type: "time",
                            time: {
                                displayFormats: {
                                    hour: "hA"
                                },
                                unit: "day",
                            },
                            display: true,
                            ticks: {
                                reverse: true
                            },
                            gridLines: { display: false }
                        }
                    },
                    responsive: true
                }
            });
        }, 250);      
        {%endif%}           
    });
</script>