{%load core_tags%}
<span>
<canvas height="100" width="100%" id="calls_made_chart" ></canvas>
</span>

<script>
    $(document).ready(function() {
        calls_made_chart_var = document.getElementById('calls_made_chart');
        calls_made_chart = new Chart(calls_made_chart_var, {
            type: '{%if graph_type%}{{graph_type}}{%else%}bar{%endif%}',
            data: {
                labels: [{%for label in time_label_set%}'{{label    }}'{% if not forloop.last %},{%endif%}{%endfor%}],
                datasets: [{
                    label: 'Calls',
                    data: [{%for data_entry in data_set%}{{data_entry.total_calls}}{% if not forloop.last %},{%endif%}{%endfor%}],
                    backgroundColor: 'rgba(180, 180, 180, 0.35)',
                    borderColor: 'rgba(180, 180, 180, 0.7)',
                    fill: true,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;}}
                        }
                    }
                },
                responsive: false
            }
        });
    });
</script>