{%load core_tags%}
<div class="row">
    <div class="col center">
        <div class="row" style="margin-left:0px !important;">
            <div class="col p-0">
            </div>
            <div class="col-md-auto" style="text-align:left; padding-left:5px">
                <small>Doughnut</small>
            </div>

            <div class="col-md-auto p-0">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="graph_type" {%if graph_type == 'polarArea'%}checked{%endif%} type="checkbox" id="graph_type_calls_today" onchange="$('#refresh_calls_today').click()">
                </div> 
            </div>

            <div class="col-md-auto right ps-0">
                <small>Polar Area</small>
            </div>
            <div class="col p-0">
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col p-0">
    </div>
    {%if data_set%}
    <div class="col-md-auto p-0 center">
        <div class="">
            <h6>{{raw_qs.count}} Calls</h6>
        </div>
        <div class="chart_wrapper_long" id="calls_today_chart_wrapper">
            <canvas class="chart_canvas" id="calls_today_chart" ></canvas>
        </div>
    </div>
    {%else%}
    <div class="col-md-auto p-0">
        No Data
    </div>
    {%endif%}
    <div class="col p-0">
    </div>
</div>

<script>
    console.log([{%for profile_pk, data_dict in data_set.items%}'{{data_dict.data}}',{%endfor%}])
    $(document).ready(function() {
        setTimeout(function(){
            calls_today_chart_var = document.getElementById('calls_today_chart');
            calls_today_chart = new Chart(calls_today_chart_var, {
                type: '{%if graph_type%}{{graph_type}}{%else%}polarArea{%endif%}',
                data: {
                    labels: [{%for profile_pk, data_dict in data_set.items%}'{{data_dict.name}}',{%endfor%}],
                    datasets: [{
                        label: 'Sales',
                        data: [{%for profile_pk, data_dict in data_set.items%}'{{data_dict.data}}',{%endfor%}],
                        backgroundColor: [{%for profile_pk, data_dict in data_set.items%}'rgba({{data_dict.color}},{%if graph_type == 'polarArea'%}0.5{%else%}1.0{%endif%})',{%endfor%}],
                        borderColor: [{%for profile_pk, data_dict in data_set.items%}'rgba({{data_dict.color}},1)',{%endfor%}],
                        fill: true,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }, 250); 
    });
</script>