<div class="row">
    <div class="col">
    </div>
    <div class="col-md-auto center" style="text-align:left">
        {%for call_count_tuple in call_counts_tuples%}
        <div class="row  center">
            <div class="col p-0">
            </div>
            <div class="col-md-auto p-0" style="min-width:80px; color:blue; center;">
                Call {{call_count_tuple.0}} ({{call_count_tuple.1}})
            </div>
            <div class="col-md-auto p-0 center" style="min-width:20px">
                - 
            </div>
            <div class="col-md-auto p-0" style="min-width:80px; color:green; center;">
                £{%if call_count_tuple.2.campaign__product_cost__sum|%}{{call_count_tuple.2.campaign__product_cost__sum|floatformat:2}}{%else%}0.00{%endif%}
            </div>
            <div class="col-md-auto p-0 center" style="min-width:20px">
                - 
            </div>
            <div class="col-md-auto p-0" style="min-width:80px; color:red; center;">
                ({{call_count_tuple.3|floatformat:2}}%)
            </div>
            <div class="col p-0">
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="col">
    </div>
</div>