{%load core_tags%}
<div class="row">
    <div class="col">
    </div>
    <div class="col-md-auto center" style="text-align:left">
        {%if call_counts_tuples%}
        {%for call_count_tuple in call_counts_tuples%}
        {% with call_count_tuple.3|percentage_to_colour as percentage_to_colour %}
        <div class="row  center" style="color:rgba(9, 0, 119, {{call_count_tuple.3|percentage_to_opacity}}); font-weight:{{call_count_tuple.3|percentage_to_font_weight}};">
            <div class="col p-0">
            </div>
            <div class="col-md-auto p-0" style="min-width:80px; center;">
                Call {{call_count_tuple.0}} ({{call_count_tuple.1}})
            </div>
            <div class="col-md-auto p-0 center" style="min-width:20px">
                - 
            </div>
            <div class="col-md-auto p-0" style="min-width:80px; center;">
                £{%if call_count_tuple.2.product_cost__sum%}{{call_count_tuple.2.product_cost__sum|floatformat:2}}{%else%}0.00{%endif%}
            </div>
            <div class="col-md-auto p-0 center" style="min-width:20px">
                - 
            </div>
            <div class="col-md-auto p-0" style="min-width:80px; center;">
                ({{call_count_tuple.3|floatformat:2}}%)
            </div>
            <div class="col p-0">
            </div>
        </div>
        {% endwith %}
        {%endfor%}
        {%else%}
        No Data Yet
        {%endif%}
    </div>
    <div class="col">
    </div>
</div>