{%load core_tags%}
<span>
<canvas height="100" width="100%" id="leads_to_bookings_chart" ></canvas>
</span>
            
<span hx-swap-oob="true" id="lead_to_bookings_table_wrapper">
    <div class="table-wrapper m-3" id="lead_to_bookings_table_wrapper">  
        <table id="leads_to_booking_table" class="fl-table">
            <thead> 
                <tr class="over_header">
                    {%for label in time_label_set%}
                    <th colspan="3" class="month_header">
                        {{label}}
                    </th>
                    {%endfor%}
                </tr>
                <tr>
                    {%for label in time_label_set%}
                    <th>
                        L
                    </th>
                    <th>
                        B
                    </th>
                    <th>
                        %
                    </th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {%for data_entry in data_set%}
                    <td>
                        {{data_entry.leads}}
                    </td>
                    <td>
                        {{data_entry.bookings}}
                    </td>
                    <td style="background-color:{{data_entry.percentage|percentage_to_colour:0.5}}">
                        {{data_entry.percentage|floatformat:0}}
                    </td>
                    {%endfor%}
                </tr>
            </tbody>
        </table>
                
    </div>
</span>
<script>
leads_to_booking_chart_var = document.getElementById('leads_to_bookings_chart');
leads_to_bookings_chart = new Chart(leads_to_booking_chart_var, {
    type: '{%if graph_type%}{{graph_type}}{%else%}bar{%endif%}',
    data: {
        labels: [{%for label in time_label_set%}'{{label}}'{% if not forloop.last %},{%endif%}{%endfor%}],
        datasets: [{
            label: 'Leads',
            data: [{%for data_entry in data_set%}{{data_entry.leads}}{% if not forloop.last %},{%endif%}{%endfor%}],
            backgroundColor: 'rgba(180, 180, 180, 0.35)',
            borderColor: 'rgba(180, 180, 180, 0.7)',
            fill: true,
            borderWidth: 1
        }, {
            label: 'Bookings',
            data: [{%for data_entry in data_set%}{{data_entry.bookings}}{% if not forloop.last %},{%endif%}{%endfor%}],
            backgroundColor: [{%for data_entry in data_set%}'{{data_entry.percentage|percentage_to_colour:0.35}}'{% if not forloop.last %},{%endif%}{%endfor%}],
            borderColor: [{%for data_entry in data_set%}'{{data_entry.percentage|percentage_to_colour:0.7}}'{% if not forloop.last %},{%endif%}{%endfor%}],
            fill: true,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                  beginAtZero: true,
                  callback: function(value) {if (value % 1 === 0) {return value;}}
                }
            }
        },
        responive: false
    }
});
</script>