{%load core_tags%}
<div class="row">
    <div class="col-md-auto p-0">
        <div class="row" style="margin-left:0px !important;">
            <div class="col right">
                <small>Bar</small>
            </div>

            <div class="col-md-auto p-0">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="graph_type" {%if graph_type == 'line'%}checked{%endif%} type="checkbox" id="graph_type_leads_to_sales" onchange="$('#refresh_leads_to_sales').click()">
                </div> 
            </div>

            <div class="col-md-auto" style="text-align:left; padding-left:5px">
                <small>Line</small>
            </div>
        </div>
    </div>
    <div class="col p-0">
    </div>
    <div class="col-md-auto p-0">
        <span class="secondary_td_layer">{{start_date}} - {{end_date}}</span>
    </div>
</div>

<div class="row">
    <div class="col p-0">
        <div class="chart_wrapper" id="leads_to_sales_chart_wrapper">
            <canvas id="leads_to_sales_chart" ></canvas>
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        leads_to_sales_chart_var = document.getElementById('leads_to_sales_chart');
        leads_to_sales_chart = new Chart(leads_to_sales_chart_var, {
            type: '{%if graph_type%}{{graph_type}}{%else%}bar{%endif%}',
            data: {
                labels: [{%for label in time_label_set%}'{{label}}'{% if not forloop.last %},{%endif%}{%endfor%}],
                datasets: [{
                    label: 'Leads',
                    data: [{%for data_entry in data_set%}{{data_entry.leads}}{% if not forloop.last %},{%endif%}{%endfor%}],
                    backgroundColor: 'rgba(180, 180, 180, 0.4)',
                    borderColor: 'rgba(180, 180, 180, 0.85)',
                    fill: true,
                    borderWidth: 1
                }, {
                    label: 'Sales',
                    data: [{%for data_entry in data_set%}{{data_entry.sales}}{% if not forloop.last %},{%endif%}{%endfor%}],
                    backgroundColor: [{%for data_entry in data_set%}'{{data_entry.percentage|percentage_to_colour:0.35}}'{% if not forloop.last %},{%endif%}{%endfor%}],
                    borderColor: [{%for data_entry in data_set%}'{{data_entry.percentage|percentage_to_colour:0.7}}'{% if not forloop.last %},{%endif%}{%endfor%}],
                    fill: true,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {      
                    y: {
                        beginAtZero: true,
                        ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;} }
                        }
                    },
                    xAxis: {
                        type: "time",
                        time: {
                            displayFormats: {
                                hour: "hA"
                            },
                            unit: "day",
                        },
                        display: true,
                        ticks: {
                            reverse: true
                        },
                        gridLines: { display: false }
                    }
                },
                responsive: true
            }
        });
    });
</script>