{%load core_tags%}


<div class="row">
    <div class="col-3">
        <div class="" id="lead_to_sales_chart_wrapper">
        </div>
    </div>
    <div class="col">
        <div class="row">
            <button hidden id="refresh_lead_to_sales" hx-trigger="load, click delay:0.5s"
                hx-get="{%url 'get-leads-to-sales' %}"
                hx-include="#start_date, #end_date, #site_pk"
                hx-target="#lead_to_sales_chart_wrapper"
                hx-swap="innerHTML">refresh</button>
            <div class="col">
            </div>
            <div class="col-md-auto right">
                <input id="start_date" value="{{''|today_date_tag|add_year:-1|add_month:1|date_to_date_input_prefill}}" class="form-control form-control-sm" type="date" name="start_date"
                onchange="$('#refresh_lead_to_sales').click()"/>
            </div>
            <div class="col-md-auto">
                To
            </div>
            <div class="col-md-auto left">
                <input id="end_date" value="{{''|today_date_input_tag}}" class="form-control form-control-sm" type="date" name="end_date"
                onchange="$('#refresh_lead_to_sales').click()"/>
            </div>
            <div class="col">
            </div>
        </div>
        <span id="lead_to_sales_table_wrapper">            
        </span>
    </div>
</div>
