{%load core_tags%}
<table id="leads_to_sale_table" class="table analytics_table">
    <thead> 
        <tr>
            {%for month, year in date_tuples%}
            <th colspan="3" class="month_header">
                {{month|month_name}} {{year}}
            </th>
            {%endfor%}
        </tr>
        <tr>
            {%for month, year in date_tuples%}
            <th>
                Leads
            </th>
            <th>
                Sales
            </th>
            <th>
                %
            </th>
            {%endfor%}
        </tr>
    </thead>
    <tbody>
        <tr>
            {%for data_entry in dataset%}
            <td>
                {{data_entry.leads}}
            </td>
            <td>
                {{data_entry.sold}}
            </td>
            <td>
                {{data_entry.percentage}}
            </td>
            {%endfor%}
        </tr>
    </tbody>
</table>