{%load core_tags%}


<div class="row">
    <div class="col-3">
        <div class="" id="lead_to_sales_chart_wrapper">
        </div>
    </div>
    <div class="col">
        <div class="row">
            
            <div class="col center">
                <img  class="htmx-indicator" id="htmx-indicator-leads-and-sales" src="https://htmx.org/img/bars.svg"/>
            </div>

            <div class="col-md-auto right">
                <div class="row" style="margin-left:0px !important; min-width:300px;">
                    <div class="col" style="text-align:right">
                        <small>Line</small>
                    </div>
    
                    <div class="col-md-auto p-0">
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="graph_type" checked type="checkbox" id="graph_type_leads_to_sale" onchange="$('#refresh_lead_to_sales').click()">
                        </div>
                    </div>
    
                    <div class="col-md-auto" style="text-align:left; padding-left:5px">
                        <small>Bar</small>
                    </div>
                </div>
            </div>
        </div>
        <span id="lead_to_sales_table_wrapper">            
        </span>
    </div>
</div>
