{%load core_tags%}
<div class="row">
    <div class="col-md-auto p-0">
        {% comment %} <div class="row" style="margin-left:0px !important;">
            <div class="col right">
                <small>Bar</small>
            </div>

            <div class="col-md-auto p-0">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="graph_type" {%if graph_type == 'line'%}checked{%endif%} type="checkbox" id="graph_type_sales_per_day" onchange="$('#refresh_sales_per_day').click()">
                </div> 
            </div>

            <div class="col-md-auto" style="text-align:left; padding-left:5px">
                <small>Line</small>
            </div>
        </div> {% endcomment %}
    </div>
    <div class="col p-0">
    </div>
    <div class="col-md-auto p-0">
        <span class="secondary_td_layer">{{start_date}} - {{end_date}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col p-0">
        <div class="chart_wrapper center" id="sales_per_day_chart_wrapper">
            {%if data_set%}
            <canvas class="chart_canvas" id="sales_per_day_chart" ></canvas>
            {%else%}
            No Data
            {%endif%}
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        var background_color_random_list = []
        var border_color_random_list = []
        {%for user, data_entries in data_set.items%}
            var [backgroundColor, borderColor] = dynamicColors(0.5, 1)
            background_color_random_list.push(backgroundColor)
            border_color_random_list.push(borderColor)    
        {%endfor%}
        console.log(background_color_random_list)
        {%if data_set%}
        setTimeout(function(){
            sales_per_day_chart_var = document.getElementById('sales_per_day_chart');
            sales_per_day_chart = new Chart(sales_per_day_chart_var, {
                type: 'bar',
                data: {
                    labels: [{%for label in time_label_set%}'{{label}}'{% if not forloop.last %},{%endif%}{%endfor%}],                    
                    datasets: [
                        {%for user, data_entries in data_set.items%}{
                            label: '{{user}}',
                            data: [{%for data_entry in data_entries%}'{{data_entry}}'{% if not forloop.last %},{%endif%}{%endfor%}],
                            backgroundColor: background_color_random_list[{{ forloop.counter0 }}],
                            borderColor: border_color_random_list[{{ forloop.counter0 }}],
                            fill: true,
                            borderWidth: 1
                        },
                        {%endfor%}
                    ]
                },
                options: {
                    scales: {      
                        y: {
                            stacked: true,
                            beginAtZero: true,
                            ticks: {
                            beginAtZero: true,
                            callback: function(value) {if (value % 1 === 0) {return value;} }
                            }
                        },
                        x: {
                            stacked: true,
                            type: "time",
                            time: {
                                displayFormats: {
                                    hour: "hA"
                                },
                                unit: "day",
                            },
                            display: true,
                            ticks: {
                                reverse: true
                            },
                            gridLines: { display: false }
                        }
                    },
                    responsive: true,
                    plugins: {
                        legend:{
                            display:false
                        },
                    }
                }
            });
        }, 250);  
        {%endif%}               
    });
</script>