{%load core_tags%}
<div class="row">
    <div class="col-md-auto p-0">
        <div class="row" style="margin-left:0px !important;">
            <div class="col-md-auto" style="text-align:left; padding-left:5px">
                <small>Doughnut</small>
            </div>

            <div class="col-md-auto p-0">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="graph_type" {%if graph_type == 'polarArea'%}checked{%endif%} type="checkbox" id="graph_type_sales_today" onchange="$('#refresh_sales_today').click()">
                </div> 
            </div>

            <div class="col right">
                <small>Polar Area</small>
            </div>
        </div>
    </div>

    <div class="col">
    </div>

    <div class="col-md-auto p-0">
        <h5>{{raw_qs.count}} Sales</h5>
    </div>
</div>

<div class="row">
    <div class="col p-0">
    </div>
    {%if data_set%}
    <div class="col-md-auto p-0">
        <div class="chart_wrapper_long" id="sales_today_chart_wrapper">
            <canvas class="chart_canvas" id="sales_today_chart" ></canvas>
        </div>
    </div>
    {%else%}
    <div class="col-md-auto p-0">
        No data, no pastry!
    </div>
    {%endif%}
    <div class="col p-0">
    </div>
</div>



<script>
    {%if data_set%}
    var dynamicColors = function() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };
    var color_random_list = []
    {%for data_set_tuple in data_set%}
    color_random_list.push(dynamicColors());
    {%endfor%}
    $(document).ready(function() {
        sales_today_chart_var = document.getElementById('sales_today_chart');
        sales_today_chart = new Chart(sales_today_chart_var, {
            type: '{%if graph_type%}{{graph_type}}{%else%}polarArea{%endif%}',
            data: {
                labels: [{%for data_set_tuple in data_set%}'{{data_set_tuple.0}}'{% if not forloop.last %},{%endif%}{%endfor%}],
                datasets: [{
                    label: 'Sales',
                    data: [{%for data_set_tuple in data_set%}'{{data_set_tuple.1}}'{% if not forloop.last %},{%endif%}{%endfor%}],
                    backgroundColor: color_random_list,
                    borderColor: color_random_list,
                    fill: true,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
    });
    {%endif%}
</script>