{%load static core_tags tz%}
<tr id="row_{{lead.pk}}" class="{% if lead.complete and not lead.sold%}danger-tr{% elif lead.sold %}complete-tr{%endif%}">
    <td class="double_layer_td">
        <input type="text" style="display:None" id="lead_pk_{{lead.pk}}" name="lead_pk" value="{{lead.pk}}"/>
        <span class="primary_td_layer">{{lead.name}} {%if lead.possible_duplicate%}<i class="fa-solid fa-triangle-exclamation"
            data-bs-toggle="popover" 
            data-bs-trigger="hover" 
            data-bs-placement="top"
            data-bs-content="This is a possible duplicate"></i>{%endif%}</span>
        <br>
        <span class="secondary_td_layer"><a style="text-decoration: none; color: #25d366" class="nowrap" target="_blank" href="whatsapp://send?phone={{lead.country_code}}{{lead.phone}}&text=Hi {{lead.first_name}}, I'm {{request.user.first_name}}"><i class="fa fa-whatsapp" aria-hidden="true"></i> +{{lead.country_code}} {{lead.phone}}</a></span>        
    </td>
    <td class="nowrap">
        {%if lead.complete and not lead.sold%}
            <span class="legend-indicator bg-danger"></span>Archived
        {% elif lead.complete %}
        <span class="legend-indicator bg-success"></span>Complete
        {%else%}
            <span class="legend-indicator bg-primary"></span>Active
        {%endif%}
    </td>
    <td class="double_layer_td">
        {%with lead.created|timezone:'Europe/London' as created%}
        <span hidden>{{created|timestamp}}</span>
        <span class="primary_td_layer">{{created.date}}</span>
        <br>
        <span class="secondary_td_layer">{{created.time}}</span> 
        {%endwith%}  
    </td>
    <td class="double_layer_td">
        {% comment %} Live Well Female {% endcomment %}        
        <span class="primary_td_layer">{{lead.active_campaign_list.name}}</span>
        <br>
        <span class="secondary_td_layer">{{lead.active_campaign_list.site.name}}</span>
    </td>
    <td>                 
        <span class="primary_td_layer">
            {{lead.booking_set.all.0.datetime.date}} 
            {%if lead.booking_set.all.0.type == 'a'%}
                <i class="fa-solid fa-person"
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-placement="top"
                data-bs-content="This appointment is in person"></i>
            {%elif lead.booking_set.all.0.type == 'b'%}
                <i class="fa-solid fa-phone"
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-placement="top"
                data-bs-content="This appointment is over the phone"></i>
            {%endif%}
        </span>
        <br>
        <span class="secondary_td_layer">
            {{lead.booking_set.all.0.datetime.time}}
        </span>         
    </td>
    <td>
        {% with lead.time_until_next_whatsapp as time_until_next_whatsapp %}  
        <span class="primary_td_layer">
            {{time_until_next_whatsapp.date}} 
        </span>
        <br>
        <span class="secondary_td_layer">
            {{time_until_next_whatsapp.time}}
        </span>  
        {%endwith%}
    </td>
    <td class="double_layer_td">       
        <span class="primary_td_layer">           
            <div class="btn-group btn-space mb-1">
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Log a text message communication attempt"
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#log_communication"
                    hx-get="{% url 'academy-lead-get-modal-content' param1=lead.pk param2='d' %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML"><i class="fa-sharp fa-regular fa-message-sms"></i></button>
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Log an email communication attempt"
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#log_communication"
                    hx-get="{% url 'academy-lead-get-modal-content' param1=lead.pk param2='c' %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Log a phone call communication attempt"
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#log_communication"
                    hx-get="{% url 'academy-lead-get-modal-content' param1=lead.pk param2='a' %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click"><i class="fa fa-phone" aria-hidden="true"></i></button>
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Add a booking"
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#add_booking"
                    hx-get="{% url 'academy-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See communication history for this lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#communication_history"
                    hx-get="{% url 'academy-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click"><i class="fa-regular fa-clock-rotate-left" ></i> <span style="color:Silver">{{lead.communication_set.all.count}}</span></button>
            </div>
        </span>
        {% comment %} {% if request.user.is_superuser%}            
            <button class="btn btn-sm btn-success" hx-include="#lead_pk_{{lead.pk}}"
            hx-post="{% url 'test-whatsapp-message' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}">Test WhatsApp</button>
        {%endif%} {% endcomment %}
        <br>
        <span class="secondary_td_layer">     
            <div class="btn-group btn-space mt-1">     
                {%include 'academy_leads/htmx/arrived_button.html'%}
                {%include 'academy_leads/htmx/sold_button.html'%}
                {%if lead.complete%}
                    <button class="btn btn-danger btn-sm nowrap" hx-include="#lead_pk_{{lead.pk}}"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Unarchive this lead"
                        hx-post="{% url 'mark-done' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}"><i class="fa-regular fa-box-archive"></i></button>
                {%else%}
                    <button class="btn btn-success btn-sm nowrap" hx-include="#lead_pk_{{lead.pk}}"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Archive this lead"
                        hx-post="{% url 'mark-done' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}"><i class="fa-regular fa-box-archive"></i></button>
                {%endif%} 
            </div>
        </span>




        
    </td>
</tr>