

{%if request.GET.complete%}
<div hx-swap-oob="true" class="col-md-auto" id="swap_status_button">
    <button class="btn btn-success" style="width:180px"
        hx-target="#results_table" 
        hx-get="{% url 'academy-leads-overview' %}" 
        hx-push-url="false"
        hx-swap="outerHTML" hx-indicator="#htmx-indicator" hx-trigger="click"><i class="fa-regular fa-wave-pulse"></i> Show Active</button>        
</div>
{%else%}
<div hx-swap-oob="true" class="col-md-auto" id="swap_status_button">
    <button class="btn btn-warning" style=""
        hx-target="#results_table" 
        hx-get="{% url 'academy-leads-overview' %}?complete=True" 
        hx-push-url="false"
        hx-swap="outerHTML" hx-indicator="#htmx-indicator" hx-trigger="click"><i class="fa-regular fa-box-archive"></i> Show Archived & Complete</button>
</div>
{%endif%}