
{%load static%}
<table id="results_table" class="table"> 
    <thead> 
        <tr>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Lead Date
            </th>
            <th>
                Ad Campaign
            </th>
            <th>
                Booked
            </th>
            <th>
                Next Auto Whatsapp
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody> 
        {%for lead in leads%}
        {%include 'academy_leads/htmx/academy_lead_row.html'%}
        {%endfor%}
    </tbody>
</table>