

{%if request.GET.complete == 'true' or request.GET.complete == True%}
<div hx-swap-oob="true" class="col-md-auto" id="swap_status_button">
    <button class="btn btn-success btn-sm"
        hx-indicator=".top-htmx-indicator" hx-target="#results_table" 
        hx-get="{% url 'academy-leads-overview' %}" 
        hx-push-url="true"
        {% comment %} hx-swap="outerHTML" hx-include=".results_table_filters:not(#current_status),#change_status" hx-trigger="click"><i class="fa-regular fa-wave-pulse"></i> Show Active</button>       {% endcomment %}
        hx-swap="outerHTML" hx-include=".results_table_filters:not(#current_status),#change_status" hx-trigger="click"><i class="fa-regular fa-box-archive"></i> Show Archived & Complete <span class="badge bg-light bg-light-border">{{complete_count}}</span></button>      
        <input type="text" style="display:None" id="current_status" class="results_table_filters non_site_dependant_results_table_filters" name="complete" value="true"/>  
        <input type="text" style="display:None" id="change_status" name="complete" value="false"/>
</div>
{%else%}
<div hx-swap-oob="true" class="col-md-auto" id="swap_status_button">
    <button class="btn btn-light bg-light-border btn-sm" style=""
        hx-indicator=".top-htmx-indicator" hx-target="#results_table" 
        hx-get="{% url 'academy-leads-overview' %}" 
        hx-push-url="true"
        hx-swap="outerHTML" hx-include=".results_table_filters:not(#current_status),#change_status" hx-trigger="click"><i class="fa-regular fa-box-archive"></i> Show Archived & Complete <span class="badge bg-primary">{{complete_count}}</span></button>
        <input type="text" style="display:None" id="current_status" class="results_table_filters non_site_dependant_results_table_filters" name="complete" value="false"/>
        <input type="text" style="display:None" id="change_status" name="complete" value="true"/>
</div>
{%endif%}