{%load static%}
<span>
    <div class="row">
        <div class="col center" >
            <select class="form-select add_user_input my-3" name="site_pk">
                {% comment %} <option value="">Show All Sites</option> {% endcomment %}
                {%for site in site_list%}
                <option value="{{site.pk}}">{{site.name}}</option>
                {%endfor%}
            </select>   
            <input name="first_name" class="form-control add_user_input my-3" placeholder="First Name"/>
            <input name="last_name" class="form-control add_user_input my-3" placeholder="Last Name"/>
            <label class="form-label" for="customFile">Profile Picture:</label>
            <input name="profile_picture" type="file" class="form-control add_user_input my-3" id="customFile" />
            <input type="text" style="display:None" id="user_modify_action" class="edit_user_input" name="action" value="add"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center" >
            <button class="btn btn-light" type="button"
                hx-encoding="multipart/form-data"
                hx-post="{% url 'modify-user' %}" hx-include=".add_user_input" hx-target="#profile-dropdown">
                Add Profile
            </button>
        </div>
    </div>
</span>
<span hx-swap-oob="true" id="generic_modal_title">
    <a href="#"
    hx-target="#generic_modal_body" hx-include="#switch_user"
    hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
    hx-swap="innerHTML" hx-indicator="#htmx-indicator" hx-trigger="click"><i class="fa-solid fa-arrow-left"></i> Back</a> - Add User
</span>