{%load static%}
<span>
    <div class="row">
        <div class="col center" >
            
            <div class="form-group">
                <label class="form-label" for="site_pk">Default Site: </label>
                <select class="form-select add_user_input" name="site_pk" id="site_pk">
                    {%for site in site_list%}
                    <option value="{{site.pk}}">{{site.name}}</option>
                    {%endfor%}
                </select>   
            </div>
                    
            <br>
            <div class="form-group">
                <label class="form-label" for="first_name">First Name: </label>
                <input name="first_name" class="form-control add_user_input" placeholder="First Name" id="first_name"/>
            </div>
                    
            <br>
            <div class="form-group">
                <label class="form-label" for="last_name">Last Name: </label>
                <input name="last_name" class="form-control add_user_input" placeholder="Last Name" id="last_name"/>
            </div>
                    
            <br>
            <div class="form-group">
                <label class="form-label" for="customFile">Profile Picture:</label>
                <input name="profile_picture" placeholder="test" type="file" class="form-control add_user_input" id="customFile" />
            </div>
            <input type="text" style="display:None" id="user_modify_action" class="add_user_input" name="action" value="add"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center" >
            <button class="btn btn-light" type="button"
                hx-encoding="multipart/form-data"
                hx-post="{% url 'modify-user' %}" hx-include=".add_user_input" hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"
                hx-swap="innerHTML"
                hx-target="#generic_modal_body">
                Add Profile
            </button>
        </div>
    </div>
</span>
<span hx-swap-oob="true" id="generic_modal_title">
    {% comment %} <a href="#"
    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" hx-include="#switch_user"
    hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
    hx-swap="innerHTML" hx-trigger="click"><i class="fa-solid fa-arrow-left"></i> Back</a> -  {% endcomment %}
    Add User
</span>