<span>
    <div class="row">
        <div class="col">
            <table class="table table-light table-sm table-striped col-md-auto notes_table">
                <thead>
                  <tr>
                    <th ><strong>History</strong></th>
                    <th style="width:400px">
                  </tr>
                </thead>
                <tbody class="noteBody">
                    {%for communication in lead.communication_set.all%}
                    <tr>
                        <td colspan="2">
                            <i class="fa fa-phone" style="color:green" aria-hidden="true"></i> 
                            <span style="color:#a9a9a9;"> 
                                {{communication.staff_user.profile}} <i class="fa-solid fa-arrow-right"> </i>
                            </span>
                            <span style="color:#033dfc;">
                                {{communication.lead.first_name}} {{communication.lead.last_name}}
                            </span> 
                            <br>
                            <span style="">
                                {{communication.datetime}}
                            </span>
                            {%if communication.type == 'a'%}
                            {%if communication.successful %}
                                <small style="color:green">Customer picked up phone</small>
                            {%else%}                                    
                                <small style="color:red">Customer didn't pick up phone</small>
                            {%endif%}
                            {%endif%}
                            <br>
                            <span style="">
                                <ul>
                                {%for note in communication.note_set.all%}
                                <li>{{note.text}}</li>
                                {%endfor%}
                                </ul>
                            </span>
                        </td>
                    </tr>
                    {%endfor%}
                    {% comment %} <tr>
                        <td colspan="2">
                            <i class="fa fa-phone" style="color:red" aria-hidden="true"></i>
                            <span style="font-weight: bold; color:#a9a9a9;">
                                Stuart Farquhar <i class="fa-solid fa-arrow-right"> </i>
                            </span>
                            <span style="font-weight: bold; color:#033dfc;">
                                Mark Benden 
                            </span> 
                            - 
                            <span style="font-style: italic; color:#a9a9a9;">
                                09-09-2022
                            </span>
                            <br>
                            <span style="">
                                Call unsuccessful.
                            </span>                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <i class="fa fa-envelope" style="color:green" aria-hidden="true"></i>
                            <span style="font-weight: bold; color:#a9a9a9;">
                                Eleanor Thorpe <i class="fa-solid fa-arrow-right"> </i>
                            </span>
                            <span style="font-weight: bold; color:#033dfc;">
                                Mark Benden 
                            </span> 
                            - 
                            <span style="font-style: italic; color:#a9a9a9;">
                                06-09-2022
                            </span>
                            <br>
                        </td>
                    </tr> {% endcomment %}
                    {% comment %} <tr>
                        <td colspan="2">
                            <i class="fa fa-whatsapp" style="color:green" aria-hidden="true"></i>
                            <span style="font-weight: bold; color:#a9a9a9;">
                                System (Automatic) <i class="fa-solid fa-arrow-right"> </i>
                            </span>
                            <span style="font-weight: bold; color:#033dfc;">
                                Mark Benden 
                            </span> 
                            - 
                            <span style="font-style: italic; color:#a9a9a9;">
                                05-09-2022
                            </span>
                            <br>
                        </td>
                    </tr> {% endcomment %}
                </tbody>
              </table>
        </div>
    </div>
</span>
<span hx-swap-oob="true" id="generic_modal_title">
    Communication History - {{lead.first_name}} {{lead.last_name}}
    <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
</span>