<span>
    <div class="row">
        <div class="col center">
            
            <div class="btn-group btn-space">
                <button class="btn btn-success btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See communication history for this lead."
                    hx-target="#generic_modal_body" 
                    hx-include="#communication_history"
                    hx-get="{% url 'academy-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-indicator="#htmx-indicator" hx-trigger="click">
                        Communication History 
                        <span class="badge bg-info" style="font-size:10px">
                            {{lead.communication_set.all.count}}                
                        </span>
                </button>
                <button class="btn btn-sm btn-secondary"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See communication history for this lead."
                    hx-target="#generic_modal_body" 
                    hx-include="#booking_history"
                    hx-get="{% url 'academy-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-indicator="#htmx-indicator" hx-trigger="click">
                        Booking History
                        <span class="badge bg-info" style="font-size:10px">
                            {{lead.booking_set.all.count}}                
                        </span>
                </button>   
            </div> 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table class="table table-light table-sm table-striped col-md-auto notes_table" id="">
                <thead>
                  <tr>
                    <th ><strong>History</strong></th>
                    <th style="width:400px">
                  </tr>
                </thead>
                <tbody class="noteBody">
                    {%for communication in lead.communication_set.all%}
                    <tr>
                        <td colspan="2"
                        data-bs-html="true" 
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-content="
                        {%if communication.error_json%}
                        <b>Error</b> {{communication.error_json.error.error_data.details}}
                        {%endif%}
                        
                        {%if communication.whatsappmessage.whatsappmessagestatus_set.all%}
                        Statuses:
                        <ul>
                            {%for status in communication.whatsappmessage.whatsappmessagestatus_set.all%}
                            <li><b>{{status.status}}</b> {{status.datetime}} </li>
                            {%endfor%}
                        </ul>
                        {%endif%}
                        ">
                            <i  class="fa fa-{%if communication.type == 'a'%}phone{%elif communication.type == 'b'%}whatsapp{%elif communication.type == 'c'%}envelope{%elif communication.type == 'd'%}message-sms{%endif%}" 
                                style="color:{%if communication.successful == True%}green{%elif communication.successful == False%}red{%else%}grey{%endif%}" 
                                aria-hidden="true"></i> 
                            <span style="color:#a9a9a9;"> 
                                {{communication.staff_user.profile}} <i class="fa-solid fa-arrow-right"> </i>
                            </span>
                            <span style="color:#033dfc;">
                                {{communication.lead.first_name}} {{communication.lead.last_name}}
                            </span> 
                            <br>
                            <span style="">
                                {{communication.datetime}}
                            </span>
                            {%if communication.type == 'a'%}
                            {%if communication.successful %}
                                <small style="color:green">Customer picked up phone</small>
                            {%else%}                                    
                                <small style="color:red">Customer didn't pick up phone</small>
                            {%endif%}
                            {%endif%}
                            <br>
                            <span style="">
                                <ul>
                                {%for note in communication.note_set.all%}
                                <li>{{note.text}}</li>
                                {%endfor%}
                                </ul>
                            </span>
                        </td>
                    </tr>
                    {%endfor%}
                    {% comment %} <tr>
                        <td colspan="2">
                            <i class="fa fa-phone" style="color:red" aria-hidden="true"></i>
                            <span style="font-weight: bold; color:#a9a9a9;">
                                Stuart Farquhar <i class="fa-solid fa-arrow-right"> </i>
                            </span>
                            <span style="font-weight: bold; color:#033dfc;">
                                Mark Benden 
                            </span> 
                            - 
                            <span style="font-style: italic; color:#a9a9a9;">
                                09-09-2022
                            </span>
                            <br>
                            <span style="">
                                Call unsuccessful.
                            </span>                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <i class="fa fa-envelope" style="color:green" aria-hidden="true"></i>
                            <span style="font-weight: bold; color:#a9a9a9;">
                                Eleanor Thorpe <i class="fa-solid fa-arrow-right"> </i>
                            </span>
                            <span style="font-weight: bold; color:#033dfc;">
                                Mark Benden 
                            </span> 
                            - 
                            <span style="font-style: italic; color:#a9a9a9;">
                                06-09-2022
                            </span>
                            <br>
                        </td>
                    </tr> {% endcomment %}
                    {% comment %} <tr>
                        <td colspan="2">
                            <i class="fa fa-whatsapp" style="color:green" aria-hidden="true"></i>
                            <span style="font-weight: bold; color:#a9a9a9;">
                                System (Automatic) <i class="fa-solid fa-arrow-right"> </i>
                            </span>
                            <span style="font-weight: bold; color:#033dfc;">
                                Mark Benden 
                            </span> 
                            - 
                            <span style="font-style: italic; color:#a9a9a9;">
                                05-09-2022
                            </span>
                            <br>
                        </td>
                    </tr> {% endcomment %}
                </tbody>
              </table>
        </div>
    </div>
</span>
<span hx-swap-oob="true" id="generic_modal_title">
    Communication History - {{lead.first_name}} {{lead.last_name}}
    <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
</span>