<span
    draggable="true" ondragstart="drag(event)" data-id="{{lead.pk}}" id="lead-{{lead.pk}}">
    <article class="card draggable-card" style="border-top: 4px solid {{colour}}">
        <div class="row">
            <div class="col p-0">
                <span class="primary_td_layer">{{lead.name}}</span>
            </div>
            <div class="col-md-auto p-0">
                <span style="color:rgb(96, 248, 61y)" class="secondary_td_layer">£123</span>
            </div>
        </div>

        <span class="secondary_td_layer">{{lead.active_campaign_list.name}}</span><br>
        <span class="secondary_td_layer"><a 
            data-bs-toggle="popover" 
            data-bs-trigger="hover" 
            data-bs-placement="top"
            data-bs-content="Click to open this number in whatsapp"
            style="text-decoration: none; color: #25d366" class="nowrap" target="_blank" href="whatsapp://send?phone={{lead.country_code}}{{lead.phone}}"><i class="fa fa-whatsapp" aria-hidden="true"></i> +{{lead.country_code}} {{lead.phone}}</a></span>
    </article>
</span>