
{%load core_tags%}
<span>
    <div class="row">
        <div class="col">
            <div class="m-3">
                <label class="form-label custom-badge-label" for="date_occurred">Date of Booking</label>
                <input type="date" id="date_occurred" 
                value="{% prefill_date_input_with_now '' %}"
                name="date_occurred" class="form-control log_communication_input">
            </div>
            <div class="m-3">
                <label class="form-label custom-badge-label" for="time_occurred">Time of Communication</label>
                <input type="time" id="time_occurred"
                value="{% prefill_time_input_with_now '' %}"
                name="time_occurred" class="form-control log_communication_input">
            </div>
            {%if communication_type == 'a'%}
            <div class="m-3">
                <label class="form-label custom-badge-label" for="customer_answered">Customer answered?</label>
                <input type="checkbox" checked id="customer_answered" name="customer_answered" class="form-check-input log_communication_input">
            </div>
            {%endif%}
            <div class="m-3">
                <label class="form-label custom-badge-label" for="time_occurred">Notes</label>
                <textarea rows=5 type="time" style="min-width:500px" id="time_occurred" 
                name="note" class="form-control log_communication_input"></textarea>
            </div>
            <div class="m-3">
                <button class="btn btn-primary" 
                hx-target="#row_{{lead.pk}}" 
                hx-include=".log_communication_input"
                hx-post="{% url 'log-communication' %}" 
                hx-push-url="false"
                hx-swap="outerHTML" hx-indicator="#htmx-indicator" hx-trigger="click"                
                >
                    {%if communication_type == 'a'%}
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    {%elif communication_type == 'c'%}
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    {%elif communication_type == 'd'%}
                    <i class="fa fa-message-sms" aria-hidden="true"></i>
                    {%endif%} 
                    Submit Log
                </button>
            </div>
        </div>
    </div>
</span>


<span hx-swap-oob="true" id="generic_modal_title">
    Log Communication - {{lead.name}} - {{communication_type_display}}
    <input class="log_communication_input" type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
    <input type="text" style="display:None" id="modal_communication_type" 
    name="communication_type" value="{{communication_type}}"
    class="log_communication_input"/>
</span>