{%load static%}
<span>
    <div class="row">
        {%for staff_user in staff_users%}
        {%if staff_user.profile%}
        <div class="col-md-auto user-select p-3 mb-3 {%if staff_user == request.user%}current-user-highlight{%endif%}"
            hx-post="{% url 'switch-user' %}" hx-include="#user-select-{{staff_user.pk}}" hx-indicator=".top-htmx-indicator" hx-target="#profile-dropdown">
            <input type="text" style="display:None" id="user-select-{{staff_user.pk}}" name="user_pk" value="{{staff_user.pk}}"/>
            <img src="/media/{{staff_user.profile.avatar}}" width="80" height="80" class="rounded-circle" style="object-fit: cover;">            
            <br>            
            <br>            
            <h6 class="nowrap">{{staff_user.first_name}} {{staff_user.last_name}}</h6>
            <br>            
            <a href="#" class="nowrap" ton class="btn btn-light" type="button"
            hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" hx-include="#edit_user,#user-select-{{staff_user.pk}}"
            hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
            hx-swap="innerHTML" hx-trigger="click"><i class="fa-light fa-gear"></i> Edit</a>
            <input type="text" style="display:None" id="edit_user" name="template_name" value="edit_user"/>
        </div>
        {%endif%}
        {%endfor%}
    </div>
    <br>
    <div class="row">
        <div class="col center">
            <button class="btn btn-light" type="button"
                hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" hx-include="#add_user"
                hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
                hx-swap="innerHTML" hx-trigger="click">
                Add Profile
            </button>
            <input type="text" style="display:None" id="add_user" name="template_name" value="add_user"/>
        </div>
        <div class="col center" >
            <a class="dropdown-item top-nav-dropdown-item" href="/accounts/logout/">Sign out</a>
        </div>
    </div>
</span>
<span hx-swap-oob="true" id="generic_modal_title">
    Switch Profile
</span>