{%load static core_tags%}
<span id="chat_bottom" class="" style=" 
display: flex;
flex-wrap: wrap;
align-items: flex-start;" hx-ws="connect:/ws/messaging/{{site.pk}}/">
    <script>
        $(document).ready(function() {   
            {% if site%}      

            {%endif%}
            document.body.addEventListener('htmx:beforeRequest', function(evt) {  
                if (evt.detail.target.id == 'next_chat_window'){
                    let phone_number = $(evt.srcElement).data('whatsapp-number');            
                    if ($('#chat_card_'+phone_number).length > 0){
                        evt.preventDefault()
                    } else {
                        add_chat_to_session(phone_number)
                    }
                }
            });
            
        })
        function clear_chat_from_session(whatsapp_number){
            var respStatus = $.ajax({
                type:'POST',
                url:'{%url "clear-chat-from-session"%}',
                data:{'whatsapp_number':whatsapp_number, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                success: function (data) {
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                }
            })
        }
        function add_chat_to_session(whatsapp_number){
            if ($('#chat_card_'+whatsapp_number).length === 0){
                var respStatus = $.ajax({
                    type:'POST',
                    url:'{%url "add-chat-to-session"%}',
                    data:{'whatsapp_number':whatsapp_number, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                    success: function (data) {
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                    }
                })
            }
        }
        
        
    </script>
    <link href="{% static 'css/chat.css' %}" rel="stylesheet" />
        <span id="next_chat_window"></span>
        {%if site%}
        {%for system_phone_number in site.whatsappnumber_set.all%}
        <div class="card chat_bottom_window p-0">
            <div class="card-header chat_bottom_header center " data-bs-toggle="collapse" data-bs-target="#messageCollapse_{{site.pk}}" aria-expanded="false" aria-controls="messageCollapse_{{site.pk}}">
                <b>Chats for {{site.name}}</b>
            </div>
            <div class="card-body message_list_body collapse show p-0" id="messageCollapse_{{site.pk}}">
                {%for message in site.get_fresh_messages%}
                {%include 'messaging/htmx/message_list_row.html' %}
                {%endfor%}
            </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="card card-body chat_bottom_window">
            <div class="card-header chat_bottom_header" >
                Select a site to chat
            </div>
        </div>
        {%endif%}
    </span>

{%if site%}
{%for message in site.get_fresh_messages%}
{%if message.inbound%}
<span hx-swap-oob="true" id="chat_notification_{{message.customer_number}}">
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
    </span>
</span>
{%else%}
<span hx-swap-oob="true" id="chat_notification_{{message.customer_number}}">
</span>
{%endif%}
{%endfor%}
{%endif%}