{%load static core_tags%}


<div class="card chat_bottom_window customer_chat_bottom_window p-0" id="chat_card_{{customer_number}}" data-whatsapp-number="{{customer_number}}">
    <div class="card-header chat_bottom_header" >
        <div class="row">
            <div class="col p-0 left text-white" data-bs-toggle="collapse" data-bs-target="#messageWindowInnerBody_{{customer_number}}" aria-expanded="true" aria-controls="messageWindowInnerBody_{{customer_number}}">
                {%include 'messaging/message_window_header.html'%}
            </div>
            <div class="col-auto p-0">
                <i class="fa-sharp fa-solid fa-circle-xmark" onclick="$('#chat_card_{{customer_number}}').remove(); clear_chat_from_session('{{customer_number}}')"></i>
            </div>
        </div>
    </div>
    {%include 'messaging/message_window_body.html'%}    
</div>

<script>
    $(document).ready(function() {
        document.body.addEventListener('htmx:beforeRequest', function(evt) {  
        });
        document.body.addEventListener('htmx:afterSwap', function(evt) {              
        });
    });
</script>