<div class="card chat_bottom_window p-0" id="chat_list_bottom_window">
    <div class="card-header chat_bottom_header" data-bs-toggle="collapse" data-bs-target="#messageCollapse_{{whatsappnumber.pk}}_wrapper" aria-expanded="false" aria-controls="messageCollapse_{{whatsappnumber.pk}}_wrapper">
        <div class="row">
            <div class="col-md-auto p-1">
                <span class="primary_td_layer text-white">
                    Site: {%if chat_Site%}{{chat_site.name}}{%else%}{{whatsappnumber.site.name}}{%endif%}
                </span>
                <br>
                <span class="secondary_td_layer">
                    Your Number: {%if whatsappnumber.alias%}{{whatsappnumber.alias}}{%else%}{{whatsappnumber.number}}{%endif%}
                </span> 
            </div>
            <div class="col-auto p-0 pointer">
                <img class="htmx-indicator invert" id="htmx_indicator_messageCollapse_{{whatsappnumber.pk}}" src="https://htmx.org/img/bars.svg"/>
            </div>
        </div>
    </div>
    <div class="collapse show" id="messageCollapse_{{whatsappnumber.pk}}_wrapper">
        <div class="card-body p-0 bg-secondary text-white" id="messageFilters_{{whatsappnumber.pk}}">
            <div class="htmx-indicator disconnected_indicator message_count_disconnected_indicator">
                <b>Connecting</b> <img class="invert" src="https://htmx.org/img/bars.svg">
            </div>
            <div class="row ps-2">
                <div class="col-md-auto p-1 right">
                    <small>Search</small> 
                </div>
                <div class="col p-1">
                    <input 
                        class="form-control form-control-xs input_messageCollapse_{{whatsappnumber.pk}}"
                        id="search_messageCollapse_{{whatsappnumber.pk}}"
                        name="search_string"
                        oninput="$('#received_messageCollapse_{{whatsappnumber.pk}}').prop('checked', false).trigger('change'); $('#htmx_indicator_messageCollapse_{{whatsappnumber.pk}}').addClass('htmx-request');"
                        hx-target="#messageCollapse_{{whatsappnumber.pk}}"
                        hx-swap="innerHTML"
                        hx-vals='{"whatsappnumber_pk":"{{whatsappnumber.pk}}"}'
                        hx-trigger="input delay:0.5s"
                        hx-include=".input_messageCollapse_{{whatsappnumber.pk}}"
                        hx-get="{%url 'get-message-list-body'%}"
                        hx-indicator="#htmx_indicator_messageCollapse_{{whatsappnumber.pk}}"/>
                </div>
            </div>
            <div class="row ps-2">
                <div class="col p-1 ">
                    <div class="form-check form-switch">
                        <small>Only Show Received</small> 
                        <input 
                            class="form-check-input input_messageCollapse_{{whatsappnumber.pk}}" 
                            id="received_messageCollapse_{{whatsappnumber.pk}}"
                            name="received"
                            type="checkbox"
                            oninput="$('#search_messageCollapse_{{whatsappnumber.pk}}').val(''); $('#htmx_indicator_messageCollapse_{{whatsappnumber.pk}}').addClass('htmx-request');"
                            hx-target="#messageCollapse_{{whatsappnumber.pk}}"
                            hx-swap="innerHTML"
                            hx-trigger="input delay:0.5s"
                            hx-vals='{"whatsappnumber_pk":"{{whatsappnumber.pk}}"}'
                            hx-include=".input_messageCollapse_{{whatsappnumber.pk}}"
                            hx-get="{%url 'get-message-list-body'%}"
                            hx-indicator="#htmx_indicator_messageCollapse_{{whatsappnumber.pk}}"/>
                    </div> 
                </div>
            </div>
        </div>
        <div class="card-body message_list_body ps-2 p-0" id="messageCollapse_{{whatsappnumber.pk}}">
            {%include 'messaging/htmx/message_list_body.html'%}
        </div>
    </div>
</div>