{%load static core_tags%}


<div class="card chat_bottom_window p-0" id="chat_card_{{customer_number}}" data-whatsapp-number="{{customer_number}}">
    <div class="card-header chat_bottom_header center" >
        <div class="row">
            <div class="col p-0" data-bs-toggle="collapse" data-bs-target="#messageWindowCollapse_{{customer_number}}" aria-expanded="true" aria-controls="messageWindowCollapse_{{customer_number}}">
                {%if lead.name%}{{lead.name}}{%else%}{{customer_number}}{%endif%}
            </div>
            <div class="col-auto p-0">
                <i class="fa-sharp fa-solid fa-circle-xmark" onclick="$('#chat_card_{{customer_number}}').remove(); clear_chat_from_session('{{customer_number}}')"></i>
            </div>
        </div>
    </div>
    <div class="card-body chat_card_body collapse show p-0" id="messageWindowCollapse_{{customer_number}}">
        {%for whatsappmessage in messages%}
            {%if whatsappmessage.inbound%}
                <div class="row"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-html="true" 
                    data-bs-placement="top"
                    data-bs-title="Message Details"
                    data-bs-content="
                    Sent at <b>{{whatsappmessage.datetime|nice_datetime_tag}}</b><br>
                    By <b>{%if lead.name%}{{lead.name}}{%else%}{{customer_number}}{%endif%}</b>"
                >
                    <div class="col-auto p-0 ps-1 m-1">
                        <img src="{% static 'img/blank-profile-picture.png' %}" alt="" width="22" height="22" class="rounded-circle">
                    </div>
                    <div class="col p-0 ps-1 m-1 card chat_row_{{customer_number}}">
                        {{whatsappmessage.message}}
                    </div>
                </div>
            {%else%}
                <div class="row"
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-html="true" 
                data-bs-placement="top"
                data-bs-title="Message Details"
                data-bs-content="
                Sent at <b>{{whatsappmessage.datetime|nice_datetime_tag}}</b><br>
                By <b>{{whatsappmessage.user.profile.name}}</b>">
                    <div class="col p-0 ps-1 m-1 card chat_row_{{customer_number}}">
                        {{whatsappmessage.message}}
                    </div>
                    <div class="col-auto p-0 ps-1 m-1">
                        <img src="{{whatsappmessage.user.profile.avatar.url}}" alt="" width="22" height="22" class="rounded-circle">
                    </div>
                </div>
            {%endif%}
        {%endfor%}
        <form action="javascript:void(0);">
        <div style="position: absolute; right:0; bottom: 0; width:100%" class="row" id="message_input_div_{{customer_number}}"> 
                <div class="col"> 
                    <input class="form-control" id="message_input_{{customer_number}}"  type="text">
            
                    </input>
                </div>
                <div class="col-auto"> 
                    <button class="badge bg-primary" id="message_submit_{{customer_number}}"><i class="fa-solid fa-paper-plane-top"></i></button>
                </div>
        </div>
    </form>
    </div>
</div>