{%load static core_tags%}


<div class="card chat_bottom_window customer_chat_bottom_window p-0" id="chat_card_{{customer_number}}" data-customer-number="{{customer_number}}">
    <div class="card-header chat_bottom_header" >
        <div class="row">
            <div class="col p-0 left text-white" data-bs-toggle="collapse" data-bs-target="#messageWindowCollapse_{{customer_number}}_wrapper" aria-expanded="true" aria-controls="messageWindowCollapse_{{customer_number}}_wrapper">
                {%include 'messaging/message_window_header.html'%}
            </div>
            <div class="col-auto p-0 ps-1 pe-2 right">
                <button class="btn btn-primary btn-xs" 
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Manually start a conversation using a template."
                    hx-indicator="#page_load_indicator" hx-target="#generic_modal_body" 
                    hx-get="{% url 'get-modal-content' %}" 
                    hx-push-url="false"
                    hx-vals='{"template_name": "send_new_template_message", "whatsappnumber_pk":"{{whatsappnumber.pk}}", "lead_pk":"{{lead.pk}}", "contact_pk":"{{contact.pk}}", "customer_number":"{{customer_number}}"}'
                    hx-swap="innerHTML" hx-trigger="click">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-auto p-0 right">
                <i class="fa-sharp fa-solid fa-circle-xmark" onclick="$('#chat_card_{{customer_number}}').remove();"></i>
            </div>
        </div>
    </div>
    {%include 'messaging/message_window_body.html'%}    
</div>

<script>
    
</script>