{% extends 'core/base.html' %}
{%load static%}
{%block scripts%}
{{block.super}}
<script>
    $(document).ready(function() {
        document.body.addEventListener('htmx:afterSwap', function(evt) {  
            if (evt.detail.pathInfo.path.includes("get-leads-to-sale")){
                initDataTable('leads_to_sale_table');
            }
        });
    });
    
    function initDataTable(table_id) {
        $('#'+table_id).DataTable(
        );
    }
</script>
{%endblock scripts%}

{%block content%} 
{%include 'analytics/htmx/analytics_overview_content.html'%}
{%endblock content%}