{% extends 'core/base.html' %}
{% load static %}
{% block nav %}
{% endblock %}
{% block content %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet" />
  <div class="row g-0">
    <div class="col-3">
      <div class="auth-full-page-content d-flex p-sm-5 p-4">
        <div class="w-100">
          <div class="d-flex flex-column h-100">
            <div class="mb-4 mb-md-5 text-center">
              <img class=""
                   src="{% static 'img/logo-light-back-text.png' %}"
                   width="100%"
                   alt="winser systems logo">
            </div>
            <div class="auth-content my-auto">
                {%block auth_content%}
                {%endblock%}
            </div>
          </div>
        </div>
      </div>
      <!-- end auth full page content -->
    </div>
    <!-- end col -->
    <div class="col">
        <div class="auth-bg pt-md-5 p-4 d-flex">
        
        </div>
    </div>
      
    </div>
    <!-- end col -->
  </div>
{% endblock content %}
