{%extends 'registration/auth_base.html'%}
{%block auth_content%}                
    <div class="text-center">
        <h5 class="mb-0">Register your company!</h5>
    </div>
    {%if not demo or request.user.is_superuser%}
    <form class="mt-4 pt-2" action="{%url 'register'%}" id="login-form"method="post">
      {% csrf_token %}
      <div class="form-floating form-floating-custom mb-4">
        <input type="text"
          class="form-control"
          id="company_name"
          name="company_name">
        <label for="input-username">Company Name</label>
        <div class="form-floating-icon">
          <i class="fa-light fa-buildings"></i>
        </div>
      </div>
      <div class="form-floating form-floating-custom mb-4">
        <input type="email"
          class="form-control"
          id="owner_email"
          name="owner_email">
        <label for="input-username">Company Owner Email</label>
        <div class="form-floating-icon">
          <i class="fa-light fa-envelope"></i>
        </div>
      </div>
      <div class="form-floating form-floating-custom mb-4">
        <input type="password"
          class="form-control"
          id="password"
          name="password">
        <label for="input-username">Password</label>
        <div class="form-floating-icon">
          <i class="fa-light fa-lock"></i>
        </div>
      </div>
      <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Register</button>
    </form>
    {%else%}
    (Demo, Disabled) 
    {%endif%}
{%endblock%}