{%load static core_tags user_permission_tags%}
<span>    
    <script>
        document.title = "Contacts";
        $(document).ready(function() {
            select2stuff()
            try{$('#choose_template_message_site_contact_table').dataTable().fnDestroy()}catch{};
                $('#choose_template_message_site_contact_table').DataTable({
                    "pageLength": 25,
                    "responsive": true,
                });        
        });
    </script>
    <div class="row">
        <div class="col alert alert-info" style=""> 
            <p>
                These are your contacts within Winser Systems. These can be used to send whatsapp templates. 
                <br>
                A contact must have a unique phone number and can be attached to multiple campaign leads.
                <br>
                Each lead is attached to a single contact (Contacts are unique to each site, so a particular individual may have a different name for different sites within your company).  
            </p>
            Example:
            <ul>
                <li>
                    If you have another active campaign lead come through, it will be attached to an existing contact, or automatically create a new contact if the phone number is new to Winser Systems.
                </li>
                <li>
                    If you change the name of a contact, it will NOT change the name of the lead on the leads board or bookings table. This is to keep the name within the automatically sent template messages consistent (you can still change the lead name by editing the lead within the leads board to correct typos etc).
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-auto">   
            <button class="btn btn-primary btn-sm"
                onclick="htmx.ajax('GET', '{% url 'get-modal-content'%}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'edit_contact', 'site_pk':'{{site.pk}}'}})"><i class="fa fa-plus" aria-hidden="true"></i> Create Contact</button>
        </div> 
    </div> 
    <div class="row">
        <div class="col" style=""> 
            <table class="table" id="choose_template_message_site_contact_table">
                <thead>
                    <tr>
                        <th scope="col" width="10">Name</th>
                        <th scope="col" width="10">Phone</th>
                        <th scope="col" width="10">Leads</th>
                        <th scope="col" width="80"></th>
                    </tr>
                </thead>
                <tbody>
                    {%with site.return_phone_numbers as whatsappnumbers%}
                    {% for site_contact in site_contacts %}
                        {%include 'core/contacts/contacts_overview_row.html'%}
                    {% endfor %}
                    {%endwith%}
                </tbody>
            </table>
        </div>
    </div>
<span>
{%if request.META.HTTP_HX_REQUEST%}{%include 'core/contacts/contacts_overview_under_nav.html'%}{%endif%}