{%load core_tags%}
<span>
    <script>
        $(document).ready(function() {
            document.title = "Whatsapp Templates";
            $("[data-bs-toggle=popover]").popover();
        });
        var SearchTerm = ""
    </script>
    
    <div class="row mt-0">
        {%block extra_top_left_buttons %}
        {% comment %} <div class="col-md-auto">
            <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>
        </div> {% endcomment %}
        {%with True as hide_show_all%}
        {%include 'core/htmx/site_selection.html'%}
        <div class="col-md-auto m-1 ps-0">
            <div id="site_list_wrapper">  
                <select class="form-select select2 select2-styling overview_table_filters"name="whatsapp_business_account_pk" id="whatsapp_business_account_pk" onchange="$('#change_site').click();">
                    {%for whatsapp_business_account in whatsapp_business_accounts%}
                    <option {%if whatsapp_business_account.pk == request|get_key_in_get_or_post:'whatsapp_business_account_pk'|str_to_int %}selected{%endif%} value="{{whatsapp_business_account.pk}}">{{whatsapp_business_account.whatsappnumber}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>


        <div class="col-md-auto m-1 ps-0">
        </div>

        <button hidden hx-get="" hx-push-url="false" hx-swap="innerHTML" hx-include=".overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
        {%endwith%}    
        {%endblock extra_top_left_buttons %}
        
        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="whatsapp_templates"></input>
        {% comment %} <div class="col-md-auto">
            <span class="badge bg-dark text-white"><h6 class="m-1">Whatsapp Templates</h6></span>          
        </div>      {% endcomment %}
        {%endblock extra_top_right_buttons %}    
    </div>   
    <div class="row mt-2">
        <div class="col m-3 alert alert-warning">
            <p>Message templates in an Aproved state can be edited up to 10 times in a 30 day window, or 1 time in a 24 hour window.</p>
            <p class="m-0">Messages in Rejected or Paused states can be edited an unlimited number of times.</p>
        </div>
        <div class="col m-3 alert alert-info">
            <p>Template names must be unique per site.</p>
            <p class="m-0">Once you have saved your edits/new template, click the green submit button to send it for approval to Whatsapp.</p>
        </div>
    </div>
    {%if whatsapp_business_account%}
    <div class="row mt-2">
        <div class="col-md-auto">
            <a class="btn btn-success btn-sm m-1 pointer" 
            hx-indicator="#page_load_indicator"
            hx-get="{%url 'whatsapp-template-create' whatsapp_business_account_pk=whatsapp_business_account.pk%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Template
            </a>            
        </div>
    </div>
    <div class="row mt-2 card card-white p-2">
        <div class="col">
            <table id="overview_table" class="table"> 
                <thead> 
                    <tr>
                        <th>
                            Name
                        </th>
                        {% comment %} <th>
                            Category
                        </th> {% endcomment %}
                        {% comment %} <th>
                            Language
                        </th> {% endcomment %}
                        <th>
                            ID
                        </th>
                        <th>
                            Status
                        </th>
                        {% comment %} <th>
                            Auto send
                        </th> {% endcomment %}
                        <th>  
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    {%for template in whatsapp_business_account.active_templates%}
                    {%if not 'sample_' in template.name%}
                    <tr id="template_row_{{template.id}}">
                        {%include 'whatsapp/whatsapp_templates_row.html'%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    {%else%}
    Please select a phone number in the top left. 
    {%endif%}
</span>