{%load core_tags%}
<span>
    <script>
        $(document).ready(function() {
            document.title = "Whatsapp Templates";
            {% comment %} flash()    {% endcomment %}
            popoverstuff()
        });
        var SearchTerm = ""
    </script>
    
    <div class="row mt-2">
        <div class="col m-3 alert alert-warning">
            <p>Message templates in an Aproved state can be edited up to 10 times in a 30 day window, or 1 time in a 24 hour window.</p>
            <p class="m-0">Messages in Rejected or Paused states can be edited an unlimited number of times.</p>
        </div>
        <div class="col m-3 alert alert-info">
            <p>Template names must be unique per site.</p>
            <p class="m-0">Once you have saved your edits/new template, click the green submit button to send it for approval to Whatsapp.</p>
        </div>
    </div>
    {%if whatsapp_business_account%}
    <div class="row mt-2">
        <div class="col-md-auto">
            <a class="btn btn-success btn-sm m-1 pointer" 
            hx-indicator="#page_load_indicator"
            hx-get="{%url 'whatsapp-template-create' whatsapp_business_account_pk=whatsapp_business_account.pk%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Template
            </a>            
        </div>
    </div>
    <div class="row mt-2 card card-highlight p-2">
        <div class="col">
            <table id="overview_table" class="table"> 
                <thead> 
                    <tr>
                        <th>
                            Name
                        </th>
                        {% comment %} <th>
                            Category
                        </th> {% endcomment %}
                        {% comment %} <th>
                            Language
                        </th> {% endcomment %}
                        <th>
                            ID
                        </th>
                        <th>
                            Status
                        </th>
                        {% comment %} <th>
                            Auto send
                        </th> {% endcomment %}
                        <th>  
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    {%for template in whatsapp_business_account.active_templates%}
                    {%if not 'sample_' in template.name%}
                    <tr id="template_row_{{template.id}}">
                        {%include 'whatsapp/whatsapp_templates_row.html'%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    {%else%}
    Please select a phone number in the top left. 
    {%endif%}
</span>
{%if request.META.HTTP_HX_REQUEST%}{%include 'whatsapp/whatsapp_templates_under_nav.html'%}{%endif%}