{%load static core_tags%}

<span id="under_nav_section" {%if request.META.HTTP_HX_REQUEST%}hx-swap-oob='outerHTML:#under_nav_section'{%endif%}>
    <div class="row p-1 border-bottom">
        <div class="htmx-indicator whole_page_disconnected_indicator leads_disconnected_indicator" id="leads_disconnected_indicator">
            <div class="whole_page_disconnected_indicator_content">
                <b>Connecting</b> <img class="invert" src="{% static 'img/bars.svg' %}">
            </div>
        </div>
        <script>
            document.title = "Campaign Leads"; 
        </script>

        {%block extra_top_left_buttons %}
        {%include 'campaign_leads/filters/site_selection.html'%}
        {%include 'campaign_leads/filters/campaign_category_selection.html'%}
        {%include 'campaign_leads/filters/campaign_select.html'%}
        <button hidden hx-get="{%url 'campaign-leads-overview'%}" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" hx-trigger="click delay:0.3s" class="btn btn-primary btn-sm"></button>
        <button hidden hx-get="{%url 'campaign-leads-overview'%}" onclick="$('#campaign_pk').val('').trigger('change')"
        hx-push-url="false" hx-swap="innerHTML" hx-include=".overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_campaign_category" class="btn btn-primary btn-sm"></button>
        
        <button hidden
            hx-get="{%url 'refresh-leads-board'%}" onclick="$('#campaign_category_pk').val('').trigger('change')"
            hx-swap="outerHTML" hx-push-url="false" hx-include=".overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#leads_board_span_wrapper" id="filter_campaign"></button>
        {%endblock extra_top_left_buttons %}

        <div class="col">
        </div>
        <div class="col-auto card center" style="width:300px">
            <small>
                <div class="row border-bottom pb-1" role="tablist">
                    <div class="col">
                        Fast Analytics
                    </div>
                    <div class="col-auto" role="presentation">
                        <button class="btn btn-secondary btn-xs active" id="pills-one-tab" data-bs-toggle="pill" data-bs-target="#pills-one" type="button" role="tab" aria-controls="pills-one" aria-selected="true"> <i class="fa-solid fa-bolt"></i> </button>
                    </div>
                    <div class="col-auto" role="presentation">
                        <button class="btn btn-success btn-xs" id="pills-two-tab" data-bs-toggle="pill" data-bs-target="#pills-two" type="button" role="tab" aria-controls="pills-two" aria-selected="false"> <i class="fa-solid fa-bolt"></i> </button>
                    </div>
                    <div class="col-auto" role="presentation">
                        <button class="btn btn-primary btn-xs" id="pills-three-tab" data-bs-toggle="pill" data-bs-target="#pills-three" type="button" role="tab" aria-controls="pills-three" aria-selected="false"> <i class="fa-solid fa-bolt"></i> </button>
                    </div>
                    <div class="col-auto" role="presentation">
                        <button class="btn btn-info btn-xs" id="pills-four-tab" data-bs-toggle="pill" data-bs-target="#pills-four" type="button" role="tab" aria-controls="pills-four" aria-selected="false"> <i class="fa-solid fa-bolt"></i> </button>
                    </div>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab" tabindex="0">
                        <div class="col-md-auto center">
                            <span class="nowrap">Booked Rate</span>
                            <div class=""><b><span class="booked_rate_quick_analytic">?</span>%</b> of leads were booked</div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab" tabindex="0">                        
                        <div class="col-md-auto center">
                            <span class="nowrap">Sold Rate</span>
                            <div class="text-success"><b><span class="sold_rate_quick_analytic">?</span>%</b> of booked leads were sold</div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-four-tab" tabindex="0">
                        <div class="col-md-auto center">
                            <span class="nowrap">Booked Rate (arrived)</span>
                            <div class=" text-primary"><b><span class="arrived_booked_rate_quick_analytic">?</span>%</b> of booked leads arrived</div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab" tabindex="0">
                        <div class="col-md-auto center">
                            <span class="nowrap">Sold Rate (arrived)</span>
                            <div class="text-info"><b><span class="arrived_sold_rate_quick_analytic">?</span>%</b> of leads that arrived were sold</div>
                        </div>
                    </div>
                </div>
            </small>
        </div>

        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="campaign_leads_overview"/>
        {%endblock extra_top_right_buttons %}
    </div>
</span>

