{%load static core_tags%}

<span id="under_nav_section" {%if request.META.HTTP_HX_REQUEST%}hx-swap-oob='outerHTML:#under_nav_section'{%endif%}>
    <div class="row p-1 border-bottom">
        <div class="htmx-indicator whole_page_disconnected_indicator leads_disconnected_indicator" id="leads_disconnected_indicator">
            <div class="whole_page_disconnected_indicator_content">
                <b>Connecting</b> <img class="invert" src="{% static 'img/bars.svg' %}">
            </div>
        </div>
        <script>
            document.title = "Campaign Leads"; 
        </script>

        {%block extra_top_left_buttons %}
        {%include 'campaign_leads/filters/site_selection.html'%}
        {%include 'campaign_leads/filters/campaign_category_selection.html'%}
        {%include 'campaign_leads/filters/campaign_select.html'%}
        <button hidden hx-get="{%url 'campaign-leads-overview'%}" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" hx-trigger="click delay:0.3s" class="btn btn-primary btn-sm"></button>
        <button hidden hx-get="{%url 'campaign-leads-overview'%}" onclick="$('#campaign_pk').val('').trigger('change')"
        hx-push-url="false" hx-swap="innerHTML" hx-include=".overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_campaign_category" class="btn btn-primary btn-sm"></button>
        
        <button hidden
            hx-get="{%url 'refresh-leads-board'%}" onclick="$('#campaign_category_pk').val('').trigger('change')"
            hx-swap="outerHTML" hx-push-url="false" hx-include=".overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#leads_board_span_wrapper" id="filter_campaign"></button>
        {%endblock extra_top_left_buttons %}

        <div class="col">
        </div>
        <div class="col-auto card center me-1">
            <small>
                <div class="row" style="min-width:700px">
                    <div class="col-auto">
                        <div class="row border-bottom pb-1 m-0" style="height:38px">
                            <div class="col-auto ps-1 pe-1">
                                <select class="form-select form-select-sm mt-1" onchange="get_pipeline_data();"
                                    id="quick_analytics_timeframe" name="quick_analytics_timeframe">
                                    <option value="month">This Month (from {{''|current_month}})</option>
                                    <option value="week">This Week (from Sunday)</option>
                                </select>
                            </div>
                            <div class="col ps-1 pe-1 nowrap">
                                <h5 class="mt-1"><span class="lead_count_quick_analytic">?</span> Leads</h5>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-6 center nowrap text-success ps-1 pe-1">
                                    <b class="sold_count_quick_analytic">?</b> Sold
                                </div>                       
                                <div class="col-6 center nowrap text-primary ps-1 pe-1">
                                    <b class="booked_not_sold_count_quick_analytic">?</b> Booked (Not Sold)
                                </div>
                                <div class="col-6 center nowrap ps-1 pe-1">
                                    <b class="not_booked_count_quick_analytic">?</b> Not Booked
                                </div>
                                <div class="col-6 center nowrap text-danger ps-1 pe-1">
                                    <b class="lost_count_quick_analytic">?</b> Lost
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        
                        <div class="row border-bottom pb-1" style="height:38px" role="tablist">
                            <div class="col-auto ps-1 pe-1" role="presentation">
                                <button class="btn btn-primary btn-xs mt-1 inactive_no_background active" id="pills-one-tab" data-bs-toggle="pill" data-bs-target="#pills-one" type="button" role="tab" aria-controls="pills-one" aria-selected="true"> <i class="fa-solid fa-bolt"></i> Booked </button>
                            </div>
                            <div class="col-auto ps-1 pe-1" role="presentation">
                                <button class="btn btn-success btn-xs mt-1 inactive_no_background" id="pills-two-tab" data-bs-toggle="pill" data-bs-target="#pills-two" type="button" role="tab" aria-controls="pills-two" aria-selected="false"> <i class="fa-solid fa-bolt"></i> Sold</button>
                            </div>
                            <div class="col-auto ps-1 pe-1" role="presentation">
                                <button class="btn btn-primary btn-xs mt-1 inactive_no_background" id="pills-three-tab" data-bs-toggle="pill" data-bs-target="#pills-three" type="button" role="tab" aria-controls="pills-three" aria-selected="false"> <i class="fa-solid fa-bolt"></i> Booked (arrived)</button>
                            </div>
                            <div class="col-auto ps-1 pe-1" role="presentation">
                                <button class="btn btn-success btn-xs mt-1 inactive_no_background" id="pills-four-tab" data-bs-toggle="pill" data-bs-target="#pills-four" type="button" role="tab" aria-controls="pills-four" aria-selected="false"> <i class="fa-solid fa-bolt"></i> Sold (arrived)</button>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab" tabindex="0">
                                <div class="col-md-auto center">
                                    <span class="nowrap">Booked (Incl Sold) Rate</span>
                                    <div class="text-primary"><b><span class="booked_rate_quick_analytic">?</span>%</b> of leads were booked</div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab" tabindex="0">                        
                                <div class="col-md-auto center">
                                    <span class="nowrap">Sold Rate</span>
                                    <div class="text-success"><b><span class="sold_rate_quick_analytic">?</span>%</b> of booked leads were sold</div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-four-tab" tabindex="0">
                                <div class="col-md-auto center">
                                    <span class="nowrap">Booked Rate (arrived)</span>
                                    <div class="text-primary"><b><span class="arrived_booked_rate_quick_analytic">?</span>%</b> of booked leads arrived</div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab" tabindex="0">
                                <div class="col-md-auto center">
                                    <span class="nowrap">Sold Rate (arrived)</span>
                                    <div class="text-success"><b><span class="arrived_sold_rate_quick_analytic">?</span>%</b> of leads that arrived were sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </small>
        </div>

        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="campaign_leads_overview"/>
        {%endblock extra_top_right_buttons %}
    </div>
</span>

