{%load static core_tags%}
<div>
    <style>
        #content {
            padding:0px !important;
            padding-bottom:50px;
        }
        
        body {
            height:100vh;
        }
    </style>      
    <div class="row p-0 m-0" style="padding:10px">
        <div class="col p-0 m-0" style=""> 
        {%include 'campaign_leads/htmx/leads_board.html' %}
        </div>
    </div>


    <script>
      $(document).ready(function() {
            new Sortable(document.getElementById('archive_area_body'), {
                group: {
                    name: 'leads-columns',
                    put: true
                },
                draggable: ".draggable-card",
                sort: false,
                ghostClass: "",  
                animation: 100,
                onAdd: function (/**Event*/evt) {
                    htmx.ajax('POST', '/mark-archived/'+$(evt.item).data('id')+'/', {swap:'none'})
                    return false;
                },
                onMove: function (/**Event*/evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                    return false;
                },
                onEnd: function (/**Event*/evt) {
                    var tagName = evt.item.tagName;
                    var items = evt.from.getElementsByTagName(tagName);
                    if (evt.oldIndex > evt.newIndex) {
                        evt.from.insertBefore(evt.item, items[evt.oldIndex+1]);
                    }
                    else {
                        evt.from.insertBefore(evt.item, items[evt.oldIndex]);
                    }
                },
            });
            new Sortable(document.getElementById('add_booking_area_body'), {
                group: {
                    name: 'leads-columns',
                    put: true
                },
                draggable: ".draggable-card",
                sort: false,
                ghostClass: "",   
                animation: 100,
                onAdd: function (/**Event*/evt) {
                    htmx.ajax('GET', '/campaign-lead-get-modal-content/'+$(evt.item).data('id')+'/?template_name=add_booking', {target:'#generic_modal_body'})
                    return false;
                },
                onMove: function (/**Event*/evt) {
                    return false;
                },
            });
    });
    </script>
    <div id="add_booking_area" class="">        
        <div class="card h-100" id="add_booking_area_card">
            <div class="card-body draggable-card-area static" id="add_booking_area_body">
                <div class="floating_drag_area_title">
                    <i class="fa-duotone fa-calendar-days"></i> Add Booking
                </div>
            </div>
        </div>
    </div>
    <div id="archive_area" class="">        
        <div class="card h-100" id="archive_area_card">
            <div class="card-body draggable-card-area static" id="archive_area_body">
                <div class="floating_drag_area_title">
                    <i class="fa-duotone fa-trash"></i> Archive
                </div>
            </div>
        </div>
    </div>
</div>
{%if request.META.HTTP_HX_REQUEST%}{%include 'campaign_leads/leads_overview/campaign_leads_overview_under_nav.html'%}{%endif%}