{%load static core_tags%}

<span {%if request.META.HTTP_HX_REQUEST%}hx-swap-oob='innerHTML:#under_nav_section'{%endif%}>
    <div class="row p-1 border-bottom">
        <div class="htmx-indicator whole_page_disconnected_indicator leads_disconnected_indicator" id="leads_disconnected_indicator">
            <div class="whole_page_disconnected_indicator_content">
                <b>Connecting</b> <img class="invert" src="{% static 'img/bars.svg' %}">
            </div>
        </div>
        <script>
            document.title = "Campaign Leads"; 
        </script>

        {%block extra_top_left_buttons %}
        {%include 'campaign_leads/filters/site_selection.html'%}
        {%include 'campaign_leads/filters/campaign_category_selection.html'%}
        {%include 'campaign_leads/filters/campaign_select.html'%}
        <button hidden hx-get="{%url 'campaign-leads-overview'%}" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" hx-trigger="click delay:0.3s" class="btn btn-primary btn-sm"></button>
        <button hidden hx-get="{%url 'campaign-leads-overview'%}" onclick="$('#campaign_pk').val('').trigger('change')"
        hx-push-url="false" hx-swap="innerHTML" hx-include=".overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_campaign_category" class="btn btn-primary btn-sm"></button>
        
        <button hidden
            hx-get="{%url 'refresh-leads-board'%}" onclick="$('#campaign_category_pk').val('').trigger('change')"
            hx-swap="outerHTML" hx-push-url="false" hx-include=".overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#leads_board_span_wrapper" id="filter_campaign"></button>
        {%endblock extra_top_left_buttons %}

        <div class="col">
        </div>

        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="campaign_leads_overview"/>
        {%endblock extra_top_right_buttons %}
    </div>
</span>

