{%load static core_tags%}
<!DOCTYPE html>
{% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
<html id="html" data-bs-theme="{%if request.user.profile.theme%}{{request.user.profile.theme}}{%else%}light{%endif%}">    
    <head>
        <script>
            var csrftoken = '{{ csrf_token }}';
        </script>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {%block cdn%}
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>                    
            <script src="{% static 'js/jquery-3.6.0.js' %}"></script>                    
            <script src="{% static 'js/popper.min.js' %}"></script>                    
            <script src="{% static 'js/fontawesome.js' %}"></script>  
            <script src="{% static 'js/htmx.min.js' %}"></script>  
            <script src="{% static 'js/palette.js' %}"></script>        
            <link href="{% static 'css/snackbar.css' %}" rel="stylesheet" />
            <script src="{% static 'js/snackbar.js' %}"></script> 
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            <link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
            <script src="{% static 'js/datatables.js' %}"></script> 
            <script src="{% static 'js/Sortable.js' %}"></script> 

            <link rel="stylesheet" href="{% static 'css/select2.4.1.0.min.css' %}" />
            <script src="{% static 'js/select2.4.1.0.min.js' %}"></script>
            <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.1.3.0.min.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.1.3.0.rtl.min.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/bootstrap-icons.1.4.0.css' %}" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.3/cleave.min.js"></script>
            
            {%endblock cdn%}
        
        
        <link href="{% static 'css/phone.css' %}?{{version}}" rel="stylesheet" />
        <link href="{% static 'css/drag_drop.css' %}?{{version}}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css"  href="{% static 'css/base.css' %}?{%if debug%}{{''|random_guid}}{%else%}{{version}}{%endif%}">
        <script src="{% static 'js/drag_drop.js' %}?{{version}}"></script> 
        <script src="{% static 'js/base.js' %}?{{version}}"></script>
        <script src="{% static 'js/chat.js' %}?{{version}}"></script>        
        <script src="{% static 'js/modules/leads.js' %}?{{version}}"></script>
        <script src="{% static 'js/modules/booking.js' %}?{{version}}"></script>
        <script src="{% static 'js/modules/graphs.js' %}?{{version}}"></script>
        {% comment %} <script src="{% static 'js/modules/free_tasters.js' %}?{{version}}"></script> {% endcomment %}
        <script src="{% static 'js/modules/contacts.js' %}?{{version}}"></script>
        <script src="{% static 'js/modules/campaign_configuration.js' %}?{{version}}"></script>
        <script src="{% static 'js/modules/company_configuration.js' %}?{{version}}"></script>
        <script src="{% static 'js/modules/whatsapp_templates.js' %}?{{version}}"></script>
        <script src="{% static 'js/modules/whatsapp_template_edit.js' %}?{{version}}"></script>
        <audio id="notification1" src="{% static 'audio/notification1.wav' %}?{{version}}" preload="auto"></audio>
        <audio id="notification2" src="{% static 'audio/notification2.mp3' %}?{{version}}" preload="auto"></audio>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>        
        <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
        
        {%block styles%}
        <style>
            #content {
                overflow-x: hidden;
            }
        </style>
        {%endblock styles%}
        
    </head>
    
<style> 
    .flash {
        animation: flash 1s;
        animation-iteration-count: infinite;
    }
    
    @keyframes flash {
        0% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }
    </style>
    <script>  

        function toggle_active_top_nav(active_selector){
            $('#generic_modal').modal('hide');
            $( ".top-nav-link.active, .nav-link.active" ).removeClass('active');
            $(active_selector).addClass('active');
        }
        let boolean = false;
        $(document).ready(function() {
            

            let element = document.querySelector("#messaging_site_accordion");

            // Listen for changes to the boolean
            document.addEventListener("booleanChange", () => {
                console.log("booleanChange")
            if (boolean) {
                // Flash the element
                element.classList.add("flash");
            } else {
                // Remove the flash class
                element.classList.remove("flash");
            }
            });
            let boolean = true;









            window.addEventListener('mouseup', function(event){
            })
            
            $(".top-nav-link" ).click(function() {
                toggle_active_top_nav($( this ).data('active-selector'))
            });
            
            document.body.onkeydown = function(e) {
                var current_module = $('#current_page').val()
                if (current_module == 'campaign_leads_overview'){
                    if (e.key == " " ||
                        e.code == "Space" ||      
                        e.keyCode == 32      
                    ) {
                        let drag_elem = null;
                        let hover_elem = $(':hover').last();
                        if (hover_elem.hasClass('.column-drag')){
                            drag_elem = hover_elem;
                        } else{                    
                            drag_elem = hover_elem.closest('.column-drag');
                        }    
                        if (drag_elem.length != 0)  {  
                            e.preventDefault();
                            htmx.ajax('GET', '/toggle-claim-lead/'+drag_elem.data('id')+'/', {swap:"none"})
                        }
                    }
                }
            }           

            ondblclick = (event) => { 
                var current_module = $('#current_page').val()
                if (current_module == 'campaign_leads_overview'){
                    let drag_elem = null;
                    let hover_elem = $(':hover').last();
                    if (hover_elem.hasClass('.column-drag')){
                        drag_elem = hover_elem;
                    } else{                    
                        drag_elem = hover_elem.closest('.column-drag');
                    }    
                    if (drag_elem.length != 0)  {     
                        event.preventDefault();
                        htmx.ajax('GET', '/toggle-claim-lead/'+drag_elem.data('id')+'/', {swap:"none"})
                    }
                }
            };
            
            {% comment %} setDoubleTap(".lead_card") {% endcomment %}

            function handlehtmxafterSwap(evt){
                var current_module = $('#current_page').val()
                if (current_module == 'analytics_overview'){
                    graphshandlehtmxafterSwap(evt);                    
                } else if (current_module == 'campaign_booking_overview'){
                    bookinghandlehtmxafterSwap(evt);                    
                } else if (current_module == 'free_tasters'){
                    freetastershandlehtmxafterSwap(evt);                    
                } else if (current_module == 'whatsapp_templates'){
                    whatsapptemplateshandlehtmxafterSwap(evt);                    
                }  else if (current_module == 'contacts'){
                    contactshandlehtmxafterSwap(evt);                    
                }                
                basehandlehtmxafterSwap(evt);
            }
            document.body.addEventListener('htmx:afterSwap', handlehtmxafterSwap);
            
            function handlehtmxafterSettle(evt){
                var current_module = $('#current_page').val()
                basehandlehtmxafterSettle(evt);
            }
            document.body.addEventListener('htmx:afterSettle', handlehtmxafterSettle);
            
            


            function handlehtmxafterRequest(evt){
                var current_module = $('#current_page').val()
                if (current_module == 'company_configuration'){
                    companyconfigurationhandlehtmxafterRequest(evt);
                } else if (current_module == 'campaign_leads_overview'){
                    leadshandlehtmxafterSwap(evt);
                } else if (current_module == 'whatsapp_templates'){
                    whatsapptemplateshandlehtmxafterRequest(evt);                    
                }  else if (current_module == 'campaign_booking_overview'){
                    setTimeout(function(){
                        bookinghandlehtmxafterRequest(evt);   
                    }, 500);                  
                } 
                basehandlehtmxafterRequest(evt);
            }
            document.body.addEventListener('htmx:afterRequest', handlehtmxafterRequest);
            
            function handlehtmxhistoryCacheError(evt){
                var current_module = $('#current_page').val()
            }
            document.body.addEventListener('htmx:historyCacheError', handlehtmxhistoryCacheError);

            
            function handlehtmxwsError(evt){
                console.log("handlehtmxwsError", evt)
                if(evt.detail.socket.url.includes("ws/message_count")){
                    $('.message_count_disconnected_indicator').addClass('htmx-request');
                }else if(evt.detail.socket.url.includes("ws/messaging")){
                    $('.messaging_disconnected_indicator').addClass('htmx-request');
                }else if(evt.detail.socket.url.includes("ws/lead")){
                    $('.leads_disconnected_indicator').addClass('htmx-request');
                }
                
            }
            document.body.addEventListener('htmx:wsError', handlehtmxwsError);

            function handlehtmxbeforeRequest(evt){
                var current_module = $('#current_page').val(); 
                if (current_module == 'campaign_leads_overview'){
                    leadshandlehtmxbeforeRequest(evt);
                } else if (current_module == 'free_tasters'){
                    freetastershandlehtmxbeforeRequest(evt);                    
                } else if (current_module == 'campaign_configuration'){
                    campaignconfigurationhandlehtmxbeforeRequest(evt);                    
                } else if (current_module == 'campaign_booking_overview'){
                    bookinghandlehtmxbeforeRequest(evt);                    
                }                
            }
            document.body.addEventListener('htmx:beforeRequest', handlehtmxbeforeRequest);
            
            function handlehtmxoobAfterSwap(evt){
                var current_module = $('#current_page').val()
                
                basehandlehtmxoobAfterSwap(evt);
            }
            document.body.addEventListener('htmx:oobAfterSwap', handlehtmxoobAfterSwap);
            
            function handlehtmxoobBeforeSwap(evt){
                var current_module = $('#current_page').val()
                basehandlehtmxoobBeforeSwap(evt);
            }
            document.body.addEventListener('htmx:oobBeforeSwap', handlehtmxoobBeforeSwap);
            
            function handlehtmxconfigRequest(evt){ 
                evt.detail.headers['x-csrftoken'] = '{{csrf_token}}';
            }
            document.body.addEventListener('htmx:configRequest', handlehtmxconfigRequest);
            
            function wsReconnectDelay(retryCount){ 
                $('#chat_load_indicator').addClass('htmx-request');
                var r=Math.min(retryCount,6);var n=1e3*Math.pow(2,r);
                return n*Math.random()
            }

            htmx.config.wsReconnectDelay = wsReconnectDelay
            

            $('#generic_modal').on('hidden.bs.modal', function () {
                $('#generic_modal_body').html("")
            })
    
            window.addEventListener("message", function(e) {
                if(isCalendlyEvent(e)) {
                    $('#calendly_loading').remove()
                    if (e.data.event == "calendly.event_scheduled") {               
                        var respStatus = $.ajax({
                            type:'POST',
                            url:'{%url "calendly-booking-success"%}',
                            data:{'lead_pk':$('#modal_lead_pk').val(), 'uri':e.data.payload.event.uri, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                            success: function (data) {
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                            }
                        })
                    }
                }
            });
        });
        
        $(document).ready(function() {
            set_total_costs();
            set_lead_counts();           
        });

        const setTheme = function (theme) {
            document.getElementById('html').setAttribute('data-bs-theme', theme)
        }

        
            
        {% comment %} flash() {% endcomment %}
    </script>
    <body id="body">        
        {%block nav%}
        {%include 'core/nav.html'%}
        {%endblock%}
        <div class="container-fluid" id="content">  
            {%block content%} 
            {%endblock content%}
        </div>
        <img class="htmx-indicator" id="page_load_indicator" src="{% static 'img/bars.svg' %}"/>

        <div class="modal fade" id="generic_modal" role="dialog" style="overflow:hidden;display: none;">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="generic_modal_title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div> 
                    <div class="modal-body" id="generic_modal_body">
                    </div>
                </div>
            </div>
        </div>

        
        {%block snackbar%}
        <div id="snackbar"></div>
        {%if request.user.is_authenticated%}
        <span id="chat_bottom_wrapper">
            
            <img  class="htmx-indicator invert" id="chat_bottom_htmx_indicator" src="{% static 'img/bars.svg' %}"/>
            <span
            hx-get="{%url 'message-list'%}"
            hx-target="#chat_bottom_wrapper"
            hx-swap="outerHTML"
            hx-indicator="#chat_bottom_htmx_indicator"        
            hx-trigger="load"></span>
        </span>
        {%endif%}

        {%endblock snackbar%}
        <button class="btn btn-primary" style="border-radius:10px; opacity: 0.8; position: fixed; bottom: 25px; left: 20px;" hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"
            hx-vals='{"template_name": "tutorial"}'
            hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
            hx-swap="innerHTML" hx-trigger="click" style="z-index:99"><i class="fa-regular fa-square-question"></i></button>
    </body>
</html>

