{%load static core_tags%}
<!DOCTYPE html>
{% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
<html>    
    <head>
        <script>
            var csrftoken = '{{ csrf_token }}';
        </script>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {%block cdn%}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>                    
            <script src="{% static 'js/jquery-3.6.0.js' %}"></script>                    
            <script src="{% static 'js/popper.min.js' %}"></script>                    
            <script src="{% static 'js/fontawesome.js' %}"></script>  
            <script src="{% static 'js/htmx.min.js' %}"></script>  
            <script src="{% static 'js/palette.js' %}"></script>        
            <link href="{% static 'css/snackbar.css' %}" rel="stylesheet" />
            <script src="{% static 'js/snackbar.js' %}"></script> 
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            <link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
            <script src="{% static 'js/datatables.js' %}"></script> 
            <script src="{% static 'js/Sortable.js' %}"></script> 

            <link rel="stylesheet" href="{% static 'css/select2.4.1.0.min.css' %}" />
            <script src="{% static 'js/select2.4.1.0.min.js' %}"></script>
            <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.1.3.0.min.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.1.3.0.rtl.min.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/bootstrap-icons.1.4.0.css' %}" />
            
            {%endblock cdn%}
        
        
        <link href="{% static 'css/phone.css' %}?0.71" rel="stylesheet" />
        <link href="{% static 'css/drag_drop.css' %}?0.71" rel="stylesheet" />
        <link rel="stylesheet" type="text/css"  href="{% static 'css/base.css' %}?0.71">
        <script src="{% static 'js/drag_drop.js' %}?0.71"></script> 
        <script src="{% static 'js/base.js' %}?0.71"></script>
        <script src="{% static 'js/chat.js' %}?0.71"></script>        
        <script src="{% static 'js/modules/leads.js' %}?0.71"></script>
        <script src="{% static 'js/modules/booking.js' %}?0.71"></script>
        <script src="{% static 'js/modules/graphs.js' %}?0.71"></script>
        <script src="{% static 'js/modules/free_tasters.js' %}?0.71"></script>
        <script src="{% static 'js/modules/campaign_configuration.js' %}?0.71"></script>
        <script src="{% static 'js/modules/company_configuration.js' %}?0.71"></script>
        <script src="{% static 'js/modules/whatsapp_templates.js' %}?0.71"></script>
        <script src="{% static 'js/modules/whatsapp_template_edit.js' %}?0.71"></script>
        <audio id="notification1" src="{% static 'audio/notification1.wav' %}?0.71" preload="auto"></audio>
        <audio id="notification2" src="{% static 'audio/notification2.mp3' %}?0.71" preload="auto"></audio>
        
        {%block styles%}
        <style>
            #content {
                overflow-x: hidden;
            }
        </style>
        {%endblock styles%}
        
    </head>
    
    <script>  
        $(document).ready(function() {
            
            window.addEventListener('mouseup', function(event){
            })
            
            $( ".top-nav-link" ).click(function() {
                $('#generic_modal').modal('hide');
                $( ".top-nav-link.active, .nav-link.active" ).removeClass('active');
                $($( this ).data('active-selector')).addClass('active');
            });

            
            
            document.body.onkeydown = function(e) {
                var current_module = $('#current_page').val()
                if (current_module == 'campaign_leads_overview'){
                    if (e.key == " " ||
                        e.code == "Space" ||      
                        e.keyCode == 32      
                    ) {
                        let drag_elem = null;
                        let hover_elem = $(':hover').last();
                        if (hover_elem.hasClass('.column-drag')){
                            drag_elem = hover_elem;
                        } else{                    
                            drag_elem = hover_elem.closest('.column-drag');
                        }    
                        if (drag_elem.length != 0)  {  
                            e.preventDefault();
                            htmx.ajax('GET', '/toggle-claim-lead/'+drag_elem.data('id')+'/', {swap:"none"})
                        }
                    }
                }
            }           

            ondblclick = (event) => { 
                var current_module = $('#current_page').val()
                if (current_module == 'campaign_leads_overview'){
                    let drag_elem = null;
                    let hover_elem = $(':hover').last();
                    if (hover_elem.hasClass('.column-drag')){
                        drag_elem = hover_elem;
                    } else{                    
                        drag_elem = hover_elem.closest('.column-drag');
                    }    
                    if (drag_elem.length != 0)  {     
                        event.preventDefault();
                        htmx.ajax('GET', '/toggle-claim-lead/'+drag_elem.data('id')+'/', {swap:"none"})
                    }
                }
            };
            
            {% comment %} setDoubleTap(".lead_card") {% endcomment %}

            function handlehtmxafterSwap(evt){
                var current_module = $('#current_page').val()
                if (current_module == 'analytics_overview'){
                    graphshandlehtmxafterSwap(evt);                    
                } else if (current_module == 'campaign_booking_overview'){
                    bookinghandlehtmxafterSwap(evt);                    
                } else if (current_module == 'free_tasters'){
                    freetastershandlehtmxafterSwap(evt);                    
                } else if (current_module == 'whatsapp_templates'){
                    whatsapptemplateshandlehtmxafterSwap(evt);                    
                }                
                basehandlehtmxafterSwap(evt);
            }
            document.body.addEventListener('htmx:afterSwap', handlehtmxafterSwap);
            
            function handlehtmxafterSettle(evt){
                var current_module = $('#current_page').val()
                basehandlehtmxafterSettle(evt);
            }
            document.body.addEventListener('htmx:afterSettle', handlehtmxafterSettle);
            
            


            function handlehtmxafterRequest(evt){
                var current_module = $('#current_page').val()
                if (current_module == 'analytics_overview'){
                    companyconfigurationhandlehtmxafterRequest(evt);
                } else if (current_module == 'campaign_leads_overview'){
                    leadshandlehtmxafterSwap(evt);
                } else if (current_module == 'whatsapp_templates'){
                    whatsapptemplateshandlehtmxafterRequest(evt);                    
                }  else if (current_module == 'campaign_booking_overview'){
                    setTimeout(function(){
                        bookinghandlehtmxafterRequest(evt);   
                    }, 500);                  
                } 
                basehandlehtmxafterRequest(evt);
            }
            document.body.addEventListener('htmx:afterRequest', handlehtmxafterRequest);
            
            function handlehtmxhistoryCacheError(evt){
                var current_module = $('#current_page').val()
            }
            document.body.addEventListener('htmx:historyCacheError', handlehtmxhistoryCacheError);

            
            function handlehtmxwsError(evt){
                console.log("handlehtmxwsError", evt)
                if(evt.detail.socket.url.includes("ws/message_count")){
                    $('.message_count_disconnected_indicator').addClass('htmx-request');
                }else if(evt.detail.socket.url.includes("ws/messaging")){
                    $('.messaging_disconnected_indicator').addClass('htmx-request');
                }else if(evt.detail.socket.url.includes("ws/lead")){
                    $('.leads_disconnected_indicator').addClass('htmx-request');
                }
                
            }
            document.body.addEventListener('htmx:wsError', handlehtmxwsError);

            function handlehtmxbeforeRequest(evt){
                var current_module = $('#current_page').val(); 
                if (current_module == 'campaign_leads_overview'){
                    leadshandlehtmxbeforeRequest(evt);
                } else if (current_module == 'free_tasters'){
                    freetastershandlehtmxbeforeRequest(evt);                    
                } else if (current_module == 'campaign_configuration'){
                    campaignconfigurationhandlehtmxbeforeRequest(evt);                    
                } else if (current_module == 'campaign_booking_overview'){
                    bookinghandlehtmxbeforeRequest(evt);                    
                }                
            }
            document.body.addEventListener('htmx:beforeRequest', handlehtmxbeforeRequest);
            
            function handlehtmxoobAfterSwap(evt){
                var current_module = $('#current_page').val()
                
                basehandlehtmxoobAfterSwap(evt);
            }
            document.body.addEventListener('htmx:oobAfterSwap', handlehtmxoobAfterSwap);
            
            function handlehtmxoobBeforeSwap(evt){
                var current_module = $('#current_page').val()
                basehandlehtmxoobBeforeSwap(evt);
            }
            document.body.addEventListener('htmx:oobBeforeSwap', handlehtmxoobBeforeSwap);
            
            function handlehtmxconfigRequest(evt){ 
                evt.detail.headers['x-csrftoken'] = '{{csrf_token}}';
            }
            document.body.addEventListener('htmx:configRequest', handlehtmxconfigRequest);
            
            function wsReconnectDelay(retryCount){ 
                $('#chat_load_indicator').addClass('htmx-request');
                var r=Math.min(retryCount,6);var n=1e3*Math.pow(2,r);
                return n*Math.random()
            }

            htmx.config.wsReconnectDelay = wsReconnectDelay
            

            $('#generic_modal').on('hidden.bs.modal', function () {
                $('#generic_modal_body').html("")
            })
    
            window.addEventListener("message", function(e) {
                if(isCalendlyEvent(e)) {
                    $('#calendly_loading').remove()
                    if (e.data.event == "calendly.event_scheduled") {               
                        var respStatus = $.ajax({
                            type:'POST',
                            url:'{%url "calendly-booking-success"%}',
                            data:{'lead_pk':$('#modal_lead_pk').val(), 'uri':e.data.payload.event.uri, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                            success: function (data) {
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                            }
                        })
                    }
                }
            });
        });
        
        $(document).ready(function() {
            set_total_costs();
            set_lead_counts();           
        });

        
            
        flash()
    </script>
    <body>        
        {%block nav%}
        {%include 'core/nav.html'%}
        {%endblock%}
        <div class="container-fluid" id="content">  
            {%block content%} 
            {%endblock content%}
        </div>
        <img class="htmx-indicator" id="page_load_indicator" src="https://htmx.org/img/bars.svg"/>

        <div class="modal fade" id="generic_modal" role="dialog" style="overflow:hidden;display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="generic_modal_title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div> 
                    <div class="modal-body" id="generic_modal_body">
                    </div>
                </div>
            </div>
        </div>

        
        {%block snackbar%}
        <div id="snackbar"></div>
        {%if request.user.is_authenticated%}
        <span id="chat_bottom_wrapper">
            
            <img  class="htmx-indicator invert" id="chat_bottom_htmx_indicator" src="https://htmx.org/img/bars.svg"/>
            <span
            hx-get="{%url 'message-list'%}"
            hx-target="#chat_bottom_wrapper"
            hx-swap="outerHTML"
            hx-indicator="#chat_bottom_htmx_indicator"        
            hx-trigger="load"></span>
        </span>
        {%endif%}

        {%endblock snackbar%}
    </body>
</html>

