{%load static core_tags%}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>    
    <head>
        <script>
            var csrftoken = '{{ csrf_token }}';
        </script>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {%block cdn%}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>                    
            <script src="{% static 'js/jquery-3.6.0.js' %}"></script>                    
            <script src="{% static 'js/popper.min.js' %}"></script>                    
            <script src="{% static 'js/fontawesome.js' %}"></script>  
            <script src="{% static 'js/htmx.min.js' %}"></script>  
            <script src="{% static 'js/palette.js' %}"></script>        
            <link href="{% static 'css/snackbar.css' %}" rel="stylesheet" />
            <script src="{% static 'js/snackbar.js' %}"></script> 
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            <link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
            <script src="{% static 'js/datatables.js' %}"></script> 
            
            <link rel="stylesheet" type="text/css"  href="{% static 'css/side_bar.css' %}">
            <link rel="stylesheet" type="text/css"  href="{% static 'css/base.css' %}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css" />
           {%endblock cdn%}
        
        <link href="{% static 'css/drag_drop.css' %}" rel="stylesheet" />
        <script src="{% static 'js/drag_drop.js' %}"></script> 
        <script src="{% static 'js/base.js' %}"></script>
        <script src="{% static 'js/modules/leads.js' %}"></script>
        <script src="{% static 'js/modules/booking.js' %}"></script>
        <script src="{% static 'js/modules/analytics.js' %}"></script>
        <script src="{% static 'js/modules/free_tasters.js' %}"></script>
        <script src="{% static 'js/modules/campaign_configuration.js' %}"></script>
        <script src="{% static 'js/modules/company_configuration.js' %}"></script>
        <script src="{% static 'js/modules/whatsapp_templates.js' %}"></script>
        <script src="{% static 'js/modules/whatsapp_template_edit.js' %}"></script>
        <audio id="notification1" src="{% static 'audio/notification1.wav' %}" preload="auto"></audio>
        <audio id="notification2" src="{% static 'audio/notification2.mp3' %}" preload="auto"></audio>
        
        {%block styles%}
        <style>
              
        </style>
        {%endblock styles%}
        
    </head>
    
    <script>  
        $(document).ready(function() {
            
            function handlehtmxafterSwap(evt){
                var current_module = $('#current_page').val()
                if (current_module == 'analytics_overview'){
                    analyticshandlehtmxafterSwap(evt);                    
                } else if (current_module == 'campaign_booking_overview'){
                    bookinghandlehtmxafterSwap(evt);                    
                } else if (current_module == 'free_tasters'){
                    freetastershandlehtmxafterSwap(evt);                    
                } else if (current_module == 'whatsapp_templates'){
                    whatsapptemplateshandlehtmxafterSwap(evt);                    
                }                
                basehandlehtmxafterSwap(evt);
            }
            document.body.addEventListener('htmx:afterSwap', handlehtmxafterSwap);
            htmx:
            function handlehtmxafterRequest(evt){
                var current_module = $('#current_page').val()
                if (current_module == 'analytics_overview'){
                    companyconfigurationhandlehtmxafterRequest(evt);
                } else if (current_module == 'campaign_leads_overview'){
                    leadshandlehtmxafterSwap(evt);
                } else if (current_module == 'whatsapp_templates'){
                    whatsapptemplateshandlehtmxafterRequest(evt);                    
                }
                basehandlehtmxafterRequest(evt);
            }
            document.body.addEventListener('htmx:afterRequest', handlehtmxafterRequest);
            
            function handlehtmxhistoryCacheError(evt){
                var current_module = $('#current_page').val()
                console.log(evt);
            }
            document.body.addEventListener('htmx:historyCacheError', handlehtmxhistoryCacheError);

            function handlehtmxbeforeRequest(evt){
                var current_module = $('#current_page').val();
                if (current_module == 'campaign_leads_overview'){
                    leadshandlehtmxbeforeRequest(evt);
                } else if (current_module == 'free_tasters'){
                    freetastershandlehtmxbeforeRequest(evt);                    
                } else if (current_module == 'campaign_configuration'){
                    campaignconfigurationhandlehtmxbeforeRequest(evt);                    
                }
                
            }
            document.body.addEventListener('htmx:beforeRequest', handlehtmxbeforeRequest);
            
            function handlehtmxoobAfterSwap(evt){
                var current_module = $('#current_page').val()
                if (current_module == 'campaign_booking_overview'){
                    bookinghandlehtmxbeforeRequest(evt);                    
                }
                basehandlehtmxoobAfterSwap(evt);
            }
            document.body.addEventListener('htmx:oobAfterSwap', handlehtmxoobAfterSwap);
            
            function handlehtmxoobBeforeSwap(evt){
                var current_module = $('#current_page').val()
                basehandlehtmxoobBeforeSwap(evt);
            }
            document.body.addEventListener('htmx:oobBeforeSwap', handlehtmxoobBeforeSwap);
            
            function handlehtmxconfigRequest(evt){ 
                evt.detail.headers['x-csrftoken'] = '{{csrf_token}}';
            }
            document.body.addEventListener('htmx:configRequest', handlehtmxconfigRequest);
            
            

            $('#generic_modal').on('hidden.bs.modal', function () {
                $('#generic_modal_body').html("")
            })
    
            window.addEventListener("message", function(e) {
                if(isCalendlyEvent(e)) {
                    $('#calendly_loading').remove()
                    if (e.data.event == "calendly.event_scheduled") {               
                        var respStatus = $.ajax({
                            type:'POST',
                            url:'{%url "calendly-booking-success"%}',
                            data:{'lead_pk':$('#modal_lead_pk').val(), 'uri':e.data.payload.event.uri, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                            success: function (data) {
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                            }
                        })
                    }
                }
            });
        });
        
        $(document).ready(function() {
            set_total_costs();
            set_lead_counts();            
        });
    </script>
    <body class="cartoon-background">
        {%include 'core/nav.html'%}
        <div class="container-fluid pb-5" id="content" style="">  
            {%block content%} 
            {%endblock content%}
        </div>
        <img class="htmx-indicator" id="page_load_indicator" src="https://htmx.org/img/bars.svg"/>

        <div class="modal fade" id="generic_modal" role="dialog" style="overflow:hidden;display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="generic_modal_title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div> 
                    <div class="modal-body" id="generic_modal_body">
                    </div>
                </div>
            </div>
        </div>
        {%block snackbar%}
        <div id="snackbar"></div>

        {%block chat_bottom%}
        {%endblock chat_bottom%}
        {%if request.user.is_authenticated%}
        <span id="chat_bottom_wrapper">
            
            <img  class="htmx-indicator invert" id="chat_bottom_htmx_indicator" src="https://htmx.org/img/bars.svg"/>
            <span
            hx-get="{%url 'message-list'%}"
            hx-target="#chat_bottom_wrapper"
            hx-swap="#outerHTML"
            hx-indicator="#chat_bottom_htmx_indicator"        
            hx-trigger="load"></span>
        </span>
        {%endif%}

        {%endblock snackbar%}
        
    </body>
</html>

