   
<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
        <div class="m-3 card card-white p-2">
            <h5>V0.5 - ? December 2022</h5>
            <ul>
                <li>
                    Allowing users to see the change log for transparency.
                </li>
                <li>
                    <small>
                        Bugs:                    
                        <ul>
                            <li>
                                Fixed double scroll bars on small screen devices.
                            </li>
                        </ul>
                    </small>
                </li>
            </ul>
            <hr>
            <h5>V0.4 - 4 December 2022</h5>
            <ul>
                <li>
                    Allowing users to see the change log for transparency.
                </li>
                <li>
                    Completely reworked the leads board. New system has a nice ghost card card-white showing where the card card-white will end up and shifts existing cards in column around. 
                </li>
                <li>
                    Completely restyled the whole site. Looks a lot for relaxed and less formal. Sadly had to remove Eleanor's lovely background for now. Will likely put it on the whatsapp chat window below.
                </li>
                <li>
                    Bottom chat window is now hidden on small devices. I will soon add a dedicated chat page too.
                </li>
                <li>
                    Tweaked the top navigation bar to be more mobile friendly.
                </li>
                <li>
                    Top navigation bar now highlights the page you are on.
                </li>
                <li>
                    Starting to add differences between the Free, Lite, and <i class="fa-solid fa-rectangle-pro"></i> versions (such as limited analytics, whatsapp messaging etc). 
                </li>
                <li>
                    Added ability for <i class="fa-solid fa-rectangle-pro"></i> to add additional sites themselves.
                </li>
                <li>
                    Moved some graphs around and combined some graphs together such as "Pipeline & Conversion Rate" and "Leads to Bookings and Sales".
                </li>
                <li>
                    Moved some graphs around and combined some graphs together.
                </li>
                <li>
                    <small>
                        Bugs:                    
                        <ul>
                            <li>
                                Fixed a bug where Active Campaign Webhooks were not updating the live leads board without a refresh!
                            </li>
                            <li>
                                Active Campaign Webhooks are now created correctly were converting account from Free/Lite to <i class="fa-solid fa-rectangle-pro"></i>.
                            </li>
                        </ul>
                    </small>
                </li>
            </ul>
            <hr>
            <h5>V0.3 - 29 November 2022</h5>
            <ul>
                <li>
                    Beta test of core features with Results Gym concluded. Resounding success!
                </li>
                <li>
                    Added additional Whatsapp and calendly configuration options as we get ready for live deployment soon!
                </li>
                <li>
                    General UI tweaks.
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
    </div>
</div>