   
<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
        <div class="m-3 card card-white p-2">
            <h5>V0.6 - 14? December 2022</h5>
            <ul>
                <li>
                    Added <b>"Edit Permissions"</b> Section, allows various company members to edit those that they have authority over Owners -> Managers -> Employees.
                </li>
                <li>
                    Added new concept: <b>Company Permissions</b>, <b>Site Permissions</b>. 
                </li>
                <li>
                    Added Lots of logic around what a user is able to do based on their <b>"permissions"</b> and <b>"role"</b>.
                </li>
                <li>
                    Found out that calendly webhooks can be disabled (not sure why?). Put in a temporary fix until I find out why this may have happened.
                </li>
                <li>
                    Added a submit button to the calendly settings to stop accidental mistakes.
                </li>
                <li>
                    Added a <b>countdown timer</b> to the message window to warn you when you lose access to free text messages to that individual customer.
                </li>
                <li>
                    Added a <b>Demo Mode</b> at <a href="https://demo.winser.uk" target="_blank">https://demo.winser.uk</a> periodically simulates a campaign lead. Allows dragging, calendly bookings, viewing bookings and analytics. Configuration page inputs are disabled and whatsapp is a just a simulation.
                </li>
                <li>
                    Added Campaign categories to all appropriate pages.
                </li>
                <li>
                    Stopped creating an error for not being able to send 2nd onwards templates as not all campaign require follow up.
                </li>
                <li>
                    Made archive/book area on ledas page smaller with no header.
                </li>
                <li>
                    <small>
                        Bugs:                    
                        <ul>
                            <li>
                                Fixed the phantom template bug.
                            </li>
                            <li>
                                Whatsapp templates are deleted from Leads Management once Whatsapp informs the system to do so.
                            </li>
                        </ul>
                    </small>
                </li>
            </ul>
            <hr>
            <h5>V0.5 - 06 December 2022</h5>
            <ul>
                <li>
                    Remade the system for assigning auto send templates to a campaign, now can assign up to <b>10 templates per campaign</b>. Added a seperate popup window for adding new templates. Removing the template choices from the campaign configuration page has freed up some space.
                </li>
                <li>
                    Added new concept of a campaign type to allow the system to cater to wider spanning gyms (i.e the system can similtaneously be used for group class leads and a PT training course for example).
                </li>
                <li>
                    Added <b>Google Sheets style "Who's Working" section</b> with profile pictures at the top of the leads page showing who is currently on the lead board! Very cool!
                </li>
                <li>
                    Made an <b>Edit Lead Section</b>. Currently only on the leads page, soon to be on the booking page too.
                </li>
                <li>
                    Made the leads columns equal lengths again.
                </li>
                <li>
                    Made card dragging a little smoother. Still more to be done though.
                </li>
                <li>
                    Added a character limit to each section of the whatsapp template with explanations on why.
                </li>
                <li>
                    Added frontend validation on the whatsapp template name to prevent users accidentally submitting an invalid name.
                </li>
                <li>
                    Made submitting a new whatsapp template a little more responsive (it tells you what it's doing in the background).
                </li>
                <li>
                    Added double clicking leads (or tapping) to make it touch friendly. <b>Mobile now kind of supported</b>.
                </li>
                <li>
                    Restyled the analytics page a bit more.
                </li>
                <li>
                    Booking table now sorted by booking date... Duh!
                </li>
                <li>
                    Added Date booking made in booking history.
                </li>
                <li>
                    Added a <b>New Login Page</b>. Image is placeholder.
                </li>
                <li>
                    Login username/email is not case sensitive any more.
                </li>
                <li>
                    The value of a lead is now determined upon creation, based on the campaign value at that moment in time. This can be edited in the new edit lead popup.
                </li>
                <li>
                    Added search to various select boxes (select2 library).
                </li>
                <li>
                    <small>
                        Bugs:                    
                        <ul>
                            <li>
                                Fixed double scroll bars on small screen devices.
                            </li>
                            <li>
                                Fixed leads not being claimable in some scenarios.
                            </li>
                            <li>
                                Fixed leads card not wanting to nicely go into the archive/booking boxes.
                            </li>
                            <li>
                                Fixed changing sites on the whatsapp template table not working.                                
                            </li>
                        </ul>
                    </small>
                </li>
            </ul>
            <hr>
            <h5>V0.4 - 04 December 2022</h5>
            <ul>
                <li>
                    Allowing users to see the change log for transparency.
                </li>
                <li>
                    Completely reworked the leads board. New system has a nice ghost card card-white showing where the card card-white will end up and shifts existing cards in column around. 
                </li>
                <li>
                    Completely restyled the whole site. Looks a lot for relaxed and less formal. Sadly had to remove Eleanor's lovely background for now. Will likely put it on the whatsapp chat window below.
                </li>
                <li>
                    Bottom chat window is now hidden on small devices. I will soon add a dedicated chat page too.
                </li>
                <li>
                    Tweaked the top navigation bar to be more mobile friendly.
                </li>
                <li>
                    Top navigation bar now highlights the page you are on.
                </li>
                <li>
                    Starting to add differences between the Free, Basic, and <i class="fa-solid fa-rectangle-pro"></i> versions (such as limited analytics, whatsapp messaging etc). 
                </li>
                <li>
                    Added ability for <i class="fa-solid fa-rectangle-pro"></i> to add additional sites themselves.
                </li>
                <li>
                    Moved some graphs around and combined some graphs together such as "Pipeline & Conversion Rate" and "Leads to Bookings and Sales".
                </li>
                <li>
                    Moved some graphs around and combined some graphs together.
                </li>
                <li>
                    <small>
                        Bugs:                    
                        <ul>
                            <li>
                                Fixed a bug where Active Campaign Webhooks were not updating the live leads board without a refresh!
                            </li>
                            <li>
                                Active Campaign Webhooks are now created correctly were converting account from Free/Basic to <i class="fa-solid fa-rectangle-pro"></i>.
                            </li>
                        </ul>
                    </small>
                </li>
            </ul>
            <hr>
            <h5>V0.3 - 29 November 2022</h5>
            <ul>
                <li>
                    Initial test of core features with Results Gym concluded. Resounding success!
                </li>
                <li>
                    Added additional Whatsapp and calendly configuration options as we get ready for live deployment soon!
                </li>
                <li>
                    General UI tweaks.
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
    </div>
</div>