   
<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
        <div class="m-3 card p-2">
            <h5>V0.4 - ? December 2022</h5>
            <ul>
                <li>
                    Allowing users to see the change log for transparency.
                </li>
            </ul>
            <hr>
            <h5>V0.3 - 03 December 2022</h5>
            <ul>
                <li>
                    Beta test of core features with Results Gym concluded.
                </li>
                <li>
                    Added additional Whatsapp and calendly configuration options as we get ready for live deployment soon!
                </li>
                <li>
                    General UI tweaks.
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
    </div>
</div>