{% extends 'core/base.html' %}{%load static%}
{%block scripts%}
{{block.super}}
<script>
    $(document).ready(function() {
    });
</script>
{%endblock scripts%}

{%block overide_content%}       
<div class="col d-flex flex-column h-sm-100 p-0" style="overflow-x:hidden"> 
    <main class="row">        
        <div class="row p-0 mt-2">
            {%block extra_top_left_buttons %}
            <div class="col-md-auto">
                <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>             
            </div>
            {%endblock%}
            <div class="col">                
            </div>
            {%block extra_top_right_buttons %}
            {%endblock%}
        </div>
        <div class="row m-3">
            <div class="col">
                <a class="btn btn-success" href="{% url 'whatsapp-templates' %}">Whatsapp Templates</a>
                <a class="btn btn-success" href="{% url 'lead-configuration' %}">Lead Configuration</a>
            </div>
        </div> 
    </main>
</div>
    
{%endblock overide_content%}