{% extends 'campaign_leads/campaign_leads_base.html' %}
{%load static%}
{%block scripts%}
{{block.super}}
<script>
    $(document).ready(function() {
    });
</script>
{%endblock scripts%}

{%block content%} 
    <div class="row">
        {% comment %} <div class="col-md-auto">
            <select class="form-select" onchange="snackbarShow('Coming Soon', 'danger')">
                {%for site in site_list%}
                <option>Results Health Club - {{site.1}}</option>
                {%endfor%}
            </select>
        </div> {% endcomment %}
        {%block extra_top_left_buttons %}
        {%endblock%}
        <div class="col">                
        </div>
        {%block extra_top_right_buttons %}
        {%endblock%}
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="{% url 'whatsapp-templates' %}">Whatsapp Templates</a>
            <a class="btn btn-success" href="{% url 'lead-configuration' %}">Lead Configuration</a>
        </div>
    </div> 
{%endblock content%}