{% extends 'core/base.html' %}
{%load static tz core_tags%}

{%block scripts%}
{{block.super}}
<script>
    document.title = "Home";
    $(document).ready(function() {
    });
</script>
{%endblock scripts%}
{%block content%}
{%if user.is_authenticated%}
<div class="row">
    <div class="col-md center">
        <h3>Apps</h3>
    </div>
</div>

<div class="row card mt-4 pb-4">
    <div class="col p-0">
        <div class="row">
            <div class="col-md center m-3">
                <h4>Core</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
            </div>
            <div class="col-md-2">
                <div class="card pointer" onclick="window.location.replace('{%url 'whatsapp-templates'%}')">
                    <div class="card-header center">
                        <a>Whatsapp Templates</a>
                    </div>
                    <div class="card-body center p-0">
                        <img src="{% static 'img/app_pictures/whatsapp_templates_2.png' %}" class="app_picture">
                    </div>
                </div>
            </div> 
            <div class="col-md-2">
                <div class="card pointer" onclick="window.location.replace('{%url 'company-configuration'%}')">
                    <div class="card-header center">
                        <a>Company Configuration</a>
                    </div>
                    <div class="card-body center">
                        <h1><i class="fa-regular fa-gear"></i></h1>
                    </div>
                </div>
            </div>  
            <div class="col-md-2">
                <div class="card pointer" onclick="window.location.replace('{%url 'site-configuration'%}')">
                    <div class="card-header center">
                        <a>Site Configuration</a>
                    </div>
                    <div class="card-body center">
                        <h1><i class="fa-regular fa-gear"></i></h1>
                    </div>
                </div>
            </div>  
            <div class="col">
            </div>      
        </div>
    </div>
</div>

<div class="row card mt-4 pb-4">
    <div class="row">
        <div class="col-md center m-3">
            <h4>Campaign Leads Management</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-md-2">
            <div class="card pointer" onclick="window.location.replace('{%url 'campaign-leads-overview'%}')">
                <div class="card-header center">
                    <a>Campaign leads</a>
                </div>
                <div class="card-body center p-0">
                    <img src="{% static 'img/app_pictures/campaign_leads_2.png' %}" class="app_picture">
                </div>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="card pointer" onclick="window.location.replace('{%url 'campaign-booking-overview'%}')">
                <div class="card-header center">
                    <a>Booking Table</a>
                </div>
                <div class="card-body center">
                    <h1><i class="fa-regular fa-table"></i></h1>
                </div>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="card pointer" onclick="window.location.replace('{%url 'analytics-overview'%}')">
                <div class="card-header center">
                    <a>Analytics</a>
                </div>
                <div class="card-body center">
                    <h1><i class="fa-regular fa-chart-line-up"></i></h1>
                </div>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="card pointer" onclick="window.location.replace('{%url 'campaign-configuration'%}')">
                <div class="card-header center">
                    <a>Campaign Configuration</a>
                </div>
                <div class="card-body center">
                    <h1><i class="fa-regular fa-gear"></i></h1>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{%else%}
<div class="row">
    <div class="col">
    </div>
    <div class="card col-md-auto">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Winser Systems</h1>
            <p class="lead">If you do not yet have an account, please visit <a href="https://winser.uk/">https://winser.uk/</a></p>  
        </div>
        <div class="card-deck p-3 text-center row">
            <div class="col-md">
            </div>
            <div class="card col-md-auto m-2 p-0 box-shadow">
                <a href="#" class="btn btn-lg btn-block btn-primary "
                hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" hx-vals='{"template_name": "login"}'
                hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
                hx-swap="innerHTML" hx-trigger="click">Login</a>
            </div>
            <div class="col-md">
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>
{%endif%}
{%endblock content%}