{% extends 'core/base.html' %}
{%load static tz core_tags%}

{%block scripts%}
{{block.super}}
<script>
    $(document).ready(function() {
        initDataTable();
    });
    {% comment %} function initDataTable() {
        dt = $('#overview_table').DataTable(
        );
    } {% endcomment %}
</script>
{%endblock scripts%}

{%block content%}       
<div class="col d-flex flex-column h-sm-100 p-0 " style="overflow-x:hidden"> 
    <main class="row">
        <div class="">
            {%block extra_top_left_buttons %}
            {%include 'core/htmx/site_selection.html'%}
            <button hidden hx-get="{% url 'free-taster-overview' %}" hx-push-url="false" hx-swap="outerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#overview_table" id="change_site" class="btn btn-primary btn-sm"></button>
            {%endblock%}
            <div class="col">                
            </div>
            {%block extra_top_right_buttons %}
                <div class="col-md-auto">
                    <button class="btn btn-success"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover focus" 
                        data-bs-placement="top"
                        data-bs-content="Generate a unique free taster link."
                        hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                        hx-vals='{"template_name": "create_free_taster_link"}'
                        hx-get="{% url 'get-modal-content' %}" 
                        hx-push-url="false"
                        hx-swap="innerHTML" hx-trigger="click">
                            <i class="fa-solid fa-link" aria-hidden="true"></i> Generate Free Taster Link
                    </button>
                </div>
            {%endblock%}
        </div>
        <div class="row p-0">
            {%include 'core/htmx/free_taster_table_htmx.html'%}
        </div>
    </main>
</div>
{%endblock content%}