{% extends 'core/overviews.html' %}
{%load static tz core_tags%}

{%block scripts%}
{{block.super}}
<script>
    $(document).ready(function() {
    });
    function initDataTable() {
        dt = $('#results_table').DataTable(
        );
    }
</script>
{%endblock scripts%}

{%block extra_top_left_buttons %}
<button hidden hx-get="{% url 'free-taster' %}" hx-push-url="true" hx-swap="outerHTML" hx-include=".non_site_dependant_results_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#results_table" id="change_site" class="btn btn-primary btn-sm"></button>
{{block.super}}
{%endblock%}

{%block extra_top_right_buttons %}
<div class="col-md-auto">
    <button class="btn btn-success"
        data-bs-toggle="popover" 
        data-bs-trigger="hover" 
        data-bs-placement="top"
        data-bs-content="Generate a unique free taster link."
        hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
        hx-include="#create_free_taster_link"
        hx-get="{% url 'get-modal-content' %}" 
        hx-push-url="false"
        hx-swap="innerHTML" hx-trigger="click">
            <i class="fa-solid fa-link" aria-hidden="true"></i> Generate Free Taster Link
    </button>
    <input type="text" style="display:None" id="create_free_taster_link" name="template_name" value="create_free_taster_link"/>
</div>
{%endblock%}

{%block table%}
<br>
<div class="card p-2">
    {%include 'core/htmx/free_taster_table_htmx.html'%}
</div>
{%endblock table%}