{%load static core_tags%}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark p-2" id="topnav">
    <a class="navbar-brand p-0 pointer" hx-indicator="#page_load_indicator"
        hx-get="{%url 'campaign-leads-overview'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">
        <img class="side_nav_logo" src="{% static 'img/logo-dark-back-img.png' %}" style="height:5vh" alt="winser systems logo">
    </a>
    <a class="navbar-brand p-0 pointer" hx-indicator="#page_load_indicator"
        hx-get="{%url 'campaign-leads-overview'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">
    <img class="side_nav_logo" src="{% static 'img/logo-dark-back-text.png' %}" style="height:2.25vh" alt="winser systems logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item bg-dark p-2">
            <a class="nav-link pointer" hx-indicator="#page_load_indicator"
            hx-get="{%url 'campaign-leads-overview'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML"><i class="fa-light fa-magnifying-glass"></i> Leads</a>
        </li>
        <li class="nav-item bg-dark p-2">
            <a class="nav-link pointer" hx-indicator="#page_load_indicator"
            hx-get="{%url 'campaign-booking-overview'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML"><i class="fa-light fa-table"></i> Bookings</a>
        </li>
        <li class="nav-item bg-dark p-2">
            <a class="nav-link pointer" hx-indicator="#page_load_indicator"
            hx-get="{%url 'analytics-overview'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML"><i class="fa-light fa-chart-line-up"></i> Analytics</a>
        </li>
        <li class="nav-item bg-dark dropdown p-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-light fa-gear"></i> Configuration
            </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item pointer" hx-indicator="#page_load_indicator"
                hx-get="{%url 'company-configuration'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">Company Configuration</a></li>
            <li><a class="dropdown-item pointer" hx-indicator="#page_load_indicator"
                hx-get="{%url 'site-configuration'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">Site Configuration</a></li>
            <li><a class="dropdown-item pointer" hx-indicator="#page_load_indicator"
                hx-get="{%url 'campaign-configuration'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">Campaign Configuration</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item pointer" hx-indicator="#page_load_indicator"
                hx-get="{%url 'whatsapp-templates'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">Whatsapp Templates</a></li>
            </ul>
        </li>
        
        <li class="nav-item bg-dark ">
            <img  class="top-htmx-indicator htmx-indicator" id="top-htmx-indicator" src="https://htmx.org/img/bars.svg"/>
        </li>
        </ul>
    </div>
    {%include 'core/htmx/profile-nav-section.html'%}
</nav>
        