{% extends 'core/base.html' %}
{%load static%}
{%block scripts%}
{{block.super}}
<script>
    let dt = null;
    $(document).ready(function() {
        initDataTable();
        $("[data-bs-toggle=popover]").popover();
        document.body.addEventListener('htmx:configRequest', function(evt) {    
            evt.detail.headers['x-csrftoken'] = $('#csrf_token').val();
        }); 
        document.body.addEventListener('htmx:beforeRequest', function(evt) {  
            if (evt.detail.target.id == 'results_table' || evt.detail.pathInfo.path.includes("academy-leads-overview")){
                $("#results_table").dataTable().fnDestroy();
            }
        });
        document.body.addEventListener('htmx:afterSwap', function(evt) {  
            if (evt.detail.target.id == 'results_table'){
                console.log(evt.detail)
                initDataTable(); 
            }
            else if (evt.detail.target.id == 'generic_modal_body'){
                $('#generic_modal').modal('show');
            }
            else if (evt.detail.pathInfo.path.includes("switch-user")){
                $('#generic_modal').modal('hide');
                snackbarShow('Successfully switched user', 'success')
            }
            else if (evt.detail.pathInfo.path.includes("add-user")){
                $('#generic_modal').modal('hide');
                snackbarShow('Successfully added user', 'success')
            }

            if (evt.detail.xhr.status == 200){
            } else {
                snackbarShow(evt.detail.xhr.responseText, 'danger')
            }
            $('.popover').remove()
            $('[data-bs-toggle=popover]').popover();
        });
    });
</script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>
    </style>
{%endblock styles%}
{%block content%}    
    <div class="">
        <div class="row">
            {%block extra_top_left_buttons %}
            <div class="col-md-auto">
                {%include 'core/htmx/sites_select_element.html'%}
            </div>
            {%endblock%}
            <div class="col">                
            </div>
            {%block extra_top_right_buttons %}
            {%endblock%}
        </div>
        <div class="row">
            <div class="col">
                {%block table%}
                
                {%endblock table%}
            </div>
        </div>
    </div>
    
{%endblock content%}