{% extends 'core/base.html' %}
{%load static core_tags%}
{%block scripts%}
{{block.super}}
<script>
    $(document).ready(function() {
        initDataTable();
        document.body.addEventListener('htmx:beforeRequest', function(evt) {  
            if (evt.detail.target.id == 'results_table' || evt.detail.pathInfo.path.includes("academy-leads-overview")){
                $("#results_table").dataTable().fnDestroy();
            }
        });
        document.body.addEventListener('htmx:afterSwap', function(evt) {  
            if (evt.detail.target.id == 'results_table'){
                initDataTable(); 
            }
            else if (evt.detail.pathInfo.path.includes("modify-user")){
                $('#generic_modal').modal('hide');
                snackbarShow('Successfully modifed/added user', 'success')
            }            
            {% comment %} if (evt.detail.target.classList.contains('academy_lead_row')) {
                $('#refresh_results_table').click(); 
            } {% endcomment %}
            
        });
    });
</script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>
    </style>
{%endblock styles%}
{%block content%}    
    <div class="">
        <div class="row">
            {%block extra_top_left_buttons %}
            {%include 'core/htmx/site_selection.html'%}
            {%endblock%}
            <div class="col">                
            </div>
            {%block extra_top_right_buttons %}
            {%endblock%}
        </div>
        <div class="row">
            <div class="col">
                {%block table%}
                
                {%endblock table%}
            </div>
        </div>
    </div>
    
{%endblock content%}