{% extends 'core/base.html' %}
{%load static tz core_tags%}
{%block scripts%}
{{block.super}}
<link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables.js' %}"></script> 
<script>
    $(document).ready(function() {
        initDataTable();
    });
    function initDataTable() {
        dt = $('#overview_table').DataTable(          
            {   
                searching: false,
                order: [[ 0, 'asc' ]],
                iDisplayLength: 100,
            }
        );
    }
    
</script>
{%endblock scripts%}

{%block extra_top_left_buttons %}
<div class="col-md-auto">
    <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>            
</div>
{%endblock extra_top_left_buttons %}

{%block extra_top_right_buttons %}  
<div class="col-md-auto">
    <span class="badge bg-dark text-white"><h6 class="m-1">Leads Configuration</h6></span>      
</div>
{%endblock extra_top_right_buttons %}


{%block content%}    

    <div class="">
        <div class="col m-3 alert alert-info">
            <p>From this page you can assign all of your campaigns to the various sites you may have attached to your company.</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <table id="overview_table" class="table"> 
                <thead> 
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Site
                        </th>
                        <th>
                            1st Auto-Send Template
                        </th>
                        <th>
                            2nd Auto-Send Template
                        </th>
                        <th>
                            3rd Auto-Send Template
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    {%for campaign in campaigns%}
                    <tr id="row_{{campaign.pk}}">
                        {%include 'campaign_leads/campaign_configuration_row.html'%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{%endblock content%}
{%block chat_bottom%}
{%endblock chat_bottom%}