{% extends 'core/base.html' %}
{%load static core_tags%}
{%block scripts%}
{{block.super}}

<link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables.js' %}"></script> 
<script>
    document.title = "Booking Table";
    $(document).ready(function() {  
        initDataTable();
        document.body.addEventListener('htmx:beforeRequest', function(evt) {  
            if (![undefined, ''].includes(evt.detail.pathInfo.path) && ![undefined, ''].includes(evt.detail.target.id)){
                if (evt.detail.target.id == 'overview_table' || evt.detail.pathInfo.path.includes("campaign-booking-overview")){
                    $("#overview_table").dataTable().fnDestroy();
                }
            }
        });
        document.body.addEventListener('htmx:afterSwap', function(evt) {   
            if (evt.detail.target.id == 'overview_table_wrapper'){
                initDataTable(); 
            }
                        
            {% comment %} if (evt.detail.target.classList.contains('campaign_booking_row')) {
                $('#refresh_overview_table').click(); 
            } {% endcomment %}


            if (evt.detail.xhr.status == 200){
                if (![undefined, ''].includes(evt.detail.pathInfo.path)){
                    if (evt.detail.pathInfo.path.includes("mark-done")){
                        snackbarShow('Successfully marked lead as done', 'success')
                    } else if (evt.detail.pathInfo.path.includes("add-booking")){
                        $('#generic_modal').modal('hide');
                        snackbarShow('Successfully added a booking', 'success')
                    } else if (evt.detail.pathInfo.path.includes("create-campaign-lead")){
                        $('#refresh_overview_table').click(); 
                        $('#generic_modal').modal('hide');
                        snackbarShow('Successfully manually created a campaign lead', 'success')
                    } else if (evt.detail.pathInfo.path.includes("mark-arrived")){
                        $('#generic_modal').modal('hide');
                        snackbarShow('Successfully marked that the customer arrived as booking', 'success')
                    } else if (evt.detail.pathInfo.path.includes("mark-sold")){
                        $('#generic_modal').modal('hide');
                        snackbarShow('Successfully sold to customer', 'success')
                    } else if (evt.detail.pathInfo.path.includes("campaign-booking-overview")){
                        $('#refresh_campaign_list_span').click(); 
                        snackbarShow('Successfully refreshed table', 'success')
                    }                
                }                
            }
            if ($('#noteTable')){
                
            }
            $('[data-bs-toggle=popover]').popover();
        });
    });
    function initDataTable() {
        try{dt.fnDestroy();}catch{}
        
        dt = $('#overview_table').DataTable(            
        {  
            order: [[ 4, 'asc' ],[ 2, 'asc' ]],
            iDisplayLength: 10
        }
        );
    }
</script>
{%endblock scripts%}

{%block extra_top_left_buttons %}
<div class="col-md-auto me-2">
    <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>             
</div>
{%include 'core/htmx/site_selection.html'%}
<div class="col-md-auto me-2" id="campaign_list_div">
    <span id="campaign_list_span" hx-get="{% url 'get-campaign'%}" hx-include=".overview_table_filters" hx-trigger="load" hx-indicator=".top-htmx-indicator" hx-target="#campaign_list_span" hx-swap="outerHTML">   
        <select class="form-select">
            <option>Loading</option>
        </select>    
    </span>
</div>
<button hidden hx-get="{% url 'get-campaign'%}" hx-include=".overview_table_filters" id="refresh_campaign_list_span" hx-indicator=".top-htmx-indicator" hx-target="#campaign_list_div" hx-trigger="click" hx-swap="innerHTML"></button>
<button hidden hx-get="{% url 'campaign-booking-overview'%}" hx-include=".overview_table_filters" id="refresh_overview_table" hx-indicator=".top-htmx-indicator" hx-target="#overview_table_wrapper" hx-trigger="click" hx-swap="outerHTML"></button>
<button hidden hx-get="{% url 'campaign-booking-overview' %}" hx-push-url="false" hx-swap="outerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#overview_table_wrapper" id="change_site" class="btn btn-primary btn-sm"></button>
<button hidden
    hx-get="{{request.path}}" 
    hx-swap="outerHTML" hx-push-url="false" hx-include=".overview_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#overview_table_wrapper" id="filter_campaign" class="btn btn-primary btn-sm"></button>
{%endblock extra_top_left_buttons %}



{%block extra_top_right_buttons %}
{%include 'campaign_leads/htmx/campaign_bookings_table_status_toggle_div.html'%}
<div class="col-md-auto">
<span class="badge bg-dark text-white"><h6 class="m-1">Booking Table</h6></span>           
</div>
{%endblock extra_top_right_buttons %}




{%block content%}       
    <span hx-swap-oob="true" id="site_pk_span">   
        <input type="text" style="display:None" id="site_pk" name="site_pk" value="{{request|get_key_in_get_or_post:'site_pk'}}"/>
    </span>
    <input type="text" style="display:None" id="call_history" name="template_name" value="call_history"/>
    <input type="text" style="display:None" id="booking_history" name="template_name" value="booking_history"/>
    <input type="text" style="display:None" id="note_history" name="template_name" value="note_history"/>

    <input type="text" style="display:None" id="add_booking" name="template_name" value="add_booking"/>
    <input type="text" style="display:None" id="pause_whatsapp" name="template_name" value="pause_whatsapp"/>

    {% include 'campaign_leads/htmx/campaign_bookings_table.html' %}
{%endblock content%}