<span>    
    <div class="row mt-0">
        {%block extra_top_left_buttons %}
        {% comment %} <div class="col-md-auto">
            <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>
        </div> {% endcomment %}
        {%include 'core/htmx/site_selection.html'%}
        <button hidden hx-get="" hx-push-url="false" hx-swap="outerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
        {%endblock extra_top_left_buttons %}

        <div class="col">
        </div>

        {%block extra_top_right_buttons %}  
        <div class="col-md-auto">
            <span class="badge bg-dark text-white"><h6 class="m-1">Leads Configuration</h6><input id="current_page" hidden value="campaign_configuration"></input></span>      
        </div>
        {%endblock extra_top_right_buttons %}
    </div>
    <div class="row mt-2">
        <div class="col m-3 alert alert-info">
            <p>From this page you can assign all of your campaigns to the various sites you may have attached to your company.</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <table id="overview_table" class="table"> 
                <thead> 
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Site
                        </th>
                        <th>
                            Price (£)
                        </th>
                        <th>
                            1st Auto-Send Template
                        </th>
                        <th>
                            2nd Auto-Send Template
                        </th>
                        <th>
                            3rd Auto-Send Template
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    {%for campaign in campaigns%}
                    <tr id="row_{{campaign.pk}}">
                        {%include 'campaign_leads/campaign_configuration_row.html'%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</span>