{% extends 'core/base.html' %}
{%load static core_tags%}
{%block scripts%}
{{block.super}}
 
<link href="{% static 'css/drag_drop.css' %}" rel="stylesheet" />
<script src="{% static 'js/drag_drop.js' %}"></script> 
<link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables.js' %}"></script> 
<script>
    $(document).ready(function() {  
        
        document.body.addEventListener('htmx:beforeRequest', function(evt) {  
            if (![undefined, ''].includes(evt.detail.pathInfo.path) && ![undefined, ''].includes(evt.detail.target.id)){
                if (evt.detail.target.id == 'overview_table' || evt.detail.pathInfo.path.includes("academy-booking-overview")){
                    $("#overview_table").dataTable().fnDestroy();
                }
            }
        });

        document.body.addEventListener('htmx:afterSwap', function(evt) {   
            
            if (evt.detail.xhr.status == 200){
                if (![undefined, ''].includes(evt.detail.pathInfo.requestPath)){
                    if (evt.detail.pathInfo.requestPath.includes("create-campaign-lead")){
                        {% comment %} $('#refresh_overview_table').click();  {% endcomment %}
                        $('#generic_modal').modal('hide');
                        // $('#refresh_column_metadata').click()
                        snackbarShow('Successfully manually created a campaign lead', 'success')
                    } else if (evt.detail.pathInfo.requestPath.includes("add-booking")){
                        $('#generic_modal').modal('hide');
                        snackbarShow('Successfully added a booking', 'success')
                    }  
                }             
            }
            
            $('[data-bs-toggle=popover]').popover();
        });
        
        window.addEventListener("message", function(e) {
            if(isCalendlyEvent(e)) {
                $('#calendly_loading').remove()
                /* Example to get the name of the event */
                console.log("Event name:", e.data.event);
                console.log("Event details:", e.data.payload);
                if (e.data.event == "calendly.event_scheduled") {               
                    var respStatus = $.ajax({
                        type:'POST',
                        url:'{%url "calendly-booking-success"%}',
                        data:{'lead_pk':$('#modal_lead_pk').val(), 'event':e.data.payload.event, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                        success: function (data) {
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                        }
                    })
                }
            }
        });

        set_total_costs();
    });
        
    function isCalendlyEvent(e) {
        return e.origin === "https://calendly.com" && e.data.event && e.data.event.indexOf("calendly.") === 0;
    };
    
    function handleDraggedItem(dragged_elem_id, drag_target){
        dragged_elem = $('#'+dragged_elem_id)
        var respStatus = $.ajax({
            type:'POST',
            url:'{% url "new-call" %}'+dragged_elem.data('id')+'/'+$(drag_target).data("call-count")+'/'+$('#max_call_count').val()+'/',
            data:{'csrfmiddlewaretoken':'{{ csrf_token }}'},
            success: function (data) {                
                // $('#refresh_column_metadata').click()
                snackbarShow('Successfully added call', 'success')
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            }
        })
        let call_count = parseInt($(drag_target).data("call-count"));
        let max_call_count = parseInt($('#max_call_count').val());
        if (call_count > max_call_count) {
            $('#add_column').click();
        }
    }
    function clear_chat_from_session(whatsapp_number){
        var respStatus = $.ajax({
            type:'POST',
            url:'{%url "clear-chat-from-session"%}',
            data:{'whatsapp_number':whatsapp_number, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
            success: function (data) {
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            }
        })
    }
    function add_chat_to_session(whatsapp_number){
        if ($('#chat_card_'+whatsapp_number).length === 0){
            var respStatus = $.ajax({
                type:'POST',
                url:'{%url "add-chat-to-session"%}',
                data:{'whatsapp_number':whatsapp_number, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                success: function (data) {
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                }
            })
        }
    }
    function set_total_costs(){
        console.log("set_total_costs")        
        $('.total_cost').each(function () {
            let total_cost = 0.00;
            $(this).closest('.column').find(".lead_cost").each(function() {
              console.log($(this).data('cost'));
              total_cost += parseFloat($(this).data('cost'));
            });
            total_cost = total_cost.toFixed(2);

            $(this).val(total_cost).html(total_cost);
        });
    }
</script>
{%endblock scripts%}

{%block extra_top_left_buttons %}
<div class="col-md-auto">
    <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>          
</div>
{%include 'core/htmx/site_selection.html'%}
<button hidden hx-get="{{request.path}}" hx-push-url="false" hx-swap="outerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator=".htmx-indicator" hx-target="#leads_board" id="change_site" class="btn btn-primary btn-sm"></button>
<button hidden
    hx-get="{{request.path}}" 
    hx-swap="outerHTML" hx-push-url="false" hx-include=".overview_table_filters" hx-indicator=".htmx-indicator" hx-target="#leads_board" id="filter_campaign" class="btn btn-primary btn-sm"></button>
<button hidden hx-get="{% url 'get-campaign'%}" hx-include=".overview_table_filters" id="refresh_campaign_list_span" hx-indicator=".htmx-indicator" hx-target="#campaign_list_span" hx-trigger="click" hx-swap="outerHTML"></button>
<button hidden hx-get="{% url 'campaign-leads-overview'%}" hx-include=".overview_table_filters" id="refresh_overview_table" hx-indicator=".htmx-indicator" hx-target="#overview_table" hx-trigger="click" hx-swap="outerHTML"></button>
<div class="col-md-auto me-2" hx-get="{% url 'get-campaign'%}" hx-include=".overview_table_filters" hx-trigger="load" hx-indicator=".htmx-indicator" hx-target="#campaign_list_span" hx-swap="outerHTML">
    <span id="campaign_list_span">   
        <select class="form-select">
            <option>Loading</option>
        </select>    
    </span>
</div>
      
<input type="text" style="display:None" id="add_booking" name="template_name" value="add_booking"/>
<div class="col-md-auto me-2">
    <button class="btn btn-primary btn-sm" 
        data-bs-toggle="popover" 
        data-bs-trigger="hover" 
        data-bs-placement="top"
        data-bs-content="Manually create a campaign lead."
        hx-indicator=".htmx-indicator" hx-target="#generic_modal_body" 
        hx-include="#site_pk"
        hx-get="{% url 'campaign-lead-get-modal-content' %}" 
        hx-push-url="false"
        hx-vals='{"template_name": "create_campaign_lead"}'
        hx-swap="innerHTML" hx-trigger="click">
            <i class="fa fa-plus" aria-hidden="true"></i> Manually Add Campaign Lead
    </button>

</div>
{%endblock extra_top_left_buttons %}

{%block extra_top_right_buttons %}
<div class="col-md-auto">
    <span class="badge bg-dark text-white"><h6 class="m-1">Campaign Leads</h6></span>               
</div>
{%endblock extra_top_right_buttons %}

{%block content%}       
{%include 'campaign_leads/htmx/leads_board.html' %}
<div id="add_booking_area" class="" ondrop="drop_booking(event)" ondragover="allowDrop(event)">
    
    <div class="card-body center text-white">
        <h3>Add Booking
            <i class="fa-duotone fa-calendar-days"></i>
        </h3>
    </div>
</div>
{%endblock content%}

{%block snackbar%}
{{block.super}}
<span id="chat_bottom" class="" style=" 
display: flex;
flex-wrap: wrap;
align-items: flex-start;">


<span
hx-get="{%url 'get-messaging-window'%}"
hx-target="#chat_bottom"
hx-swap="#outerHTML"
hx-indicator=".htmx-indicator"                 
hx-vals='{"site_pk": "{{site.pk}}"}'
hx-trigger="load"></span>

</span>
{%endblock snackbar%}