{% extends 'core/base.html' %}
{%load static tz core_tags%}
{%block scripts%}
{{block.super}}
<link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables.js' %}"></script> 
<script>
    $(document).ready(function() {
        {% comment %} initDataTable(); {% endcomment %}
    });
    {% comment %} function initDataTable() {
        dt = $('#overview_table').DataTable(          
            {   
                searching: false,
                order: [[ 0, 'asc' ]],
                iDisplayLength: 100,
            }
        );
    } {% endcomment %}
    
</script>
{%endblock scripts%}

{%block extra_top_left_buttons %}
<div class="col-md-auto">
    <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>            
</div>
{%include 'core/htmx/site_selection.html'%}
<button hidden hx-get="" hx-push-url="false" hx-swap="outerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
{%endblock extra_top_left_buttons %}

{%block extra_top_right_buttons %}  
<div class="col-md-auto">
    <span class="badge bg-dark text-white"><h6 class="m-1">Leads Configuration</h6></span>      
</div>
{%endblock extra_top_right_buttons %}


{%block content%}   
    {%include 'campaign_leads/campaign_configuration_htmx.html'%}
{%endblock content%}
{%block chat_bottom%}
{%endblock chat_bottom%}