{% extends 'core/base.html' %}
{%load static core_tags%}
{%block scripts%}
{{block.super}}
 
<link href="{% static 'css/drag_drop.css' %}" rel="stylesheet" />
<script src="{% static 'js/drag_drop.js' %}"></script> 
<script>
    $(document).ready(function() {  
        initDataTable();
        document.body.addEventListener('htmx:beforeRequest', function(evt) {  
            if (evt.detail.target.id == 'results_table' || evt.detail.pathInfo.path.includes("academy-booking-overview")){
                $("#results_table").dataTable().fnDestroy();
            }
        });

        document.body.addEventListener('htmx:afterSwap', function(evt) {   
            if (evt.detail.target.id == 'results_table'){
                initDataTable(); 
            }
            else if (evt.detail.pathInfo.path.includes("modify-user")){
                $('#generic_modal').modal('hide');
                snackbarShow('Successfully modifed/added user', 'success')
            }            
            {% comment %} if (evt.detail.target.classList.contains('academy_booking_row')) {
                $('#refresh_results_table').click(); 
            } {% endcomment %}
            if (evt.detail.xhr.status == 200){
                if (evt.detail.pathInfo.path.includes("create-campaign-lead")){
                    {% comment %} $('#refresh_results_table').click();  {% endcomment %}
                    $('#generic_modal').modal('hide');
                    $('#refresh_column_metadata').click()
                    snackbarShow('Successfully manually created a campaign lead', 'success')
                } else if (evt.detail.pathInfo.path.includes("new-call")){
                    $('#refresh_column_metadata').click()
                    snackbarShow('Successfully added call', 'success')
                } else if (evt.detail.pathInfo.path.includes("add-booking")){
                    $('#generic_modal').modal('hide');
                    snackbarShow('Successfully added a booking', 'success')
                }               
            }
            
            $('[data-bs-toggle=popover]').popover();
        });
    });
    function initDataTable() {
        dt = $('#results_table').DataTable(            
        {  
            order: [[ 4, 'asc' ],[ 2, 'asc' ]],
            iDisplayLength: 10
        }
        );
    }
    
    function handleDraggedItem(dragged_elem_id, drag_target){
        dragged_elem = $('#'+dragged_elem_id)
        htmx.ajax('POST', '{% url "new-call" %}'+dragged_elem.data('id')+'/'+$(drag_target).data("call-count")+'/'+$('#max_call_count').val()+'/', {target:'#'+dragged_elem_id, 
                                                                                                                    swap:'outerHTML'})
        let call_count = parseInt($(drag_target).data("call-count"));
        let max_call_count = parseInt($('#max_call_count').val());
        console.log(call_count, max_call_count)
        if (call_count > max_call_count) {
            $('#add_column').click();
        }
    }
</script>
{%endblock scripts%}

{%block content%}    
    <div class="">
        <div class="row">
            {%block extra_top_left_buttons %}
            {%include 'core/htmx/site_selection.html'%}
            <button hidden hx-get="{{request.path}}" hx-push-url="true" hx-swap="outerHTML" hx-include=".results_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#leads_board" id="change_site" class="btn btn-primary btn-sm"></button>
            <button hidden
                hx-get="{{request.path}}" 
                hx-swap="outerHTML" hx-push-url="true" hx-include=".results_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#leads_board" id="filter_active_campaign_list" class="btn btn-primary btn-sm"></button>
            <div class="col-md-auto" hx-get="{% url 'get-active-campaign-lists'%}" hx-include=".results_table_filters" hx-trigger="load" hx-indicator=".top-htmx-indicator" hx-target="#campaign_list_span" hx-swap="outerHTML">
                <span id="campaign_list_span">   
                    <select class="form-select">
                        <option>Loading</option>
                    </select>    
                </span>
            </div>
            <button hidden hx-get="{% url 'get-active-campaign-lists'%}" hx-include=".results_table_filters" id="refresh_campaign_list_span" hx-indicator=".top-htmx-indicator" hx-target="#campaign_list_span" hx-trigger="click" hx-swap="outerHTML"></button>
            <button hidden hx-get="{% url 'campaign-leads-overview'%}" hx-include=".results_table_filters" id="refresh_results_table" hx-indicator=".top-htmx-indicator" hx-target="#results_table" hx-trigger="click" hx-swap="outerHTML"></button>
            <input type="text" style="display:None" id="add_booking" name="template_name" value="add_booking"/>
            {%endblock%}
            <div class="col-md-auto">
                <button class="btn btn-primary btn-sm" 
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Manually create a campaign lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#create_campaign_lead,#site_pk"
                    hx-get="{% url 'campaign-lead-get-modal-content' %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                        <i class="fa fa-plus" aria-hidden="true"></i> Manually Add Campaign Lead
                </button>
                <input type="text" style="display:None" id="create_campaign_lead" name="template_name" value="create_campaign_lead"/>
            </div>
            <div class="col">                
            </div>
            {%block extra_top_right_buttons %}
            {%endblock%}
        </div>
        <div class="row">
            <div class="col-md-auto">
                {%include 'campaign_leads/htmx/leads_board.html' %}
            </div>

            <div class="col">
            </div>
        </div>
    </div>
    <div id="add_booking_area" class="" ondrop="drop_booking(event)" ondragover="allowDrop(event)">
        Add Booking
    </div>
    
{%endblock content%}