{% extends 'core/base.html' %}
{%load static core_tags%}
{%block scripts%}
{{block.super}}
 
<link href="{% static 'css/drag_drop.css' %}" rel="stylesheet" />
<script src="{% static 'js/drag_drop.js' %}"></script> 
<link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables.js' %}"></script> 


<style>
    </style>
    <div id="leadsSearchBar">
       Search Here: <input type="search" id="searchInput" class="search" />
    </div>
    <script>
    window.onload = function() {
        var listen = /^[a-z0-9| ]+$/i;
        var searchInput = document.getElementById('searchInput');
        var searchBar = document.getElementById('leadsSearchBar');
    
        if ( window.addEventListener ){
            window.addEventListener( 'keyup', insertKey, false);
        }
        function insertKey( e ) {
            if (!$('input').is(':focus')) {
            // Get the character from e.keyCode
                var key = String.fromCharCode( e.keyCode ).toLowerCase(); 
        
                // Match the character  
                if( key.match(listen)) {
        
                    // Change display: none; to display: block;
                    searchBar.style.display = "block";
                    $(searchBar).stop( true, true ).fadeIn();
                    // Append every new character
                    searchInput.value += key;
                    // Focus on input
                    {% comment %} searchInput.focus(); {% endcomment %}

                    $(searchBar).stop( true, true ).fadeOut("slow", function () {
                        $(this).css({display:"none"});
                    });
                } else if(e.keyCode == 8){
                    searchInput.value = "";
                }

                if (searchInput.value != ""){
                    jQuery.expr[':'].containsLower = function(elem, i, m) {
                        let name_elem = $(elem).find('.lead_name');
                        let campaign_elem = $(elem).find('.campaign_name');
                        let cost_elem = $(elem).find('.lead_cost');
                        let phone_elem = $(elem).find('.phone_number');
                        let search_term = m[3].toLowerCase();
                        return (
                            (name_elem.html().toLowerCase()).includes(search_term) ||
                            (campaign_elem.html().toLowerCase()).includes(search_term) ||
                            (cost_elem.html().toLowerCase()).includes(search_term) ||
                            (phone_elem.html().toLowerCase()).includes(search_term)
                        )
                    };

                    $('.column-drag').hide().filter(':containsLower("'+searchInput.value+'")').show();
                } else {

                    $('.column-drag').show();
                }

                $('#leadSearchValue').html(searchInput.value)
            }
        }
    };
    </script>


<script>
    $(document).ready(function() {  
        window.onkeydown = function(e) { 
            return !(e.keyCode == 32 && e.target == document.body);
        }; 
        document.body.onkeyup = function(e) {
            if (e.key == " " ||
                e.code == "Space" ||      
                e.keyCode == 32      
            ) {
                e.preventDefault();
                let drag_elem = null;
                let hover_elem = $(':hover').last();
                if (hover_elem.hasClass('.column-drag')){
                    drag_elem = hover_elem;
                } else{                    
                    drag_elem = hover_elem.closest('.column-drag');
                }    
                if (drag_elem.length != 0)  {  
                    
                    htmx.ajax('GET', '/campaign-leads/toggle-claim-lead/'+drag_elem.data('id')+'/', {swap:"none"})
                }
            }
          }

        document.body.addEventListener('htmx:beforeRequest', function(evt) {  
            if (![undefined, ''].includes(evt.detail.pathInfo.path) && ![undefined, ''].includes(evt.detail.target.id)){
                if (evt.detail.target.id == 'overview_table' || evt.detail.pathInfo.path.includes("academy-booking-overview")){
                    $("#overview_table").dataTable().fnDestroy();
                }
            }
        });

        document.body.addEventListener('htmx:afterSwap', function(evt) {   
            
            if (evt.detail.xhr.status == 200){
                if (![undefined, ''].includes(evt.detail.pathInfo.requestPath)){
                    if (evt.detail.pathInfo.requestPath.includes("create-campaign-lead")){
                        {% comment %} $('#refresh_overview_table').click();  {% endcomment %}
                        $('#generic_modal').modal('hide');
                        // $('#refresh_column_metadata').click()
                        snackbarShow('Successfully manually created a campaign lead', 'success')
                    } else if (evt.detail.pathInfo.requestPath.includes("add-booking")){
                        $('#generic_modal').modal('hide');
                        snackbarShow('Successfully added a booking', 'success')
                    } else if (evt.detail.pathInfo.requestPath.includes("refresh-lead-article") || evt.detail.pathInfo.requestPath.includes("leads-and-calls")){
                        document.getElementById('notification2').play();
                        set_total_costs();
                    }
                }             
            }
            
            $('[data-bs-toggle=popover]').popover();
        });

        set_total_costs();
    });
    
    function handleDraggedItem(dragged_elem_id, drag_target){
        dragged_elem = $('#'+dragged_elem_id)
        var respStatus = $.ajax({
            type:'POST',
            url:'{% url "new-call" %}'+dragged_elem.data('id')+'/'+$(drag_target).data("call-count")+'/'+$('#max_call_count').val()+'/',
            data:{'csrfmiddlewaretoken':'{{ csrf_token }}'},
            success: function (data) {                
                // $('#refresh_column_metadata').click()
                snackbarShow('Successfully added call', 'success')
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            }
        })
        let call_count = parseInt($(drag_target).data("call-count"));
        let max_call_count = parseInt($('#max_call_count').val());
        if (call_count > max_call_count) {
            $('#add_column').click();
        }
    }
    function clear_chat_from_session(whatsapp_number){
        var respStatus = $.ajax({
            type:'POST',
            url:'{%url "clear-chat-from-session"%}',
            data:{'whatsapp_number':whatsapp_number, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
            success: function (data) {
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            }
        })
    }
    function add_chat_to_session(whatsapp_number){
        if ($('#chat_card_'+whatsapp_number).length === 0){
            var respStatus = $.ajax({
                type:'POST',
                url:'{%url "add-chat-to-session"%}',
                data:{'whatsapp_number':whatsapp_number, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                success: function (data) {
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                }
            })
        }
    }
    function set_total_costs(){   
        $('.total_cost').each(function () {
            let total_cost = 0.00;
            $(this).closest('.column-done').find(".lead_cost").each(function() {
              total_cost += parseFloat($(this).data('cost'));
            });
            total_cost = total_cost.toFixed(2);
            $(this).val(total_cost).html(total_cost);
        });
    }
</script>
{%endblock scripts%}

{%block extra_top_left_buttons %}
<div class="col-md-auto">
    <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>          
</div>
{%include 'core/htmx/site_selection.html'%}
<button hidden hx-get="{{request.path}}" hx-push-url="false" hx-swap="outerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator=".htmx-indicator" hx-target="#leads_board" id="change_site" class="btn btn-primary btn-sm"></button>
<button hidden
    hx-get="{{request.path}}" 
    hx-swap="outerHTML" hx-push-url="false" hx-include=".overview_table_filters" hx-indicator=".htmx-indicator" hx-target="#leads_board" id="filter_campaign" class="btn btn-primary btn-sm"></button>
<button hidden hx-get="{% url 'get-campaign'%}" hx-include=".overview_table_filters" id="refresh_campaign_list_span" hx-indicator=".htmx-indicator" hx-target="#campaign_list_span" hx-trigger="click" hx-swap="outerHTML"></button>
<button hidden hx-get="{% url 'campaign-leads-overview'%}" hx-include=".overview_table_filters" id="refresh_overview_table" hx-indicator=".htmx-indicator" hx-target="#overview_table" hx-trigger="click" hx-swap="outerHTML"></button>
<div class="col-md-auto me-2" hx-get="{% url 'get-campaign'%}" hx-include=".overview_table_filters" hx-trigger="load" hx-indicator=".htmx-indicator" hx-target="#campaign_list_span" hx-swap="outerHTML">
    <span id="campaign_list_span">   
        <select class="form-select">
            <option>Loading</option>
        </select>    
    </span>
</div>
      
<input type="text" style="display:None" id="add_booking" name="template_name" value="add_booking"/>
<div class="col-md-auto me-2">
    <button class="btn btn-primary btn-sm" 
        data-bs-toggle="popover" 
        data-bs-trigger="hover" 
        data-bs-placement="top"
        data-bs-content="Manually create a campaign lead."
        hx-indicator=".htmx-indicator" hx-target="#generic_modal_body" 
        hx-include="#site_pk"
        hx-get="{% url 'campaign-lead-get-modal-content' %}" 
        hx-push-url="false"
        hx-vals='{"template_name": "create_campaign_lead"}'
        hx-swap="innerHTML" hx-trigger="click">
            <i class="fa fa-plus" aria-hidden="true"></i> Manually Add Campaign Lead
    </button>
</div>
{%endblock extra_top_left_buttons %}

{%block extra_top_right_buttons %}
<div class="col-md-auto">
    <span class="badge bg-dark text-white"><h6 class="m-1">Campaign Leads</h6></span>               
</div>
{%endblock extra_top_right_buttons %}

{%block content%}       
<div class="col-md-auto me-2 secondary_td_layer ">
    <b>Filtering:</b> "<u><span class="elipses-overflow" id="leadSearchValue"></span></u>" (Type to filter, BackSpace to clear)
</div>
{%include 'campaign_leads/htmx/leads_board.html' %}
<div id="add_booking_area" class="" ondrop="drop_booking(event)" ondragover="allowDrop(event)">
    
    <div class="card-body center text-white">
        <h3>Add Booking
            <i class="fa-duotone fa-calendar-days"></i>
        </h3>
    </div>
</div>
{%endblock content%}
