{% extends 'core/base.html' %}
{%load core_tags%}
{%load static tz core_tags%}
{%block scripts%}
{{block.super}}
<link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables.js' %}"></script> 
<script>
    $(document).ready(function() {
        initDataTable();
    });
    function initDataTable() {
        dt = $('#overview_table').DataTable(          
            {  
                order: [[ 1, 'asc' ]],
                iDisplayLength: 10,
                
                'columns': 
                [
                    { 'searchable': true },
                    { 'searchable': false },
                ]
            }
        );
    }
    
</script>
{%endblock scripts%}
{%block overide_content%}    
<div class="col d-flex flex-column h-sm-100 p-0" style="overflow-x:hidden">  
    <div class="fixed_top_buttons">
        {%block extra_top_left_buttons %}
        <div class="col-md-auto">
            <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>            
        </div>
        {%endblock%}
        <div class="col">   
        </div>        
        <div class="col-md-auto">
            <span class="badge bg-dark text-white"><h6 class="m-1">Leads Configuration</h6></span>      
        </div>
    </div>
    <main class="row overflow-auto below_fixed_top_buttons">

        <div class="row m-3">
            <div class="col m-3 alert alert-info">
                <p>From this page you can assign all of your campaigns to the various sites you may have attached to your company.</p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <table id="overview_table" class="table"> 
                    <thead> 
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Site
                            </th>
                        </tr>
                    </thead>
                    <tbody> 
                        {%for campaign in campaigns%}
                        <tr id="row_{{campaign.pk}}">
                            <td>
                                {{campaign.name}}
                            </td>
                            <td> 
                                {%include 'campaign_leads/htmx/leads_configuration_select.html'%}
                            <button hidden 
                            hx-post="{% url 'set-campaign-site' campaign_pk=campaign.pk %}" 
                            hx-swap="outerHTML" hx-include="#site_pk_{{campaign.pk}}" 
                            id="submit_site_pk_{{campaign.pk}}"></button>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
{%endblock overide_content%}
{%block chat_bottom%}
{%endblock chat_bottom%}