<td>
    <span class="primary_td_layer">{{template.name}}</span> 
    {%if template.pending_name%}
    <br>
    <span class="secondary_td_layer">
        Draft: {{template.pending_name}}          
    </span>   
    {%endif%}
</td>
<td>
    <span class="primary_td_layer">
        {{template.category}}
    </span> 
    {%if template.pending_category%}
    <br>
    <span class="secondary_td_layer">
        Draft: {{template.pending_category}}          
    </span>    
    {%endif%}
</td>
<td>
    <span class="primary_td_layer">
        {%if template.language%}{{template.language}}{%endif%}  
    </span>
</td>
<td> 
    {%if template.message_template_id%}{{template.message_template_id}}{%else%}<i>Not Submitted Yet</i>{%endif%}  
</td>
<td class="double_layer_td">
    <span class="primary_td_layer">
        {%if template.status%}{{template.status}}{%endif%} 
        {%if template.latest_reason%}
        <div 
        data-bs-toggle="popover" 
        data-bs-trigger="hover" 
        data-bs-html="true" 
        data-bs-placement="top"
        data-bs-title="Reasons for Error?"
        data-bs-content="{{template.latest_reason}}">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        {%endif%}    
    </span>   
    {%if template.pending_components%}
    <br>
    <span class="secondary_td_layer">
            {%if not template.status == 'AWAITING_APPROVAL'%}Draft awaiting submission <i class="fa-solid fa-arrow-right"></i>{%else%}Waiting for Whatsapp approval{%endif%}          
    </span>   
    {%endif%}
</td>
<td>
    {%if template.pending_components%}
    <button class="btn btn-success btn-sm" hx-confirm="Are you sure you want to request approval for this template?"
    hx-post="{% url 'whatsapp-approval' %}" hx-vals='{"template_pk":"{{template.pk}}"}' 
    hx-indicator=".top-htmx-indicator" hx-target="#template_row_{{template.id}}"
    hx-swap="innerHTML"
    ><i class="fa fa-whatsapp" aria-hidden="true"></i> Submit to Whatsapp</button>
    {%endif%}
    <button class="btn btn-warning btn-sm" onclick="window.location.href = '{%url 'whatsapp-template' template_id=template.message_template_id site_pk=site.pk%}'"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
    <button class="btn btn-danger btn-sm"
        hx-delete="{%url 'whatsapp-template-delete'%}" 
        hx-vals='{"site_pk": "{{site.pk}}", "template_pk": "{{template.pk}}"}'
        hx-confirm="Are you sure you want to delete this template?" hx-target="#template_row_{{template.pk}}" hx-swap="outerHTML" hx-indicator=".top-htmx-indicator">
        <i class="fa fa-trash" aria-hidden="true"></i> Delete
    </button>
</td>