{% extends 'core/base.html' %}
{%load static%}
{%block scripts%}
{{block.super}}
<link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables.js' %}"></script> 
<script>
    $(document).ready(function() {
        $("[data-bs-toggle=popover]").popover();
        initDataTable();
        document.body.addEventListener('htmx:afterSwap', function(evt) {  
            $("[data-bs-toggle=popover]").popover();
            initDataTable();
        });  
    });
    function initDataTable() {
        dt = $('#overview_table').DataTable(          
            {  
                order: [[ 1, 'asc' ]],
                iDisplayLength: 10
            }
        );
    }
</script>
{%endblock scripts%}

{%block content%} 
{%include 'campaign_leads/whatsapp_templates_content.html'%}
{%endblock content%}