{%load core_tags%}
<span id="campaign_list_span">    
    <select class="form-select select2 results_table_filters" onchange="$('#filter_active_campaign_list').click()" id="active_campaign_list_pk" name="active_campaign_list_pk">
        <option value="">Show all campaigns for this site</option>
        {%for active_campaign_list in active_campaign_lists%}
        {%if active_campaign_list.get_active_leads_qs.count%}
            <option {%if request.GET.active_campaign_list_pk|str_to_int == active_campaign_list.pk%}selected{%endif%} value="{{active_campaign_list.pk}}">{{active_campaign_list.name}} ({{active_campaign_list.get_active_leads_qs.count}} active)</option>
        {%endif%}
        {%endfor%}
    </select>
    <button hidden hx-get="{% url 'academy-booking-overview' %}" hx-swap="outerHTML" hx-push-url="true" hx-include=".results_table_filters" hx-indicator=".top-htmx-indicator" hx-target="#results_table" id="filter_active_campaign_list" class="btn btn-primary btn-sm"></button>
</span>