{%load core_tags%}
<span id="campaign_list_span">    
    <select class="form-select select2 overview_table_filters" onchange="$('#filter_active_campaign_list').click()" id="active_campaign_list_pk" name="active_campaign_list_pk">
        <option value="">Show all campaigns for this site</option>
        {%for active_campaign_list in active_campaign_lists%}
        {%if active_campaign_list.get_active_leads_qs.count%}
            <option {%if request.GET.active_campaign_list_pk|str_to_int == active_campaign_list.pk%}selected{%endif%} value="{{active_campaign_list.pk}}">{{active_campaign_list.name}}
                 {% comment %} ({{active_campaign_list.get_active_leads_qs.count}} active) {% endcomment %}
                </option>
        {%endif%}
        {%endfor%}
    </select>
</span>