{%load static core_tags%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.title = "Analytics";
    
    let leads_to_sales_chart_var = null;
    let leads_to_sales_chart = null;

    let leads_to_booking_chart_var = null;
    let leads_to_bookings_chart = null;
    $(document).ready(function() {
        document.body.addEventListener('htmx:afterSwap', function(evt) {
            if (![undefined, ''].includes(evt.detail.pathInfo.requestPath) && ![undefined, ''].includes(evt.detail.target.id)){
                if (evt.detail.pathInfo.requestPath.includes("refresh-analytics")){
                    $('#refresh_campaign_list_span').click(); 
                    snackbarShow('Successfully refreshed', 'success')
                }
            }
        });
    });
</script>