{%load static core_tags%}
<script>
    $(document).ready(function() {
        document.title = "Company Config";
        document.body.addEventListener('htmx:afterRequest', function(evt) {  
            if (evt.detail.xhr.status == 500){
                $('.reset_on_error').each(function() {
                    if (![undefined, ''].includes((this).data('value'))){
                        $(this).data('value')
                        $(this).val($(this).data('value'));
                    }
                });
            };
            
        });
        document.body.addEventListener('htmx:afterSwap', function(evt) {              
        });
    });
</script>