{%load static core_tags%}
<link href="{% static 'css/phone.css' %}" rel="stylesheet" />
<script>
    let variables = {{variables|safe}}
    function renderTemplate(){
        let content = ""
        if ($('#template_header').val() != "") {
            content = replaceVariables("<b>"+$('#template_header').val()+"</b> <br><br>  ")
        }
        if ($('#template_body').val() != "") {
            content = content + replaceVariables("<p>"+$('#template_body').val().replace(/\r\n|\r|\n/g,"<br />")+"</p>")
        }
        if ($('#template_footer').val() != "") {
            content = content + "<small>"+$('#template_footer').val()+"</small>"  
        }
        
        $('#template_render').html(content)
    }
    function replaceVariables(content){
        for (const [k,v] of Object.entries(variables)){
            content = content.replaceAll(k, v[1])
        }
        return content
    }
    function saveTemplate(){
        let variables_valid = true;
        let header = $('#template_header').val();
        let body = $('#template_body').val();
        let footer = $('#template_footer').val();
        for (const text of [header, body, footer]){
            if (text.indexOf('{') !== -1 || text.indexOf('}') !== -1){
                variables_valid = false;
            }
        }
        if (variables_valid){
            var respStatus = $.ajax({
                type:'POST',
                url:'{%url "whatsapp-template-save"%}',
                data:{
                    {%block ajax_data%}
                    'template_pk':'{{template.pk}}',
                    'header':header, 
                    'body':body, 
                    'footer':footer, 
                    'csrfmiddlewaretoken':'{{ csrf_token }}'
                    {%endblock ajax_data%}
                },
                success: function (data) {
                    $(window).unbind('beforeunload');
                    window.location.href = "{%url 'whatsapp-templates'%}";
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                }
            })
        } else {
            alert('Your template contains some invalid characters ( "{" or "}" ). Replace any "{{x}}" variables with properly entered variables.')
        }
    }
    $(document).ready(function() {  
        $("[data-bs-toggle=popover]").popover();
        renderTemplate()
    });
</script>