{%load static core_tags tz%}
<td style="width:0px">
    {%include 'campaign_leads/bookings_overview/booking_table_cells/cell_1.html'%}
</td>
<td style="width:0px">
    {%include 'campaign_leads/bookings_overview/booking_table_cells/cell_2.html'%}
</td>
<td style="width:0px">
    {%include 'campaign_leads/bookings_overview/booking_table_cells/cell_3.html'%}
</td>
<td style="width:0px">
    {%include 'campaign_leads/bookings_overview/booking_table_cells/cell_4.html'%}        
</td>
<td style="width:0px">                 
    {%include 'campaign_leads/bookings_overview/booking_table_cells/cell_5.html'%}
</td>    
<td style="width:0px">       
    {%include 'campaign_leads/bookings_overview/booking_table_cells/cell_6.html'%}
</td>