{%load static core_tags%}
<span>    
    <script>
        document.title = "Booking Table";
        $(document).ready(function() {  
            initBookingDataTable();
            select2stuff()
        });
    </script>
    {% comment %} <span hx-swap-oob="true" id="site_pk_span">   
        <input type="text" style="display:None" id="site_pk" name="site_pk" value="{{request|get_key_in_get_or_post:'site_pk'}}"/>
    </span> {% endcomment %}
    
    <span hx-ws="connect:/ws/lead/{{company.pk}}/">
    {% include 'campaign_leads/bookings_overview/bookings_table.html' %}
    </span>
<span>
{%if request.META.HTTP_HX_REQUEST%}{%include 'campaign_leads/bookings_overview/bookings_overview_under_nav.html'%}{%endif%}