{%load static%}
<span>
    <div class="card p-3" style="overflow-y:scroll; max-height:250px">
        Existing categories for <b>{{site.name}}</b>
        <br>
        <ul>
            {%for campaign_category in site.campaigncategory_set.all%}
                <li>{{campaign_category.name}}</li>
            {%empty%}
                <li>No Templates to show</li>
            {%endfor%}
        </ul>
    </div>
    <form hx-post="{%url 'add-campaign-category'%}" hx-trigger="submit" hx-indicator="#page_load_indicator" hx-swap="none">
        {% csrf_token %}
        <input hidden name="campaign_pk" value="{{campaign.pk}}"/>
        <input hidden name="site_pk" value="{{site.pk}}"/>
        <div class="row">
            <div class="col center p-0">
                <div class="form-floating m-1">
                    <input name="category_name" class="form-control" id="modal_category_name" {%if demo and not request.user.is_superuser%}disabled{%endif%}/>
                    <label for="modal_category_name">Category Name<span class="required">*</span></label>
                </div>            
            </div>
        </div>
        <div class="row m-1">
            <div class="col center" >
                <button class="btn btn-primary" type="submit" {%if demo and not request.user.is_superuser%}disabled{%endif%}>
                    Create
                </button>
            </div>
        </div>
    </form>
</span>
<span hx-swap-oob="true" id="generic_modal_title">
    Add a campaign category - {{campaign.site.name}}
</span>