<button class="btn btn-space {%if lead.arrived%}btn-warning{%else%}btn-secondary{%endif%} btn-sm nowrap" id="arrived_{{lead.pk}}"
{%if demo and not request.user.is_superuser%}disabled{%endif%}
data-bs-toggle="popover" 
data-bs-trigger="hover focus" 
data-bs-placement="top"
data-bs-content="{%if lead.arrived%}Mark this lead as not arrived{%else%}Mark this lead as arrived{%endif%}"
    {% comment %} hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}"
    hx-include="#lead_pk_{{lead.pk}}"
    hx-post="{% url 'mark-arrived' %}" 
    hx-push-url="false"
    hx-swap="outerHTML" hx-trigger="click"      {% endcomment %}
onclick="htmx.ajax('POST', '{% url 'mark-arrived' %}', {target:'#'+$('#booking-lead-{{lead.pk}}').parents('tr:first').attr('id'), swap:'outerHTML', values:htmx.values(htmx.find('#lead_pk_{{lead.pk}}'))})"
><i class="fa-regular fa-house-person-return"></i> Arrived {%if demo and not request.user.is_superuser%}(Demo, Disabled){%endif%}</button>