<div class="generic_modal_contents">
    <div class="row">
        <div class="col center">
            
            <div class="btn-group btn-space">
                {% comment %} <button class="btn btn-sm btn-secondary" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See call history for this lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-vals='{"template_name": "call_history"}'
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                        Call History
                        <span class="badge bg-info" style="font-size:10px">
                            {{lead.call_set.all.count}}                
                        </span>
                </button> {% endcomment %}
                <button class="btn btn-sm btn-success"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See booking history for this lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"                     
                    hx-vals='{"template_name": "booking_history"}'
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                        Booking History
                        <span class="badge bg-info" style="font-size:10px">
                            {{lead.booking_set.all.count}}                
                        </span>
                </button>   
                {% comment %} <button class="btn btn-sm btn-secondary"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See note history for this lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-vals='{"template_name": "note_history"}'
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                        Note History
                        <span class="badge bg-info" style="font-size:10px">
                            {{lead.note_set.all.count}}                
                        </span>
                </button>    {% endcomment %}
            </div> 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th ><strong>Booking</strong></th>
                    <th style="width:400px">
                    </th>
                  </tr>
                </thead>
                <tbody class="noteBody">
                    {%for booking in lead.booking_set.all%}
                    {%if booking.datetime%}
                    <tr>
                        <td colspan="2"
                        data-bs-html="true" 
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-content="
                        <b>Created:</b> {{booking.created}}
                        {%if booking.note_set.all%}
                        <br>
                        <br>
                        <b>Notes:</b>
                        <ul>
                            {%for note in booking.note_set.all%}
                            <li>{{note.text}} - <i>{{note.user}}, {{note.datetime}}</i></li>
                            {%endfor%}
                        </ul>
                        {%endif%}
                        " class="double_layer_td">                         
                            <div class="row">   
                                <div class="col p-0">                            
                                    <span class="primary_td_layer">{%if booking.archived%}<b>Archived</b> {%endif%}{{booking.datetime}}</span>
                                    <br>
                                    <span class="secondary_td_layer">Booked by: {{booking.user.first_name}} {{booking.user.last_name}}</span>  
                                </div>
                                <div class="col-md-auto  p-0">
                                    {%if booking.note_set.all%}
                                        <i class="fa-duotone fa-note"></i>
                                    {%endif%}
                                </div>
                            </div>  
                        </td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                </tbody>
              </table>
        </div>
    </div>
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Booking History - {{lead.name}} - <i class="fa fa-whatsapp"></i> {{lead.whatsapp_number}}
    <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
</span>