{%load static core_tags tz%}
<span id="booking_datetime_{{booking.pk}}">
    <span class="primary_td_layer">
        {%if booking.datetime%}
        {{booking.datetime.date}}
        {%elif demo%}
        Date hidden in demo
        {%elif booking%}
        Getting date from Calendly...
        <img class="htmx-indicator invert" id="booking_datetime_indicator_{{booking.pk}}" src="{% static 'img/bars.svg' %}"/>
        {%endif%} 
    </span>
    <br>
    <span class="secondary_td_layer">
        {{booking.datetime.time}}
    </span>    
</span>