{%load static core_tags tz%}
    <td class="double_layer_td">
        <span hidden class="booking-lead-{{lead.pk}}"></span>
        <input type="text" style="display:None" id="lead_pk_{{lead.pk}}" name="lead_pk" value="{{lead.pk}}"/>
        <span class="primary_td_layer">
            
            <span 
            class="help"
            data-bs-toggle="popover" 
            data-bs-trigger="hover focus" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="Full Information"
            data-bs-content="
            <b>Name:</b> {{lead.name}}<br>
            <b>Number:</b> {{lead.whatsapp_number}}<br>
            <b>Email:</b> {{lead.email}}<br>
            <b>Campaign:</b> {{lead.campaign}}<br>
            <b>Site:</b> {{lead.campaign.site.name}}<br>
            <b>Created:</b> {{lead.created}}<br>
            <b>Last Dragged:</b> {{lead.last_dragged}}<br>

            <br>
            <b>Cost:</b> {{lead.get_product_cost|floatformat:2}}<br>
            ">
                <i class="fa-solid fa-circle-info text-info"></i>
            </span>
            {%if lead.active_errors%}
                <span 
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus" 
                data-bs-html="true" 
                data-bs-placement="top"
                data-bs-title="Errors"
                data-bs-content="
                <b>Errors:</b>
                <ul>
                    {%for error in lead.active_errors%}
                    <li>{{error.created}} - {{error.get_type_display}}</li>
                    {%endfor%}
                </ul>
                ">
                    <i class="fa-solid fa-triangle-exclamation help flashme text-danger"></i>
                </span>
            {%endif%} 
            {{lead.name}} 
           
            {%if lead.possible_duplicate%}<i class="fa-solid fa-triangle-exclamation"
            data-bs-toggle="popover" 
            data-bs-trigger="hover focus" 
            data-bs-placement="top"
            data-bs-content="This is a possible duplicate"></i>{%endif%}
            
        </span>
        <br>
        <span class="secondary_td_layer">
            {%if not lead.message_set.all%}
                <button class="btn btn-sm btn-secondary position-relative" 
                    {%if lead.disabled_automated_messaging%}
                    onclick="alert(`This lead is marked as don't automatically message. Please manually send a template from the message window at the bottom of your screen.`)"
                    {%else%}
                    hx-post="{%url 'send-first-template-whatsapp-booking-row' lead_pk=lead.pk%}"
                    hx-indicator="#page_load_indicator" 
                    hx-target="#row_{{lead.pk}}"
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click"  
                    {%endif%}
                    data-customer-number="{{lead.whatsapp_number}}">
                        Send <i class="fa fa-whatsapp"></i>
                </button>
            {%else%}
                <button class="btn btn-sm btn-success text-white position-relative"                     
                    hx-get="{%url 'message-list'%}"
                    hx-target="#chat_bottom"
                    hx-swap="outerHTML"
                    hx-indicator="#page_load_indicator"                 
                    hx-vals='{"site_pk": "{{lead.campaign.site.pk}}", "customer_number": "{{lead.whatsapp_number}}"}'
                    hx-trigger="click"
                    
                    onclick="$('#chat_card_{{lead.whatsapp_number}}').remove(); $('#chat_list_bottom_window').remove();"
                    data-customer-number="{{lead.whatsapp_number}}">
                        Chat <i class="fa fa-whatsapp"></i>
                        <span id="chat_notification_{{lead.whatsapp_number.pk}}">
                        </span>
                </button>
            {%endif%}
            <span style="text-decoration: none; color: #25d366" class="nowrap" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> {{lead.whatsapp_number}}</span>
        </span>        
    </td>
    <td class="nowrap">
        {%if lead.archived and not lead.active_sales_qs%}
            <span class="legend-indicator bg-danger"></span>Archived
        {% elif lead.archived %}
        <span class="legend-indicator bg-success"></span>archived
        {%else%}
            <span class="legend-indicator bg-primary"></span>Active
        {%endif%}
    </td>
    {% comment %} <td class="double_layer_td">
        {%with lead.created|timezone:'Europe/London' as created%}
        <span hidden>{%if created%}{{created|timestamp}}{%else%}9999999999{%endif%}</span>
        <span class="primary_td_layer">{{created.date}}</span>
        <br>
        <span class="secondary_td_layer">{{created.time}}</span> 
        {%endwith%}  
    </td> {% endcomment %}
    <td class="double_layer_td">
        {% comment %} Live Well Female {% endcomment %}        
        <span class="primary_td_layer">{{lead.campaign}}</span>
        <br>
        <span class="secondary_td_layer">{{lead.campaign.site.name}}</span>
    </td>
    <td class="double_layer_td">
        {% comment %} Live Well Female {% endcomment %}        
        <span class="primary_td_layer">£{{lead.get_product_cost|floatformat:2}}</span>
    </td>
    <td>                 
        {%with lead.active_bookings.0 as booking%}
        <span hidden>{%if booking.datetime%}{{booking.datetime|timestamp}}{%else%}9999999999{%endif%}</span>
        {%if booking and not booking.datetime and not demo%}
            <button hidden
                hx-trigger="load"
                hx-get="{%url 'get-latest-calendly-booking-info'%}"
                hx-target="#booking_datetime_{{booking.pk}}" 
                hx-swap="innerHTML" 
                hx-vals='{"booking_pk":"{{booking.pk}}"}' 
                hx-indicator="#booking_datetime_indicator_{{booking.pk}}"></button>
        {%endif%}
        {%include 'campaign_leads/htmx/calendly_booking_datetime_snippet.html'%}   
        {%endwith%}  
    </td>
    
    <td class="double_layer_td">       
        <span class="primary_td_layer">  
            <div class="btn-group btn-space btn-space-with-history mb-1">
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover focus" 
                    data-bs-placement="top"
                    data-bs-content="Add new booking for this lead."
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content' param1=lead.pk %}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'add_booking'}})"
                    {% comment %} hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-vals='{"template_name": "add_booking"}'
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click" {% endcomment %}
                    ><i class="fa-regular fa-plus" ></i> New Booking</button>
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover focus" 
                    data-bs-placement="top"
                    data-bs-content="See booking history for this lead."
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content' param1=lead.pk %}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'booking_history'}})"
                    
                    {% comment %} hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-vals='{"template_name": "booking_history"}'
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click" {% endcomment %}
                    
                    ><i class="fa-regular fa-clock-rotate-left" ></i> <span class="text-secondary">{{lead.ordered_bookings.count}}</span></button>
            </div>
            <div class="btn-group btn-space btn-space-with-history mb-1"
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus" 
                data-bs-html="true" 
                data-bs-placement="top"
                data-bs-title="Create and View Notes."
                data-bs-content="
                <ul>
                    {%for note in lead.note_set.all|queryset_last_x:10%}
                    <li>
                        <div class='double_layer_td'>                         
                            <div class='row'>   
                                <div class='col p-0 elipses-overflow' style='max-width: 200px;'>   
                                    <span class='primary_td_layer'>{{note.text}}</span>
                                    <br>
                                    <span class='secondary_td_layer'>{{note.user.first_name}} {{note.user.last_name}} - {{note.datetime}}</span>   
                                </div>
                                <div class='col-md-auto p-0'>
                                </div>
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
                ">
                <button class="btn btn-{%if lead.note_set.all%}dark{%else%}secondary{%endif%} btn-sm" type="button"
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content' param1=lead.pk %}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'note_history'}})">
                    <i class="fa-solid fa-notes"></i> <span class="text-secondary">{{lead.note_set.all.count}}</span></button>
            </div>
            
            <div class="btn-group btn-space  mb-1">    
                <button class="btn btn-warning btn-sm" type="button"
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content'%}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'edit_lead','lead_pk':'{{lead.pk}}'}})">
                    <i class="fa-solid fa-pencil"></i></button>
            </div>
        </span>
        <br>
        <span class="secondary_td_layer">     
            <div class="btn-group btn-space mt-1">     
                {%include 'campaign_leads/htmx/arrived_button.html'%}
            </div>
            <div class="btn-group btn-space mt-1 dropdown">     
                {%include 'campaign_leads/htmx/sold_button.html'%}
            </div>

            <div class="btn-group btn-space mt-1">     
                {%if not lead.active_sales_qs%}
                    {%if lead.archived%}
                        <button class="btn btn-danger btn-sm nowrap"
                        {%if demo and not request.user.is_superuser%}disabled{%endif%}
                            data-bs-toggle="popover" 
                            data-bs-trigger="hover focus" 
                            data-bs-placement="top"
                            data-bs-content="Unarchive this lead"
                            onclick="htmx.ajax('POST', '{% url 'mark-archived' %}', {target:'#row_{{lead.pk}}', swap:'outerHTML', values:htmx.values(htmx.find('#lead_pk_{{lead.pk}}'))})"
                                {% comment %} hx-trigger="click"
                                hx-post="{% url 'mark-archived' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}" {% endcomment %}
                            ><i class="fa-regular fa-box-archive"></i> Archive {%if demo and not request.user.is_superuser%}(Demo, Disabled){%endif%}</button>
                        <button class="btn btn-dark btn-sm nowrap" 
                            data-bs-toggle="popover" 
                            data-bs-trigger="hover focus" 
                            data-bs-placement="top"
                            data-bs-content="Delete this lead"
                            onclick="if (confirm('Are you sure you want to PERMANENTLY DELETE this archived lead')){htmx.ajax('POST', '{% url 'delete-lead' %}', {target:'#row_{{lead.pk}}', values:htmx.values(htmx.find('#lead_pk_{{lead.pk}}'))})}"
                                {% comment %} hx-confirm=""
                                hx-trigger="click"
                                hx-post="{% url 'delete-lead' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}" {% endcomment %}
                            ><i class="fa-regular fa-trash"></i> Delete</button>
                    {%else%}
                        <button class="btn btn-light btn-sm nowrap" 
                        {%if demo and not request.user.is_superuser%}disabled{%endif%}
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover focus" 
                        data-bs-placement="top"
                        data-bs-content="Archive this lead"
                        onclick="htmx.ajax('POST', '{% url 'mark-archived' %}', {target:'#row_{{lead.pk}}', swap:'outerHTML', values:htmx.values(htmx.find('#lead_pk_{{lead.pk}}'))})"
                            {% comment %} hx-trigger="click" hx-include="#lead_pk_{{lead.pk}}"
                            hx-post="{% url 'mark-archived' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}" {% endcomment %}
                            ><i class="fa-regular fa-box-archive"></i> Archive {%if demo and not request.user.is_superuser%}(Demo, Disabled){%endif%}</button>
                    {%endif%} 
                {%endif%} 
            </div>
        </span>




        
    </td>