
{%load static%}
<div id="overview_table_span_wrapper" class="m-3 card p-2">
    <table id="overview_table" class="table"> 
        <thead> 
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
                {% comment %} <th>
                    Lead Date
                </th> {% endcomment %}
                <th>
                    Ad Campaign
                </th>
                <th>
                    Booked
                </th>
                {% comment %} <th>
                    Next Auto Whatsapp
                </th> {% endcomment %}
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody> 
            {%for lead in leads%}
            {%include 'campaign_leads/htmx/campaign_booking_row.html'%}
            {%endfor%}
        </tbody>
    </table>
</div>
{%if request.META.HTTP_HX_REQUEST%}
{%include 'campaign_leads/htmx/campaign_bookings_table_status_toggle_div_oob.html'%}
{%endif%}