{%load static core_tags tz%}
    <td class="double_layer_td">
        <span hidden class="booking-lead-{{lead.pk}}"></span>
        <input type="text" style="display:None" id="lead_pk_{{lead.pk}}" name="lead_pk" value="{{lead.pk}}"/>
        <span class="primary_td_layer">
            
            <span 
            class="help"
            data-bs-toggle="popover" 
            data-bs-trigger="hover" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="Full Information"
            data-bs-content="
            <b>Name:</b> {{lead.name}}<br>
            <b>Number:</b> {{lead.whatsapp_number}}<br>
            <b>Email:</b> {{lead.email}}<br>
            <b>Campaign:</b> {{lead.campaign.name}}<br>
            <b>Site:</b> {{lead.campaign.site.name}}<br>
            <b>Created:</b> {{lead.created}}<br>
            <b>Last Dragged:</b> {{lead.last_dragged}}<br>

            <br>
            <b>Price:</b> {{lead.campaign.product_cost|floatformat:2}}<br>
            ">
                <i class="fa-solid fa-circle-info" style="color:light-blue"></i>
            </span>
            {{lead.name}} 
           
            {%if lead.possible_duplicate%}<i class="fa-solid fa-triangle-exclamation"
            data-bs-toggle="popover" 
            data-bs-trigger="hover" 
            data-bs-placement="top"
            data-bs-content="This is a possible duplicate"></i>{%endif%}
        </span>
        <br>
        <span class="secondary_td_layer">
            {%if not lead.message_set.all%}
                <button class="btn btn-sm btn-success text-white position-relative" 
                    hx-get="{%url 'send-first-template-whatsapp-booking-row' lead_pk=lead.pk%}"
                    hx-indicator="#page_load_indicator" 
                    hx-include="#max_call_count"
                    hx-target="#row_{{lead.pk}}"
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click"  
                    data-customer-number="{{lead.whatsapp_number}}">
                        1st <i class="fa fa-whatsapp"></i>
                </button>
            {%else%}
                <button class="btn btn-sm btn-success text-white position-relative"                     
                    hx-get="{%url 'message-list'%}"
                    hx-target="#chat_bottom"
                    hx-swap="outerHTML"
                    hx-indicator="#page_load_indicator"                 
                    hx-vals='{"site_pk": "{{lead.campaign.site.pk}}", "customer_number": "{{lead.whatsapp_number}}"}'
                    hx-trigger="click"
                    
                    onclick="$('#chat_card_{{lead.whatsapp_number}}').remove(); $('#chat_list_bottom_window').remove();"
                    data-customer-number="{{lead.whatsapp_number}}">
                        Chat
                        <span id="chat_notification_{{lead.whatsapp_number.pk}}">
                        </span>
                </button>
            {%endif%}
            <span style="text-decoration: none; color: #25d366" class="nowrap" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> {{lead.whatsapp_number}}</span>
        </span>        
    </td>
    <td class="nowrap">
        {%if lead.archived and not lead.sold%}
            <span class="legend-indicator bg-danger"></span>Archived
        {% elif lead.archived %}
        <span class="legend-indicator bg-success"></span>archived
        {%else%}
            <span class="legend-indicator bg-primary"></span>Active
        {%endif%}
    </td>
    {% comment %} <td class="double_layer_td">
        {%with lead.created|timezone:'Europe/London' as created%}
        <span hidden>{%if created%}{{created|timestamp}}{%else%}9999999999{%endif%}</span>
        <span class="primary_td_layer">{{created.date}}</span>
        <br>
        <span class="secondary_td_layer">{{created.time}}</span> 
        {%endwith%}  
    </td> {% endcomment %}
    <td class="double_layer_td">
        {% comment %} Live Well Female {% endcomment %}        
        <span class="primary_td_layer">{{lead.campaign.name}}</span>
        <br>
        <span class="secondary_td_layer">{{lead.campaign.site.name}}</span>
    </td>
    <td>                 
        {%with lead.active_bookings.0.datetime as latest_booking%}
        <span hidden>{%if latest_booking%}{{latest_booking|timestamp}}{%else%}9999999999{%endif%}</span>
        <span class="primary_td_layer">
            {{latest_booking.date}} 
            {% comment %} {%if lead.active_bookings.0.type == 'a'%}
                <i class="fa-solid fa-person"
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-placement="top"
                data-bs-content="This appointment is in person"></i>
            {%elif lead.active_bookings.0.type == 'b'%}
                <i class="fa-solid fa-phone"
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-placement="top"
                data-bs-content="This appointment is over the phone"></i>
            {%endif%} {% endcomment %}
        </span>
        <br>
        <span class="secondary_td_layer">
            {{latest_booking.time}}
        </span>       
        {%endwith%}  
    </td>
    
    <td class="double_layer_td">       
        <span class="primary_td_layer">  
            <div class="btn-group btn-space btn-space-with-history mb-1">
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="Add new booking for this lead."
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content' param1=lead.pk %}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'add_booking'}})"
                    {% comment %} hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-vals='{"template_name": "add_booking"}'
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click" {% endcomment %}
                    ><i class="fa-regular fa-plus" ></i> New</button>
                <button class="btn btn-secondary btn-sm" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See booking history for this lead."
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content' param1=lead.pk %}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'booking_history'}})"
                    
                    {% comment %} hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-vals='{"template_name": "booking_history"}'
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click" {% endcomment %}
                    
                    ><i class="fa-regular fa-clock-rotate-left" ></i> <span style="color:Silver">{{lead.booking_set.all.count}}</span></button>
            </div>
        </span>
        <br>
        <span class="secondary_td_layer">     
            <div class="btn-group btn-space mt-1">     
                {%include 'campaign_leads/htmx/arrived_button.html'%}
                {%include 'campaign_leads/htmx/sold_button.html'%}
                {%if not lead.sold%}
                    {%if lead.archived%}
                        <button class="btn btn-danger btn-sm nowrap"
                            data-bs-toggle="popover" 
                            data-bs-trigger="hover" 
                            data-bs-placement="top"
                            data-bs-content="Unarchive this lead"
                            onclick="htmx.ajax('POST', '{% url 'mark-archived' %}', {target:'#row_{{lead.pk}}', swap:'outerHTML', values:htmx.values(htmx.find('#lead_pk_{{lead.pk}}'))})"
                                {% comment %} hx-trigger="click"
                                hx-post="{% url 'mark-archived' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}" {% endcomment %}
                            ><i class="fa-regular fa-box-archive"></i> Archive</button>
                        <button class="btn btn-dark btn-sm nowrap" 
                            data-bs-toggle="popover" 
                            data-bs-trigger="hover" 
                            data-bs-placement="top"
                            data-bs-content="Delete this lead"
                            onclick="if (confirm('Are you sure you want to PERMANENTLY DELETE this archived lead')){htmx.ajax('POST', '{% url 'delete-lead' %}', {target:'#row_{{lead.pk}}', values:htmx.values(htmx.find('#lead_pk_{{lead.pk}}'))})}"
                                {% comment %} hx-confirm=""
                                hx-trigger="click"
                                hx-post="{% url 'delete-lead' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}" {% endcomment %}
                            ><i class="fa-regular fa-trash"></i> Delete</button>
                    {%else%}
                        <button class="btn btn-light btn-sm nowrap" 
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="top"
                        data-bs-content="Archive this lead"
                        onclick="htmx.ajax('POST', '{% url 'mark-archived' %}', {target:'#row_{{lead.pk}}', swap:'outerHTML', values:htmx.values(htmx.find('#lead_pk_{{lead.pk}}'))})"
                            {% comment %} hx-trigger="click" hx-include="#lead_pk_{{lead.pk}}"
                            hx-post="{% url 'mark-archived' %}" hx-indicator=".top-htmx-indicator" hx-target="#row_{{lead.pk}}" {% endcomment %}
                            ><i class="fa-regular fa-box-archive"></i> Archive</button>
                    {%endif%} 
                {%endif%} 
            </div>
        </span>




        
    </td>