{%load core_tags%}
<div class="col-md-auto m-1 ps-2 pe-0 border-start">
    <div id="campaign_list_wrapper">    
        <label for="site_pks">
            Filter <b>Campaigns</b> <small>(default all)</small><br>
          <select multiple="multiple" class="form-control select2tag select2-styling overview_table_filters site_dependant_analytics_filters" oninput="$('#filter_campaign').click()" id="campaign_pks" name="campaign_pks">
              {% comment %} <option value="">Show All Campaigns</option> {% endcomment %}
                {%if request|get_key_in_get_or_post:'campaign_category_pks'%}
                    {%for campaign_category in campaign_categorys%}
                        {%for campaign in campaign_category.campaign_set.all%}
                        {% comment %} {%if campaign.get_active_leads_qs.count%} {% endcomment %}
                            <option {%if campaign.pk|to_str in request|get_key_in_get_or_post:'campaign_pks' or campaign.pk|str_to_int in request|get_key_in_get_or_post:'campaign_pks' %}selected{%endif%} value="{{campaign.pk}}">{{campaign.name}}
                                {% comment %} ({{campaign.get_active_leads_qs.count}} active) {% endcomment %}
                            </option>
                        {% comment %} {%endif%} {% endcomment %}
                        {%endfor%}
                    {%endfor%}
                {%elif sites%}
                  {%for site in sites%}
                      {%for campaign in site.campaign_set.all%}
                      {% comment %} {%if campaign.get_active_leads_qs.count%} {% endcomment %}
                          <option {%if campaign.pk|to_str in request|get_key_in_get_or_post:'campaign_pks' or campaign.pk|str_to_int in request|get_key_in_get_or_post:'campaign_pks' %}selected{%endif%} value="{{campaign.pk}}">{{campaign.name}}
                              {% comment %} ({{campaign.get_active_leads_qs.count}} active) {% endcomment %}
                          </option>
                      {% comment %} {%endif%} {% endcomment %}
                      {%endfor%}
                  {%endfor%}
                {%endif%}
          </select>
        </label>
    </div>
</div>