{%load static core_tags%}
<style>
    #content {
        padding:0px;
        padding-bottom:50px;
        {% comment %} overflow-y: hidden; {% endcomment %}
    }
    
    body {
        height:100vh;
    }
</style>
<div>
    <div class="row mt-0" style="padding:10px">
        <div class="htmx-indicator whole_page_disconnected_indicator leads_disconnected_indicator">
            <div class="whole_page_disconnected_indicator_content">
                <b>Connecting</b> <img class="invert" src="https://htmx.org/img/bars.svg">
            </div>
        </div>
        <script>
            document.title = "Campaign Leads"; 
        </script>
    
        {%block extra_top_left_buttons %}
        {% comment %} <div class="col-md-auto m-1">
            <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>
        </div> {% endcomment %}
        {%include 'core/htmx/site_selection.html'%}
        <button hidden hx-get="{%url 'campaign-leads-overview'%}" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
        <button hidden
            hx-get="{%url 'refresh-leads-board'%}"
            hx-swap="outerHTML" hx-push-url="false" hx-include=".overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#leads_board_span_wrapper" id="filter_campaign"></button>
        {% comment %} <button hidden hx-get="{% url 'get-campaign'%}" hx-include=".overview_table_filters" id="refresh_campaign_list_wrapper" hx-indicator="#page_load_indicator" hx-target="#campaign_list_wrapper" hx-trigger="click" hx-swap="outerHTML"></button> {% endcomment %}
        <div class="col-md-auto m-1 p-0" hx-get="{% url 'get-campaign'%}" hx-include=".overview_table_filters" hx-trigger="load" hx-indicator="#page_load_indicator" hx-target="#campaign_list_wrapper" hx-swap="outerHTML">
            <div id="campaign_list_wrapper">   
                <select class="form-select select2-styling">
                    <option>Loading</option>
                </select>    
            </div>
        </div>
        {%endblock extra_top_left_buttons %}

        <div class="col">
        </div>

        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="campaign_leads_overview"></input>
        <div class="col-md-auto">
            <span class="badge bg-dark text-white"><h6 class="m-1">Campaign Leads</h6></span>               
        </div> 
        {%endblock extra_top_right_buttons %}
    </div>
    <div class="row p-0 m-0" style="padding:10px">
        <div class="col p-0 m-0" style=""> 
        {%include 'campaign_leads/htmx/leads_board.html' %}
        </div>
    </div>
</div>
    <script>
      $(document).ready(function() {
            new Sortable(document.getElementById('archive_area_body'), {
                group: {
                    name: 'leads-columns',
                    put: true
                },
                draggable: ".draggable-card",
                sort: false,
                ghostClass: "",  
                animation: 100,
                onAdd: function (/**Event*/evt) {
                    htmx.ajax('POST', '/mark-archived/'+$(evt.item).data('id')+'/', {swap:'none'})
                    return false;
                },
                onMove: function (/**Event*/evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                    return false;
                },
                onEnd: function (/**Event*/evt) {
                    var tagName = evt.item.tagName;
                    var items = evt.from.getElementsByTagName(tagName);
                    if (evt.oldIndex > evt.newIndex) {
                        evt.from.insertBefore(evt.item, items[evt.oldIndex+1]);
                    }
                    else {
                        evt.from.insertBefore(evt.item, items[evt.oldIndex]);
                    }
                },
            });
            new Sortable(document.getElementById('add_booking_area_body'), {
                group: {
                    name: 'leads-columns',
                    put: true
                },
                draggable: ".draggable-card",
                sort: false,
                ghostClass: "",   
                animation: 100,
                onAdd: function (/**Event*/evt) {
                    htmx.ajax('GET', '/campaign-lead-get-modal-content/'+$(evt.item).data('id')+'/?template_name=add_booking', {target:'#generic_modal_body'})
                    return false;
                },
                onMove: function (/**Event*/evt) {
                    return false;
                },
            });
    });
    </script>
    <div id="add_booking_area" class="">        
        <div class="card h-100" id="add_booking_area_card">
            <div class="card-header center text-white">
                <h3>
                    <i class="fa-duotone fa-calendar-days"></i> Add Booking
                </h3>
            </div>
            <div class="card-body draggable-card-area static" id="add_booking_area_body">
            </div>
        </div>
    </div>
    <div id="archive_area" class="">        
        <div class="card h-100" id="archive_area_card">
            <div class="card-header center text-white">
                <h3>
                    <i class="fa-duotone fa-trash"></i> Archive
                </h3>
            </div>
            <div class="card-body draggable-card-area static" id="archive_area_body">
            </div>
        </div>
    </div>