<table class="table">
    <thead>
        <tr>
            <th>Order</th>
            <th>Template</th>
            <th>Time after last template</th>
        </tr>
    </thead>
    <tbody>
        {%if not campaign.time_campaign_template_links_with_send_orders.0.send_order == 0%}
        {%with 0 as counter%}
            {%include 'campaign_leads/htmx/choose_auto_time_templates_row.html'%}
        {%endwith%}
        {%endif%}
        {%for campaign_template_link in campaign.time_campaign_template_links_with_send_orders%}
            {%with campaign_template_link.send_order as counter%}
                {%include 'campaign_leads/htmx/choose_auto_time_templates_row.html'%}
            {%endwith%}
        {%endfor%}
        {%include 'campaign_leads/htmx/choose_auto_time_templates_row.html'%}
    </tbody>
</table>