{%load static core_tags%}
<div class="generic_modal_contents">
    <div class="row">
        <div class="col center">     
            <select class="form-select free_taster_input" name="site_pk">
                {%for site in request.user.profile.sites_allowed.all%}
                <option {%if site.pk == request|get_key_in_get_or_post:'site_pk'|str_to_int %}selected{%endif%} value="{{site.pk}}">{{site.name}}</option>
                {%endfor%}
            </select>
            <br>       
            <input name="customer_name" id="customer_name_input" class="form-control free_taster_input" placeholder="Customer Full Name"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center">
            <button class="btn btn-success"
                hx-indicator=".top-htmx-indicator" hx-target="#generated_link" 
                hx-include=".free_taster_input"
                hx-post="{% url 'generate-free-taster-link' %}" 
                hx-push-url="false"
                hx-swap="outerHTML" hx-trigger="click">
                    <i class="fa-solid fa-link" aria-hidden="true"></i> Generate Free Taster Link
            </button>
        </div>
    </div>
    <br>
    {%include 'core/htmx/generated_link_display.html'%}
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Create Free Taster Link
</span>