{%load static user_permission_tags%}
<div class="generic_modal_contents">
    <script>
        $('#generic_modal').on('hidden.bs.modal', function (e) {
            $('#page_load_indicator').addClass('htmx-request')
            window.location.reload();
        })
    </script>
    <div class="row">
        <div class="col-md-auto">
            {% if request.user.profile|get_profile_allowed_to_edit_profile_permissions_tag:profile%}
            <ul class="nav flex-column">
                {%for profile_company_permissions in profile|companyprofilepermissions_for_company_tag:request.user.profile.company%}                 
                <li class="m-1">
                    <div class="row">
                        <div class="col p-0">
                            <a class="btn btn-sm pointer btn-permissions {% if profile_company_permissions == company_permissions %}btn-primary{%else%}btn-secondary{%endif%} w-100 nowrap" 
                            hx-get="{% url 'company-permissions' %}"
                            hx-indicator="#htmx-indicator-permissions" 
                            hx-target="#generic_modal_body"
                            hx-vals='{"company_permissions_pk": "{{profile_company_permissions.pk}}"}' hx-trigger="click" hx-push-url="false">
                            Company Permissions: {{profile_company_permissions.company.name}}
                            <br>
                            ({{profile_company_permissions.permissions_count}} permissions)
                            </a>
                        </div>
                    </div>
                </li>
                {%endfor%}
                {%for profile_site_permissions in profile.siteprofilepermissions_set.all%}  
                <hr>              
                <li class="m-1">
                    <div class="row">
                        <div class="col p-0">
                            <a 
                                class="btn btn-sm pointer btn-permissions {% if profile_site_permissions == site_permissions %}btn-primary{%else%}btn-secondary{%endif%} w-100 nowrap" hx-indicator="#htmx-indicator-permissions" hx-target="#generic_modal_body"
                                hx-vals='{"site_permissions_pk": "{{profile_site_permissions.pk}}"}' hx-trigger="click"
                                hx-get="{% url 'site-permissions' %}" hx-push-url="false">
                                Site Permissions: {{profile_site_permissions.site.name}} 
                                <br>
                                ({%if profile_site_permissions.site in profile.active_sites_allowed%}{{profile_site_permissions.permissions_count}}{%else%}0{%endif%} permissions)
                            </a>
                        </div>
                    </div>
                </li>
                {%endfor%}
            </ul>
            {%else%}            
            <div class="row" style="min-height:100px">        
                <div class="col">
                    <p class="alert alert-danger">You do not have permission to do this</p>
                </div>
            </div>
            {%endif%}
        </div>
        <div class="col p-0" id="permissions_wrapper">
            {%if site_permissions%}
            <div class="card" id="permissions_wrapper">
                {%include 'campaign_leads/htmx/site_permissions.html'%}
            </div>
            {%elif company_permissions%}
            <div class="card" id="permissions_wrapper">
                {%include 'campaign_leads/htmx/company_permissions.html'%}
            </div>
            {%endif%}
        </div>
    </div>
</div>
<span class="help" hx-swap-oob="true" id="generic_modal_title"
    data-bs-toggle="popover" 
    data-bs-trigger="hover focus" 
    data-bs-html="true" 
    data-bs-placement="top"
    data-bs-title="What does this do?"
    data-bs-content="On this page you can assign your employees permissions to perform tasks on behalf of your company within the Leads Management system. <br>For more employees, this may just be access to the site that they work at with no additional permissions"> 
    <i class="fa-solid fa-circle-info"></i> Edit Permissions - {{profile.user.first_name}} {{profile.user.last_name}}
    <img  class="htmx-indicator invert" id="htmx-indicator-permissions" src="{% static 'img/bars.svg' %}"/>
</span>