{%load static%}
<span>
    <div class="row">
        <div class="col center">
            {%for permission in permissions%}test
            {%endfor%}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center" >
            <button class="btn btn-light" type="button"
            hx-encoding="multipart/form-data"
                hx-post="{% url 'modify-user' %}" hx-include=".edit_user_input"
                hx-swap="none"
                hx-indicator=".top-htmx-indicator">
                Save Profile
            </button>
        </div>
    </div>
</span>
<span hx-swap-oob="true" id="generic_modal_title">    
    {% comment %} <a href="#"
    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" hx-include="#switch_user"
    hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
    hx-swap="innerHTML" hx-trigger="click"><i class="fa-solid fa-arrow-left"></i> Back to Home</a> -  {% endcomment %}
    Edit Permissions - {{user.first_name}} {{user.last_name}}
</span>