{%load static%}
<div class="generic_modal_contents">
    <div class="card card-white m-1 p-3">
        <div class="row">
            <div class="col center">
                
                {%if user.profile.company%}
                <div class="form-floating m-1">
                    <input disabled name="company"  {%if demo and not request.user.is_superuser%}disabled{%endif%}
                    value="{%if edit_user.profile.company%}{{edit_user.profile.company.name}}{%else%}Company not configured{%endif%}" class="form-control" id="company"/>
                    <label for="company">Company</label>
                </div>
                {%endif%}
                
                <div class="form-floating m-1">
                    <input name="first_name"  {%if demo and not request.user.is_superuser%}disabled{%endif%}
                    value="{{edit_user.first_name}}" class="form-control modify_user_input" id="first_name"/>
                    <label for="first_name">First Name</label>
                </div>
                
                <div class="form-floating m-1">
                    <input name="last_name"  {%if demo and not request.user.is_superuser%}disabled{%endif%}
                    value="{{edit_user.last_name}}" class="form-control modify_user_input" id="last_name"/>
                    <label for="last_name">Last Name</label>
                </div>
                
                <div class="form-floating m-1">
                    <input name="calendly_event_page_url"  {%if demo and not request.user.is_superuser%}disabled{%endif%}
                    value="{{edit_user.profile.calendly_event_page_url}}" class="form-control modify_user_input" id="calendly_event_page_url"/>
                    <label for="calendly_event_page_url">Calendly Event Page Url</label>
                </div>
                        
                <br>
                <div class="form-group">
                    <label class="form-label" for="customFile">Profile Picture <small>(leave empty to keep current)</small></label>
                    <input name="profile_picture" placeholder="test" type="file" class="form-control modify_user_input" id="customFile" />
                </div>
                <input type="text" style="display:None" id="user_pk" class="modify_user_input" name="user_pk" value="{{edit_user.pk}}"/>
                <input type="text" style="display:None" id="user_modify_action" class="modify_user_input" name="action" value="edit"/>
            </div>
        </div>
        
        <div class="row m-1">
            <div class="col center" >
                <button class="btn btn-primary" type="button"
                {%if demo and not request.user.is_superuser%}disabled{%endif%}
                hx-encoding="multipart/form-data"  {%if demo and not request.user.is_superuser%}disabled{%endif%}
                    hx-post="{% url 'modify-user' %}" hx-include=".modify_user_input"
                    hx-swap="none"
                    hx-indicator=".top-htmx-indicator">
                    Save Profile {%if demo and not request.user.is_superuser%}(Demo){%endif%}
                </button>
            </div>
        </div>
    </div>
</div>
<span hx-swap-oob="true" id="generic_modal_title">    
    Edit User - {{edit_user.first_name}} {{edit_user.last_name}}
</span>