{%load core_tags%}
<div class="generic_modal_contents">
    <div class="card card-highlight m-1 p-3">
        <form hx-post="{%url 'submit-feedback-form'%}" hx-trigger="submit" hx-indicator="#page_load_indicator" hx-swap="none">
            <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
            {% csrf_token %}
            <div class="row">
                <div class="col center">
                    <div class="form-floating m-1">
                        <textarea style="width:100%; height:340px;"
                            name="comment" 
                            class="form-control"></textarea>
                    
                        <label for="modal_product_cost">Feedback Comment<span class="required">*</span></label>
                    </div>
                    
                </div>
            </div>
            <div class="row m-1">
                <div class="col center" >
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Feedback Form
</span>