{%load core_tags%}
<div class="card card-white">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Import</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td scope="row">
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="active_campaign_contact_id[]" type="checkbox" value="{{contact.id}}" {%if contact.id|to_str in campaign_lead_ids%}selected{%endif%}/>
                    </div>
                </td>
                <td scope="row">{{contact.firstName}} {{contact.lastName}}</td>
                <td scope="row">{{contact.phone}}</td>
                <td scope="row">{{contact.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row m-1">
    <div class="col center">
        <button class="btn btn-primary" type="submit" {%if demo and not request.user.is_superuser%}disabled{%endif%}>
            Submit
        </button>
    </div>
</div>