{%load core_tags%}
<div class="generic_modal_contents">
    <div class="card card-highlight m-1 p-3">
        <form hx-post="{%url 'import-active-campaign-leads'%}" hx-trigger="submit" hx-indicator="#page_load_indicator" hx-swap="none">
            <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="m-1">
                        <div id="campaign_list_wrapper">    
                            <label for="campaign_pks" style="width:300px">
                                Import for Campaign 
                                
                                
                                {%if demo and not request.user.is_superuser%}
                                Here you can import existing leads from your active campaign account into our system. This is disabled for the demo
                                {%else%} 
                                <button hidden hx-get="{%url 'get-contacts-for-campaign'%}" hx-swap="innerHTML" hx-target="#import_contact_div" hx-indicator="#page_load_indicator" hx-include="#import_campaign_pk" id="import_campaign_button"></button>
                                <select class="form-control select2-styling generic_modal_body_select" id="import_campaign_pk" name="campaign_pk" style="width:400px" onchange="$('#import_campaign_button').click(); ">
                                    <option selected></option>
                                    {%for campaign in request.user.profile.active_campaigns_allowed%}
                                    <option value="{{campaign.pk}}">
                                        {{campaign}}
                                    </option>
                                    {%endfor%}
                                </select>
                                {%endif%} 
                            </label>
                            <hr>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col" id="import_contact_div">               
                </div>
            </div>
        </form>
    </div>
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Import existing Active Campaign leads
</span>
