{%load core_tags static%}
{%if not lead.complete%}
<span class="column-drag fade-me-out lead-{{lead.pk}}"
    draggable="true" ondragstart="drag(event)" data-id="{{lead.pk}}" id="lead-{{lead.pk}}">
    <input type="text" style="display:None" id="lead_pk_{{lead.pk}}" name="lead_pk" value="{{lead.pk}}"/>
    {%with call_count|division_percentage_max_100:max_call_count as call_percentage%}
    <article style="margin-right:50px"  class="card draggable-card top-highlight-{{call_percentage|roundup_tag:20}} lead_card">
        <div class="row" style="height:30px">
            <div class="col p-0 elipses-overflow">
                <span class="primary_td_layer">
                    
                    {%if lead.active_errors%}
                    <span 
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-html="true" 
                    data-bs-placement="top"
                    data-bs-title="Errors"
                    data-bs-content="
                    <b>Errors:</b>
                    <ul>
                        {%for error in lead.active_errors%}
                        <li>{{error.created}} - {{error.get_type_display}}</li>
                        {%endfor%}
                    </ul>
                    ">
                        <i class="fa-solid fa-triangle-exclamation" style="color:red"></i>
                    </span>
                    {%endif%}  
                    <span class="lead_name">{{lead.name}}</span>
                </span>
            </div>
            <div class="col-md-auto p-0">
                
                {%if not lead.message_set.all%}
                <button class="btn btn-sm btn-success text-white position-relative" 
                    hx-get="{%url 'send-first-template-whatsapp-lead-article' lead_pk=lead.pk%}"
                    hx-indicator=".htmx-indicator" 
                    hx-include="#max_call_count"
                    hx-target="#lead-{{lead.pk}}"
                    hx-push-url="false"
                    hx-swap="outerHTML" hx-trigger="click"  
                    data-customer-number="{{lead.whatsapp_number}}">
                        1st <i class="fa fa-whatsapp"></i>
                </button>
                {%else%}
                    <button class="btn btn-sm btn-success text-white position-relative"                     
                        hx-get="{%url 'message-list'%}"
                        hx-target="#chat_bottom"
                        hx-swap="outerHTML"
                        hx-indicator=".htmx-indicator"                 
                        hx-vals='{"site_pk": "{{lead.campaign.site.pk}}", "customer_number": "{{lead.whatsapp_number}}"}'
                        hx-trigger="click"
                        
                        onclick="$('#chat_card_{{lead.whatsapp_number}}').remove(); $('#chat_list_bottom_window').remove();"
                        data-customer-number="{{lead.whatsapp_number}}">
                            Chat
                            {% comment %} <span id="chat_notification_{{lead.whatsapp_number.pk}}">
                                {%if lead.is_last_whatsapp_message_inbound%}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                                {%endif%}
                            </span> {% endcomment %}
                    </button>
                {%endif%}
                <!-- <span style="color:rgb(96, 248, 61y)" class="secondary_td_layer">£{{lead.campaign.product_cost|floatformat:2}}</span> -->
            </div>
        </div>
        <div class="row">
            <span class="secondary_td_layer elipses-overflow campaign_name p-0 ps-1" style="max-width:150px">{{lead.campaign.name}}</span>
        </div>
        <div class="row">
            <span class="secondary_td_layer elipses-overflow site_name p-0 ps-1" style="max-width:150px">{{lead.campaign.site.name}}</span>
        </div>
        <div class="row mt-3">
            <span class="secondary_td_layer p-0" >
                <div class="row">
                    <div class="col p-0 elipses-overflow">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i> <span class="phone_number">{{lead.whatsapp_number}}</span>
                    </div>
                    <div class="col-md-auto p-0 right"> 
                        <span style="color:rgb(96, 248, 61y)" class="secondary_td_layer">£<span class="lead_cost" id="lead_cost_{{lead.pk}}" data-cost="{{lead.campaign.product_cost|floatformat:2}}">{{lead.campaign.product_cost|floatformat:2}}</span></span>
                    </div>
                </div>
            </span>
        </div>
        {%if lead.assigned_user%}
        <span class="lead_claimed_img" 
            data-bs-toggle="popover" 
            data-bs-trigger="hover" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="What does this mean?"
            data-bs-content="
            <p>
                {{lead.assigned_user.profile.name}} has claimed this lead!
            </p>
            ">
            <img src="{%if lead.assigned_user.profile.avatar%}/media/{{lead.assigned_user.profile.avatar}}{%else%}{% static 'img/blank-profile-picture.png' %}{%endif%}" alt="" style="width:25px; height:25px;" class="rounded-circle m-1">
        </span>
        {%endif%}
    </article>
    {%endwith%}
</span>
{%endif%}