<div class="m-0" id="leads_board_span_wrapper">
    <div hidden id="leads_reconnect_div">
    </div>
    <div class="row ps-3 m-0" id="">
        <div class="col-md-auto">
            <div class="m-1 p-2 left alert alert-info">
                <small>Press <b>"Space"</b> or <b>Double Click</b> while hovering on a lead to claim! (now touch screen friendly)<br>Click on the leads board and use the arrow keys to scroll around.</small>
            </div> 
        </div> 
        <div class="col right">
            <div id="users_online_leads">

            </div>
        </div>
        <div class="col-md-auto m-1 p-0 secondary_td_layer">
            <div class="input-group m-0">
                <span class="input-group-text" id="search-addon"><i class="fa-brands fa-searchengin"></i></span>
                <input type="text" oninput="filterLeads(this)" class="form-control form-control-sm" placeholder="Search Leads" aria-label="Search Leads" aria-describedby="search-addon">
            </div>          
        </div> 
        <div class="col-md-auto m-1 p-0">
            <div class="btn-group btn-space mt-0 dropdown">
                <button class="btn btn-space btn-primary  btn-sm nowrap pe-2" 
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover focus" 
                    data-bs-placement="top"
                    data-bs-content="Manually create a campaign lead."
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content'%}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'edit_lead', 'site_pk':'{{site.pk}}'}})">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Lead
                </button>

                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#"
                            onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content'%}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'import_active_campaign_leads','lead_pk':'{{lead.pk}}'}})">
                            Import existing Active Campaign leads
                        </a>
                    </li>
                </ul>

                <button class="btn btn-space btn-primary btn-sm nowrap border-start ps-1" id="sold_{{lead.pk}}_dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0 ">
        <div class="col p-0 m-0 board" id="leads_board" class="" hx-ws="connect:/ws/lead/{{company.pk}}/">
                <!-- <button hidden hx-get="{% url 'get-leads-column-meta-data'%}" hx-include=".overview_table_filters" id="refresh_column_metadata" hx-indicator=".column-htmx-indicator" hx-target="#column_metadata_0" hx-trigger="click" hx-swap="outerHTML"></button> -->
                <button hidden hx-get="{% url 'new-leads-column' %}" hx-include="#max_call_count" id="add_column" hx-indicator=".column-htmx-indicator" hx-target="#leads_board_span_wrapper" hx-trigger="click" hx-swap="beforeend"></button>
                {%include 'campaign_leads/htmx/lead_columns.html' %}
        </div>
    </div>
</div>