{%load core_tags%}
<span class="column-drag"
    draggable="true" ondragstart="drag(event)" data-id="{{lead.pk}}" id="lead-{{lead.pk}}">
    {%with call_count|division_percentage_max_100:max_call_count as call_percentage%}
    <article style="margin-right:50px"  class="card draggable-card top-highlight-{{call_percentage|roundup_tag:20}}">
        <div class="row">
            <div class="col p-0 elipses-overflow">
                <span class="primary_td_layer">
                    
                    {%if lead.active_errors%}
                    <span 
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-html="true" 
                    data-bs-placement="top"
                    data-bs-title="Errors"
                    data-bs-content="
                    <b>Errors:</b>
                    <ul>
                        {%for error in lead.active_errors%}
                        <li>{{error.created}} - {{error.get_type_display}}</li>
                        {%endfor%}
                    </ul>
                    ">
                        <i class="fa-solid fa-triangle-exclamation" style="color:red"></i>
                    </span>
                    {%endif%}  
                    {{lead.name}}
                </span>
            </div>
            <div class="col-md-auto p-0">
                <!-- <span style="color:rgb(96, 248, 61y)" class="secondary_td_layer">£{{lead.campaign.product_cost|floatformat:2}}</span> -->
                <span style="color:rgb(96, 248, 61y)" class="secondary_td_layer">£<span class="lead_cost" id="lead_cost_{{lead.pk}}" data-cost="{{lead.campaign.product_cost|floatformat:2}}">{{lead.campaign.product_cost|floatformat:2}}</span></span>
            </div>
        </div>

        <span class="secondary_td_layer elipses-overflow">{{lead.campaign.name}}</span><br>
        <span class="secondary_td_layer">
            <div class="row">
                <div class="col p-0 elipses-overflow">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> {{lead.whatsapp_number}}
                </div>
                <div class="col-md-auto p-0" style="text-align:right"> 
                    {%if not lead.message_set.all%}
                    <button class="btn btn-sm btn-success text-white position-relative" 
                        hx-get="{%url 'send-first-template-whatsapp' lead_pk=lead.pk%}"
                        hx-indicator=".htmx-indicator" 
                        hx-include="#max_call_count"
                        hx-target="#lead-{{lead.pk}}"
                        hx-push-url="false"
                        hx-swap="outerHTML" hx-trigger="click"  
                        data-whatsapp-number="{{lead.whatsapp_number}}">
                            1st <i class="fa fa-whatsapp"></i>
                    </button>
                    {%elif site%}
                    {% comment %} <button class="btn btn-sm btn-success text-white position-relative" 
                        hx-get="{%url 'message-window' customer_number=lead.whatsapp_number site_pk=site.pk%}"
                        hx-indicator=".htmx-indicator" 
                        hx-target="#next_chat_window_{{system_phone_number}}"
                        hx-push-url="false"
                        hx-swap="outerHTML" hx-trigger="click"  
                        data-whatsapp-number="{{lead.whatsapp_number}}">
                            Chat
                            <span id="chat_notification_{{lead.whatsapp_number}}">
                            </span>
                    </button> {% endcomment %}
                    {%endif%}
                </div>
            </div>
        </span>
    </article>
    {%endwith%}
</span>