{%load core_tags static%}
{%if not lead.archived%}
<article style="margin-right:50px; border-top: 3px solid rgba({{lead.campaign.color}}, 1); border-bottom: 3px solid rgba({{lead.campaign.color}}, 1);"
    id="lead-{{lead.pk}}" data-id="{{lead.pk}}"  class="card draggable-card lead_card column-drag lead-{{lead.pk}}">
    <script>setDoubleTap("#lead-{{lead.pk}}")</script>
        <input type="text" style="display:None" id="lead_pk_{{lead.pk}}" name="lead_pk" value="{{lead.pk}}"/>
        <div class="row" style="height:30px">
            <div class="col p-0 elipses-overflow">
                <span class="primary_td_layer">
                    <span 
                    class="help"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover focus" 
                    data-bs-html="true" 
                    data-bs-placement="top"
                    data-bs-title="Full Information"
                    data-bs-content="
                    <b>Name:</b> {{lead.name}}<br>
                    <b>Number:</b> {{lead.whatsapp_number}}<br>
                    <b>Email:</b> {{lead.email}}<br>
                    <b>Campaign:</b> {{lead.campaign.name}}<br>
                    <b>Site:</b> {{lead.campaign.site.name}}<br>
                    <b>Created:</b> {{lead.created}}<br>
                    <b>Last Dragged:</b> {{lead.last_dragged}}<br>

                    <br>
                    <b>Campaign Cost (at lead creation):</b> {{lead.get_product_cost|floatformat:2}}<br>
                    ">
                        <i class="fa-solid fa-circle-info" style="color:light-blue"></i>
                    </span> 
                    {%if lead.active_errors%}
                    <span 
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover focus" 
                    data-bs-html="true" 
                    data-bs-placement="top"
                    data-bs-title="Errors"
                    data-bs-content="
                    <b>Errors:</b>
                    <ul>
                        {%for error in lead.active_errors%}
                        <li>{{error.created}} - {{error.get_type_display}}</li>
                        {%endfor%}
                    </ul>
                    ">
                        <i class="fa-solid fa-triangle-exclamation help" style="color:red"></i>
                    </span>
                    {%endif%} 
                    <span class="lead_name">{{lead.name}}</span>
                    
                    
                    
                </span>
            </div>
            <div class="col-md-auto p-0">
                
                {%if not lead.message_set.all%}
                <button class="btn btn-sm btn-success text-white position-relative" 
                    hx-get="{%url 'send-first-template-whatsapp-lead-article' lead_pk=lead.pk%}"
                    hx-indicator="#page_load_indicator" 
                    hx-include="#max_call_count"
                    hx-swap="none"
                    onclick="$('#page_load_indicator').addClass('htmx-request')"
                    hx-push-url="false"
                    hx-trigger="click delay:0.5s"  
                    data-customer-number="{{lead.whatsapp_number}}">
                        1st <i class="fa fa-whatsapp"></i>
                </button>
                {%else%}
                    <button class="btn btn-sm btn-success text-white position-relative"                     
                        hx-get="{%url 'message-list'%}"
                        hx-target="#chat_bottom"
                        hx-swap="outerHTML"
                        hx-indicator="#page_load_indicator"                 
                        hx-vals='{"site_pk": "{{lead.campaign.site.pk}}", "customer_number": "{{lead.whatsapp_number}}"}'
                        hx-trigger="click"                        
                        onclick="$('#chat_card_{{lead.whatsapp_number}}').remove(); $('#chat_list_bottom_window').remove();"
                        data-customer-number="{{lead.whatsapp_number}}">
                            Chat
                    </button>
                {%endif%}
            </div>
        </div>
        <div class="row">
            <span class="secondary_td_layer elipses-overflow campaign_name p-0 ps-1" style="max-width:150px">{{lead.campaign.name}}</span>
        </div>
        <div class="row">
            <span class="secondary_td_layer elipses-overflow site_name p-0 ps-1" style="max-width:150px">{{lead.campaign.site.name}}</span>
        </div>
        <div class="row mt-3">
            <span class="secondary_td_layer p-0" >
                <div class="row">
                    <div class="col p-0 elipses-overflow">
                        <b><i class="fa fa-whatsapp" aria-hidden="true"></i> <span class="phone_number">{{lead.whatsapp_number}}</span></b>
                    </div>
                    <div class="col-md-auto p-0 right"> 
                        <span style="color:rgb(96, 248, 61y)" class="secondary_td_layer">£<span class="lead_cost" id="lead_cost_{{lead.pk}}" data-cost="{{lead.get_product_cost|floatformat:2}}">{{lead.get_product_cost|floatformat:2}}</span></span>
                    </div>
                </div>
            </span>
        </div>
        {%if lead.assigned_user%}
        <span class="lead_claimed_img_wrapper" 
            data-bs-toggle="popover" 
            data-bs-trigger="hover focus" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="What does this mean?"
            data-bs-content="
            <p>
                {{lead.assigned_user.profile.name}} has claimed this lead!
            </p>
            ">
            <img src="{%if lead.assigned_user.profile.avatar%}/media/{{lead.assigned_user.profile.avatar}}{%else%}{% static 'img/blank-profile-picture.png' %}{%endif%}" alt="" style="width:25px; height:25px;" class="rounded-circle m-1">
        </span>
        {%endif%}
        <span class="lead_edit_button_wrapper" 
            data-bs-toggle="popover" 
            data-bs-trigger="hover focus" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="Edit Lead."
            data-bs-content="
            Click here to make changes to this lead within the Leads Management System. 
            <br>
            <br>
            This will affect:
            <ul>
                <li>Outgoing Whatsapp template messages</li>
                <li>How the lead is displayed on the system</li>
            </ul>
            ">
            <div class="btn-group btn-space mt-1">    
                <button class="btn btn-warning btn-xs" type="button"
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content'%}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'edit_lead','lead_pk':'{{lead.pk}}'}})">
                    <i class="fa-solid fa-pencil"></i></button>
            </div>
        </span>
        <span class="lead_notes_button_wrapper" 
            data-bs-toggle="popover" 
            data-bs-trigger="hover focus" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="Create and View Notes."
            data-bs-content="
            {%if lead.note_set.first%}
            <ul>
                {%for note in lead.note_set.all|queryset_last_x:10%}
                <li>
                    <div class='double_layer_td'>                         
                        <div class='row'>   
                            <div class='col p-0 elipses-overflow' style='max-width: 200px;'>   
                                <span class='primary_td_layer'>{{note.text}}</span>
                                <br>
                                <span class='secondary_td_layer'>{{note.user.first_name}} {{note.user.last_name}} - {{note.datetime}}</span>   
                            </div>
                            <div class='col-md-auto p-0'>
                            </div>
                        </div>
                    </div>
                </li>
                {%endfor%}
            </ul>
            {%else%}
            <div class='center'>No Notes Yet!</div>
            {%endif%}
            ">
            <div class="btn-group btn-space mt-1">    
                <button class="btn btn-{%if lead.note_set.all%}dark{%else%}secondary{%endif%} btn-xs" type="button"
                    onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content' param1=lead.pk %}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'note_history'}})">
                    <i class="fa-solid fa-notes"></i> <span style="color:Silver">{{lead.note_set.all.count}}</span></button>
            </div>
        </span>
    </article>
<script>
    lead_event_listener("#lead-{{lead.pk}}")
</script>

{%endif%}