{%load core_tags%}
{%for queryset_title, queryset, call_count in querysets%}
{%with call_count|division_percentage_max_100:max_call_count as call_percentage%}
<div class="column column-done highlight-{{call_percentage|roundup_tag:20}}" data-call-count="{{ call_count }}" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div class="m-2 manually_add_lead_div">
    <h2 class="m-0">{{queryset_title}} <img  class="htmx-indicator column-htmx-indicator" src="https://htmx.org/img/bars.svg"/></h2> 
    {%with call_count as counter%}
    {%include 'campaign_leads/htmx/column_metadata.html'%}
    {%endwith%}
    </div>
    {%for lead in queryset%}
    {%include 'campaign_leads/htmx/lead_article.html'%}
    {%endfor%}
</div>
{%endwith%}
{%endfor%}

<span hidden id="max_call_count_span">
    <input type="text" style="display:None" id="max_call_count" name="max_call_count" value="{{max_call_count}}"/>
</span>