<span id="site_select_span_{{campaign.pk}}"> 
    <span style="display:none"> {{campaign.site.name}}</span>
    <select id="site_pk_{{campaign.pk}}" class="form-select" name="site_pk"onchange="$('#submit_site_pk_{{campaign.pk}}').click()">
    <option value="">None</option>
    {%for site in site_list%}
    <option value="{{site.pk}}" {%if campaign.site == site%}selected{%endif%}>{{site.name}}</option>
    {%endfor%}
    </select>
    <button hidden 
    hx-post="{% url 'set-campaign-site' campaign_pk=campaign.pk %}" 
    hx-swap="outerHTML" hx-indicator=".top-htmx-indicator" hx-target="#site_select_span_{{campaign.pk}}"
    hx-include="#site_pk_{{campaign.pk}}" 
    id="submit_site_pk_{{campaign.pk}}"></button>
</span>