<div class="generic_modal_contents">
    <div class="card card-highlight m-1">
        <div class="card-header">
            <b><i class="fa-regular fa-plus" ></i> Add New</b>
        </div>        
        <div class="card-body center">
            <form hx-post="{%url 'create-lead-note'%}" hx-include=".create_lead_note_input" hx-vals='{"lead_pk":"{{lead.pk}}"}'>
                <div class="row m-1">
                    <div class="col">
                        <textarea rows="4" class="form-control create_lead_note_input" name="note"></textarea>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col">
                        <button class="btn btn-success btn-sm"><i class="fa-solid fa-note" type="submit"></i> Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card card-highlight m-1">
        <div class="card-header">
            <b><i class="fa-regular fa-clock-rotate-left" ></i> History</b>
        </div>        
        <div class="card-body"><div class="row">
            <div class="col">
                <table class="table">
                    <tbody class="">
                        {%for note in lead.note_set.all%}
                        <tr
                            data-bs-toggle="popover" 
                            data-bs-trigger="hover focus" 
                            data-bs-placement="right"
                            data-bs-html="true"
                            data-bs-content="
                            {%if note.booking%}
                            <p>Attached to the booking{%if note.booking.user%} made by <b>{{note.booking.user.first_name}} {{note.booking.user.last_name}}</b>{%endif%} booked for <b>{{note.booking.datetime}}</b></p>
                            <br>
                            {%endif%}       
                            <p>Attached to the Lead: <b>{{lead}}</b></p>                  
                            ">
                            <td class="double_layer_td">                         
                                <div class="row">   
                                    <div class="col p-0">   
                                        <span class="primary_td_layer">{{note.text}}</span>
                                        <br>
                                        <span class="secondary_td_layer">{{note.user.first_name}} {{note.user.last_name}} - {{note.datetime}}</span>   
                                    </div>
                                    <div class="col-md-auto p-0">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                  </table>
            </div>
        </div>
        </div>
    </div>
    
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Note History - {{lead.name}}
    <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
</span>