<span>
    <div class="row">
        <div class="col center">
            
            <div class="btn-group btn-space">
                <button class="btn btn-sm btn-secondary" type="button"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See communication history for this lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#communication_history"
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                        Communication History
                        <span class="badge bg-info" style="font-size:10px">
                            {{lead.communication_set.all.count}}                
                        </span>
                </button>
                <button class="btn btn-sm btn-secondary"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See booking history for this lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#booking_history"
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                        Booking History
                        <span class="badge bg-info" style="font-size:10px">
                            {{lead.booking_set.all.count}}                
                        </span>
                </button>   
                <button class="btn btn-sm btn-success"
                    data-bs-toggle="popover" 
                    data-bs-trigger="hover" 
                    data-bs-placement="top"
                    data-bs-content="See note history for this lead."
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-include="#note_history"
                    hx-get="{% url 'campaign-lead-get-modal-content' param1=lead.pk %}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                        Note History
                        <span class="badge bg-info" style="font-size:10px">
                            {{lead.note_set.all.count}}                
                        </span>
                </button>   
            </div> 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th ><strong>History</strong></th>
                    <th style="width:400px">
                    </th>
                  </tr>
                </thead>
                <tbody class="">
                    {%for note in lead.note_set.all%}
                    <tr
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover" 
                        data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content="
                        {%if note.communication%}
                        <p>Attached to the <b>{{note.communication.get_type_display}}</b> communication{%if note.communication.staff_user%} made by <b>{{note.communication.staff_user.first_name}} {{note.communication.staff_user.last_name}}</b>{%endif%} at <b>{{note.communication.datetime}}</b></p>
                        {%endif%}  
                        {%if note.booking%}
                        <p>Attached to the <b>{{note.booking.get_type_display}}</b> booking{%if note.booking.staff_user%} made by <b>{{note.booking.staff_user.first_name}} {{note.booking.staff_user.last_name}}</b>{%endif%} booked for <b>{{note.booking.datetime}}</b></p>
                        {%endif%}                        
                        ">
                        <td colspan="2" class="double_layer_td">                         
                            <div class="row">   
                                <div class="col p-0">   
                                    <span class="primary_td_layer">{{note.text}}</span>
                                    <br>
                                    <span class="secondary_td_layer">{{note.staff_user.first_name}} {{note.staff_user.last_name}} - {{note.datetime}}</span>   
                                </div>
                                <div class="col-md-auto p-0">
                                </div>
                            </div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
              </table>
        </div>
    </div>
</span>
<span hx-swap-oob="true" id="generic_modal_title">
    Booking History - {{lead.name}}
    <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
</span>