{%load core_tags%}
<div class="generic_modal_contents">
    <div class="card card-white m-1 p-3" style="min-width:600px">
        <p>
            You currently have a <b>{{company.get_subscription_display}}</b> subscription {% if company.subscription == 'free'%}£0 p/m{% elif company.subscription == 'basic'%}£9.99 p/m (per facility/site){% elif company.subscription == 'pro'%}£34.99 p/m (per facility/site){%endif%}
        </p>
        <p class="text-{% if switch_subscription == 'free'%}secondary{% elif switch_subscription == 'basic'%}primary{% elif switch_subscription == 'pro'%}success{%endif%}">
            You are going to switch to a {% if switch_subscription == 'free'%}<b>Free</b> subscription £0 p/m{% elif switch_subscription == 'basic'%}<b>Basic</b> subscription £9.99 p/m (per facility/site){% elif switch_subscription == 'pro'%}<b>Pro</b> subscription £34.99 p/m (per facility/site){%endif%} 
        </p>
        <hr>
        {% if switch_subscription == 'free'%}
            <p>
                This means you will be prompted to:
            </p>
            <ul>
                {% if company.active_sites.count > 1%}
                    <li>
                        Deactivate {{company.active_sites.count|addition:-1}} of your company's sites.
                    </li>
                {%endif%}
                <li>
                    Deactivate user accounts until you have a maximum of 5.
                </li>
            </ul>
            
            <p>
                You will:
            </p>
            <ul>
                <li>
                    Be restricted to simple analytics (up to a week of data, fewer metrics).
                </li>
                {% if company.subscription == 'pro'%}
                    <li>
                        Need to deactivate your Whatsapp integration for Winser Systems. If you need help with this, please contact: <a href='mailto:jobiewinser@gmail.com'>jobiewinser@gmail.com</a>. Your phone number won't be available to use within Whatsapp until it is removed from your "Whatsapp Business Account" <a target="_blank" href="https://business.facebook.com/settings/whatsapp-business-accounts/">Here</a>
                    </li>
                {%endif%}
            </ul>
        {% elif switch_subscription == 'basic'%}
            {% if company.subscription == 'pro'%}
                <p>
                    This means you will be prompted to:
                </p>
                <ul>
                    <li>
                        Deactivate user accounts until you have a maximum of 10 per site.
                    </li>
                </ul>
            {%endif%}
            
            <p>
                You will:
            </p>
            <ul>
                {% if company.subscription == 'free'%}
                <li>
                    Gain access to more analytics (up to a month of data).
                </li>
                <li>
                    Be allowed to have more profiles, up to 10 per site.
                </li>
                <li>
                    Be allowed to add more facilities/sites (for additional monthly fee).
                </li>
                {% elif company.subscription == 'pro'%}
                    <li>
                        Be restricted to basic analytics (up to a month of data, fewer metrics).
                    </li>
                    <li>
                        Need to deactivate your Whatsapp integration for Winser Systems. If you need help with this, please contact: <a href='mailto:jobiewinser@gmail.com'>jobiewinser@gmail.com</a>. Your phone number won't be available to use within Whatsapp until it is removed from your "Whatsapp Business Account" <a target="_blank" href="https://business.facebook.com/settings/whatsapp-business-accounts/">Here</a>
                    </li>
                {%endif%}
            </ul>
        {% elif switch_subscription == 'pro'%}
            <small>
                Note: Changing to/from a <b>Pro</b> subscription requires a small wait while we transfer your data and help you to configure your Whatsapp settings. 
                <br>
                For this reason we don't yet offer automatic subscribing to the <b>Pro</b> tier. 
                <br>
                If you are interested in upgrading, please contact: <a href='mailto:jobiewinser@gmail.com'>jobiewinser@gmail.com</a> or <a href='tel:+447872000364'>+44 7872 000364</a>.
            </small>
            
            <p class="mt-3">
                You will:
            </p>
            <ul>
                <li>
                    Gain access to a built in Whatsapp Messenger, with automated template sending.
                </li>
                <li>
                    Gain access to unrestricted analytics and more analytic metrics.
                </li>
            </ul>

            <small>
                There is additional configuration needed with this subscription, hence the additional setup time and needing to get in touch with us. <u>We promise that it's worth it!</u>
            </small>
        {%endif%}
    </div>
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Switch subscription for {{company.name}}
</span>