{%load core_tags%}

{% with site.company|get_subscription_sites_tag:switch_subscription.numerical|to_int as subscription_sites %}
<div class="generic_modal_contents">
    <div class="card card-white m-1 p-3" style="min-width:600px">
        {% comment %} <p>
            You currently have a <b>{{site.subscription_new.get_name_display}}</b> subscription £{{site.subscription_new.cost|floatformat:2}} p/m (per facility/site)
        </p> {% endcomment %}
        <p class="text-{{switch_subscription.bootstrap_colour}}">
            You are going to switch to a <b>{{switch_subscription.get_name_display}}</b> subscription £{{switch_subscription.cost|floatformat:2}} p/m (per facility/site)
        </p>
        <hr>
            {% if subscription_sites >= switch_subscription.max_of_this_type %}
            <p class="text-danger">
                You already have a Free site for your company, you will have to deactivate that site or this one. as you are only allowed 1.
                {%if site.subscription_new.numerical|to_int == 2%}
                    Alternatively <a hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                                    hx-vals='{"template_name": "switch_subscription","switch_subscription":1,"site_pk":"{{site.pk}}"}'
                                    hx-get="{% url 'campaign-lead-get-modal-content'%}" 
                                    hx-push-url="false" href='#'
                                    hx-swap="innerHTML" hx-trigger="click">switch to a basic subscription instead</a>.
                {%endif%}
            </p>
            {%else%}
            
            <p>
                You will:
            </p>
            <ul>
                {% if not switch_subscription.max_profiles %}
                <li>
                    Be allowed unlimited profiles on this site.
                </li>
                {% elif switch_subscription.max_profiles  %}
                <li>
                    Be prompted to choose which profiles to keep attached to this site (up to {{switch_subscription.max_profiles}}).
                </li>
                {%endif%}
                
                <li>
                    Have access to {{switch_subscription.analytics_string}}.
                </li>
                {% if not switch_subscription.whatsapp_enabled and site.subscription_new.whatsapp_enabled  %}
                <li>
                    Need to deactivate your Whatsapp integration for this site. If you need help with this, please contact: <a href='mailto:jobie@winser.uk'>jobie@winser.uk</a>. Your phone number won't be available to use within your Whatsapp phone/desktop app until it is removed from your "Whatsapp Business Account" <a target="_blank" href="https://business.facebook.com/settings/whatsapp-business-accounts/">Here</a>.
                </li>
                {% elif switch_subscription.whatsapp_enabled and not site.subscription_new.whatsapp_enabled  %}
                <li>
                    Gain access to Whatsapp automation.
                </li>
                {%endif%}
            </ul>
        {%endif%}

        <div class="row mt-3">
            <div class="col">
            </div>
            <div class="col-auto">

                {% if switch_subscription.whatsapp_enabled and not site.subscription_new.whatsapp_enabled  %}
                <br>
                <div class="alert alert-info center">
                    <small>
                        Note: Changing to/from a <b>Pro</b> subscription requires a small wait while we transfer your data and help you to configure your Whatsapp settings. 
                        <br>
                        For this reason we don't yet offer automatic subscribing to the <b>Pro</b> tier. 
                        <br>
                        If you are interested in upgrading, please contact: <a href='mailto:jobie@winser.uk'>jobie@winser.uk</a> or <a href='tel:+447872000364'>+44 7872 000364</a>.
                        <br>
                        <b>We promise that it's worth it!</b>
                    </small>
                </div>
                {%else%}
                <button class="btn btn-{{switch_subscription.bootstrap_colour}}"
                    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                    hx-vals='{"numerical":"{{switch_subscription.numerical}}","site_pk":"{{site.pk}}"}'
                    hx-get="{% url 'switch-subscription-begin'%}" 
                    hx-push-url="false"
                    hx-swap="innerHTML" hx-trigger="click">
                    Switch Subscription
                </button>
                {%endif%}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
{%endwith%}
<span hx-swap-oob="true" id="generic_modal_title">
    Switch subscription for {{site.name}}
</span>