<div class="generic_modal_contents">
    <div class="row">
        <div class="col">
            <select class="form-select" name="site_pk" id="site_pk_{{whatsappnumber.pk}}" onchange="console.log(this.value.toString(), '{{whatsappnumber.site.pk}}'); if(this.value.toString() == '{{whatsappnumber.site.pk}}'){$('#assign_site_{{whatsappnumber.pk}}').attr('disabled', true)}else{$('#assign_site_{{whatsappnumber.pk}}').attr('disabled', false)}">
                {%for site in request.user.profile.active_sites_allowed%}
                <option {%if whatsappnumber.site.pk == site.pk %}selected{%endif%} value="{{site.pk}}">{{site.name}}</option>
                {%endfor%}
            </select>
            <br>
            {% comment %} <button disabled hx-post="{% url 'whatsapp-change-number-site' %}" hx-swap="delete" 
                hx-include="#site_pk_{{whatsappnumber.pk}}" hx-indicator=".top-htmx-indicator" 
                hx-vals='{"whatsappnumber_pk": "{{whatsappnumber.pk}}"}'
                hx-target="#whatsappnumber_row_{{whatsappnumber.pk}}" id="assign_site_{{whatsappnumber.pk}}" 
                class="btn btn-primary btn-sm">Transfer</button> {% endcomment %}
        </div>
    </div>
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Transfer Whatsapp Number - {{whatsappnumber}}
    <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
</span>