{% comment %} <div class="generic_modal_contents">
    <div class="row">
        <div class="col">
            <select class="form-select" name="site_pk" id="site_pk_{{template.pk}}" onchange="if(this.value.toString() == '{{template.site.pk}}'){$('#assign_site_{{template.pk}}').attr('disabled', true)}else{$('#assign_site_{{template.pk}}').attr('disabled', false)}">
                {%for site in request.user.profile.active_sites_allowed%}
                <option {%if template.site.pk == site.pk %}selected{%endif%} value="{{site.pk}}">{{site.name}}</option>
                {%endfor%}
            </select>
            <br>
        </div>
    </div>
</span>
<span hx-swap-oob="true" id="generic_modal_title">
    Transfer Template - {{template.name}}
    <input type="text" style="display:None" id="modal_lead_pk" name="lead_pk" value="{{lead.pk}}"/>
</span> {% endcomment %}