{%load static%}
<div class="generic_modal_contents row">    
    <div class="col-md-auto" style="float:left;">
        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1">Leads</a>
                <a class="nav-link" href="#item-2">Bookings</a>
                <a class="nav-link" href="#item-3">Analytics</a>
                <a class="nav-link" href="#item-4">Company Configuration</a>
                <a class="nav-link" href="#item-5">Site Configuration</a>
                <a class="nav-link" href="#item-6">Campaign Configuration</a>
                <a class="nav-link" href="#item-7">Whatsapp Templates</a>
                <a class="nav-link" href="#item-8">Feedback</a>
                <a class="nav-link" href="#item-9">Change Log</a>
                <hr>
                <a class="nav-link" href="#item-10">Calendly</a>
                <a class="nav-link" href="#item-11">Whatsapp</a>
                <a class="nav-link" href="#item-12">Active Campaign</a>
            </nav>
        </nav>
    </div>
    <div  class="col" style="float:left; height: 60vh; overflow: auto;">      
        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
            <h4 id="item-1">Leads</h4>
            <p>
                The leads board is a collaborative page that allows you to work with your team to make calls to your leads.
            </p>
            <p>
                Here are some helpful tips:
            </p>
            <ul> 
                <li>Leads will only be shown that match the Site, Campaign Category and Campaign you have selected at the top of the page.</li>
                <li>Press space with your mouse hovering over a card to "claim" it <i>(indicating that you are temporarily in charge of making calls to the lead)</i>.</li>
                <li>Left click on the lead card you have made a phone call to and move your mouse to the next column to record your call.</li>
                <li>With a Pro Subscription, you can click on the "Chat" button to continue your whatsapp conversation with the lead.</li>
                <li>Once you have confirmed a booking time with the lead, drag the card down to the green booking section and proceed with making a booking using calendly or manually.</li>
                <li>Alternatively drag the card down to the red section to archive it. To see archived leads, goto the booking section and press "Archived" at the top.</li>
                <li>To navigate the leads board, you can use your arrow keys or scroll wheel. I personally prefer to use the middle click and drag my mouse.</li>
            </ul>
            <hr>
            <h4 id="item-2">Bookings</h4>
            <p>
                The bookings table allows you to view all your booked leads and make changes to them. From here you can:
                <ul> 
                    <li>Add a new booking (the booking you add latest will show in the table).</li>
                    <li>See all previous bookings.</li>
                    <li>View/Create notes.</li>
                    <li>Edit the lead's information using the yellow <i class="fa-solid fa-pencil"></i> button.</li>
                    <li>Mark the lead as having arrived to the latest booking.</li>
                    <li>Mark the lead as having been sold to by yourself (or another user within the site by clicking the <i class="fa-solid fa-chevron-down"></i> button).</li>
                    <li>Archive the lead, hiding it from the booking table.</li>
                </ul>
            </p>
            <p>
                You can also filter the table by:
                <ul> 
                    <li>Clicking Show Sold or Show Archived (sold and archived leads are hidden by default).</li>
                    <li>Clicking a table header to sort by that particular field .</li>
                    <li>Typing into the search bar above the table will filter each row to find your entered text in any of the table cells.</li>
                </ul>
            </p>
            <hr>
            <h4 id="item-3">Analytics</h4>
            
            <p>
                The analytics page show several metrics about your leads, bookings and sales data. Each graph will show information based on the Site, Campaign Category and Campaign you have selected at the top. The data is also filtered to show only the data from the date range you have selected on the left.
            </p>
            
            <p>
                The analytics are calculated when you choose your filters and are not updated in real time. If you want to see the latest data, you will need to click the refresh button.
            </p>
            <hr>
            <h4 id="item-4">Company Configuration</h4>
            <p>
                As an owner you can:
                <ul> 
                    <li>Assign permissions to your users, give them access to other sites or deactivate their profile.</li>
                    <li>Add additional sites (for example for another gym/facility you own).</li>
                </ul>
            </p>
            <hr>
            <h4 id="item-5">Site Configuration</h4>
            <p>
                With the correct permissions you can:
                <ul> 
                    <li>Change the subscription level for each site.</li>
                    <li>Manage your billing/subscription within the Strip customer portal by clicking "<i class="fa-light fa-sterling-sign"></i> Stripe: Subscriptions and Billing".</li>
                    <li>Add new profiles, add an existing profile within the company to the site and reactivate deactivated profiles.</li>
                    <li>Make changes to another user's profile such as name, Calendly Event Page and profile picture.</li>
                    <li>Assign permissions to your users, give them access to other sites or deactivate their profile.</li>
                </ul>
            </p>
            <p>
                Within Advanced Settings, with the correct permissions you can:
                <ul> 
                    <li>Set the Whatsapp Access Token (see <a href="#item-11">Whatsapp</a> section).</li>
                    <li>Disabled/Enable Whatsapp sending for this site (this is useful to stop accidentally sending messages while you configure your whatsapp settings).</li>
                    <li>Add an additional Whatsapp number using a Whatsapp Business Account ID (see <a href="#item-11">Whatsapp</a> section).</li>
                    <li>Rename an existing Whatsap number with an alias for use within the Leads Management System.</li>
                    <hr>
                    <li>Set your Calendly Organisation and Token (see <a href="#item-10">Calendly</a> section).</li>
                    <li>Once your Calendly settings are correct, you can "<i class="fa-solid fa-link" aria-hidden="true"></i> Create Calendly Webhook", allowing Calendly to pdate your bookings on the Leads Management system.</li>
                    <hr>
                    <li>Set your Active Campaign Url and API Key <a href="#item-12">Active Campaign</a>.</li>
                    <li>Disable/Enable Active Campaign leads automatically coming through to the leads board (you will hav eto import these leads that didn't come through manually).</li>
                </ul>
            </p>
            <hr>
            <h4 id="item-6">Campaign Configuration</h4>
            <p>
                This page allows you to configure each campaign. Currently there are only 2 types of campaign, Active Campaign and Manual Campaign. You can:
                <ul> 
                    <li>Assign an Activate Campaign to a site within your company.</li>
                    <li>Change the value of a campaign sale.</li>
                    <li>Change colour of the lead cards for this campaign.</li>
                    <li>Change the campaign category for this campaign (or add a category). Examples may include: PT Course, Group Classes, PT Sessions.</li>
                    <li>Assigning a Whatsapp number to send automatic messages from for this campaign.</li>
                    <li>Assigning templates to automatically send whatsapp messages for this campaign.</li>
                </ul>
            </p>
            <hr>
            <h4 id="item-7">Whatsapp Templates</h4>
            <p>Tutorial Coming Soon</p>
            <hr>
            <h4 id="item-8">Feedback</h4>
            <p>Tutorial Coming Soon</p>
            <hr>
            <h4 id="item-9">Change Log</h4>
            <p>Tutorial Coming Soon</p>
            <hr>
            <h4 id="item-10">Calendly</h4>
            <p>Tutorial Coming Soon</p>
            <hr>
            <h4 id="item-11">Whatsapp</h4>
            <p>Tutorial Coming Soon</p>
            <hr>
            <h4 id="item-12">Active Campaign</h4>
            <p>Tutorial Coming Soon</p>
        </div>
    </div>
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Tutorial
</span>