

<div class="row" style="margin-left:0px !important;"
    data-bs-toggle="popover" 
    data-bs-trigger="hover" 
    data-bs-placement="top"
    data-bs-html="true"
    data-bs-title="Disable Leads"
    data-bs-content="Disabling this toggle will stop active campaign from creating leads on Winser Systems for this site.
    <br>
    <b>Example Usage:</b>
    <br>
    You're not ready to use this system with another gym you own, so flick this option off for that gym, or Jobie is doing a demonstration and wants to show you the live messaging system without messaging real customers. 
    ">
    <div class="col-md-auto">
        Active campaign leads for <i class="fa-regular fa-calendar-days"></i> <b class="name_display_{{site.pk}}">{{site.name}}</b> <i class="fa-solid fa-circle-info help"></i>: 
    </div>

    <div class="col-md-auto p-0">
        <div class="form-check form-switch">
            <input hx-post="{%url 'set-active-campaign-lead-status'%}" hx-target="#active_campaign_leads_wrapper" hx-swap="innerHTML" hx-trigger="input delay:0.3s" hx-indicator="#htmx_indicator_site_form" hx-vals='{"site_pk": "{{site.pk}}"}'
            class="form-check-input" name="active_campaign_leads_enabled" {%if site.active_campaign_leads_enabled%}checked{%endif%} type="checkbox">
        </div>
    </div>

    <div class="col">
        
    </div>
</div>