{%load user_permission_tags%}
<span id="calendly_webhook_status_wrapper">
    {%if site_webhook_active%}
        <b style="color:green">Active</b>
        <br>
        <span 
            {%if not request.user.profile|get_user_allowed_to_edit_site_configuration_tag:site%}
            data-bs-toggle="popover" 
            data-bs-trigger="hover focus" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="Delete Calendly Webhook"
            data-bs-content="
                You do not have permission to edit this field: Edit Site Configuration
            "{%endif%}>
            <button class="btn btn-danger ms-3" {%if not request.user.profile.role == 'a'%}disabled{%endif%}
                {%if not request.user.profile|get_user_allowed_to_edit_site_configuration_tag:site%}disabled{%endif%}
                hx-indicator=".top-htmx-indicator" hx-target="#calendly_webhook_status_wrapper" 
                hx-vals='{"site_pk": "{{site.pk}}"}'
                hx-post="{% url 'delete-calendly-webhook-subscription' %}" 
                hx-push-url="false"
                hx-swap="outerHTML" hx-trigger="click">
                    <i class="fa-solid fa-trash" aria-hidden="true"></i> Delete Calendly Webhook
            </button>
        </span>
    {%else%}
        <b style="color:red">Inactive</b> 
        <br>
        <span 
            {%if not request.user.profile|get_user_allowed_to_edit_site_configuration_tag:site%}disabled
            data-bs-toggle="popover" 
            data-bs-trigger="hover focus" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="Create Calendly Webhook"
            data-bs-content="
                You do not have permission to edit this field: Edit Site Configuration
            "{%endif%}>
            <button class="btn btn-secondary mt-2" {%if not request.user.profile.role == 'a'%}disabled{%endif%}
                {%if not request.user.profile|get_user_allowed_to_edit_site_configuration_tag:site%}disabled{%endif%}
                hx-indicator=".top-htmx-indicator" hx-target="#calendly_webhook_status_wrapper" 
                hx-vals='{"site_pk": "{{site.pk}}"}'
                hx-post="{% url 'create-calendly-webhook-subscription' %}" 
                hx-push-url="false"
                hx-swap="outerHTML" hx-trigger="click">
                    <i class="fa-solid fa-link" aria-hidden="true"></i> Create Calendly Webhook
            </button>
        </span>
    {%endif%}
</span>