{%load core_tags%}

<div class="generic_modal_contents">
    <div class="card card-white m-1 p-3" style="min-width:600px">
      <div class="row">
        <div class="col">
            <button class="btn btn-light"
                hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                hx-vals='{"template_name": "switch_subscription","switch_subscription":"{{site_subscription_change.subscription_to.numerical}}","site_pk":"{{site.pk}}"}'
                hx-get="{% url 'campaign-lead-get-modal-content'%}" 
                hx-push-url="false"
                hx-swap="innerHTML" hx-trigger="click">
                Back
            </button>
          </div>            
          <div class="col">
              <button type="button" class="btn btn-primary" onclick="outputSubscriptionProfileChoice('{{site_subscription_change.pk}}')">Proceed</button>
          </div>
        </div>
        <br>
        {% comment %} <p>
            You currently have a <b>{{site_subscription_change.subscription_from.get_name_display}}</b> subscription £{{site_subscription_change.subscription_from.cost|floatformat:2}} p/m (per facility/site)
        </p> {% endcomment %}
        <p class="text-{{site_subscription_change.subscription_to.bootstrap_colour}}">
            You are going to switch to a <b>{{site_subscription_change.subscription_to.get_name_display}}</b> subscription £{{site_subscription_change.subscription_to.cost|floatformat:2}} p/m (per facility/site)
        </p>

        <div class="row mt-3">
            <div class="col-auto">
                  <table id="profile_choice_table" class="table display" style="width:100%">
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Active Sites</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for user in site_subscription_change.site.users%}
                        <tr>
                            <td>
                              <span hidden id="profile_select_sort_span_{{user.pk}}">{%if user in site_subscription_change.users_to_keep.all%}1{%else%}0{%endif%}</span>
                              <input type="checkbox" 
                              {%if user in site_subscription_change.users_to_keep.all%}checked{%endif%} class="selectrow profile_choice_select" name="choose_profile_{{user.pk}}" data-id="{{user.pk}}">
                            </td>
                            <td>{{user.profile}}</td>
                            <td>{{user.profile.get_role_display}}</td>
                            <td>{{user.profile.active_sites_allowed.count}}</td>
                        </tr>           
                        {%endfor%}           
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Active Sites</th>
                      </tr>
                    </tfoot>
                  </table>
                  <script>
                    $(document).ready(function() {
                      $('#profile_choice_table').DataTable().destroy();
                      var table = $('#profile_choice_table').DataTable(
                        { "order": [[0, "desc"]] },
                        {
                          "targets": [1,2,3],
                          "orderable": false
                        },
                      );
                    });
                  
                    var selectedRows = [];
                    $(".profile_choice_select").click(function(event) {
                      if($(this).is(':checked')){
                        if($('.profile_choice_select:checked').length > {{site_subscription_change.subscription_to.max_profiles}}){
                          inlinePreventDefault(event); 
                          alert('Maximum {{site_subscription_change.subscription_to.max_profiles_string}} rows can be selected!');
                          return
                        } 
                      }
                      
                      let rowId = $(this).data("id");
                      if ($(this).prop("checked") == true) {
                        $("#profile_select_sort_span_"+$(this).data("id")).html('1')
                        selectedRows.push(rowId);
                      } else {
                        $("#profile_select_sort_span_"+$(this).data("id")).html('0')
                        let index = selectedRows.indexOf(rowId);
                        if (index > -1) {
                          selectedRows.splice(index, 1);
                        }
                      }
                  
                      // Move selected rows to top
                      $('#profile_choice_table').DataTable().destroy();
                      var table = $('#profile_choice_table').DataTable(
                        { "order": [[0, "desc"]] },
                        {
                          "targets": [1,2,3],
                          "orderable": false
                        },
                      );
                    });                 
                    
                </script>
            </div>
        </div>
    </div>
</div>
<span hx-swap-oob="true" id="generic_modal_title">
    Choose Attached Profiles for {{site_subscription_change.site.name}} (max {{site_subscription_change.subscription_to.max_profiles_string}})
</span>