{%load static tz core_tags user_permission_tags%}
<span>    
    <script>
        $(document).ready(function() {
            document.title = "Company Configuration";
        });
    </script>
    
    <div class="row mt-0">
        {%block extra_top_left_buttons %}
        <div class="col-md-auto">
            {% comment %} <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>              {% endcomment %}
        </div>
        {%endblock extra_top_left_buttons %}
        <div class="col">
        </div>
        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="company_configuration"></input>
        <div class="col-md-auto p-0 m-1">
            <span class="badge bg-dark text-white"><h6 class="m-1">Company Configuration</h6></span>           
        </div>
        {%endblock extra_top_right_buttons %}
    </div>
    
    <div class="row mt-2">
        <div class="col">
        </div>
        <div class="col-auto">
            <div class="card card-white m-0">
                <div class="card-header">
                    <div class="row m-0">
                        <div class="col p-0">
                            <i class="fa-solid fa-house-user"></i> <span class="name_display_{{site.pk}}">{{company.name}}</span> <b>Sites</b>
                        </div>
                        <div class="col-md-auto">
                            {%include 'core/htmx/add_site_button.html'%}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col p-0 card card-light">      
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <a>
                                                Name
                                            </a>
                                        </th>
                                        <th>
                                            Subscription
                                        </th>
                                        <th>
                                            Profiles
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for site in company.active_sites%}
                                    <tr>
                                        <td>
                                            <a href="#"
                                                hx-indicator="#page_load_indicator" data-active-selector="#configuration-top-nav-dropdown-toggle"
                                                hx-get="{%url 'site-configuration'%}?site_pk={{site.pk}}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">
                                                {{site.name}}
                                            </a>
                                        </td>
                                        <td>
                                            {{site.subscription.get_name_display}}
                                        </td>
                                        <td>
                                            <b>{{site.users.count}}</b> of <b>{{site.subscription.max_profiles_string}}</b> allowed profiles
                                        </td>
                                    </tr>
                                    {%empty%}
                                    <tr>
                                        <td colspan="3" class="center">
                                            No sites yet, please add one above.
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col card card-white p-2">
                    <div class="card-header">
                        <i class="fa-solid fa-users"></i> <span class="name_display_{{site.pk}}">{{company.name}}</span> <b>Profiles</b>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="center">
                                        User
                                    </th>
                                    <th class="center">
                                        Colour
                                    </th>
                                    <th class="center">
                                        Primary Site
                                    </th>
                                    <th class="center">
                                        Role
                                    </th>
                                    <th class="center">
                                        Campaign Category
                                    </th>
                                    <th class="center">
                                        Permissions
                                    </th>
                                    <th class="center">
                                        Configuration
                                    </th>
                                    <th class="center">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for temp_user in company.users%}
                                {%with temp_user.profile as profile%}
                                <tr id="user_configuration_row_{{profile.pk}}">
                                    {%include 'core/htmx/company_configuration_row.html'%}
                                </tr>
                                {%endwith%}
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
<span>
    
