{%load static%}
<ul class="navbar-nav mb-lg-0 pe-2 border-end" style="height:54px" >
    {%if request.user.is_authenticated%} 
    <li class="nav-item dropstart p-1">
        <a class="nav-link text-white p-0 pointer top-nav-link"
            hx-indicator="#page_load_indicator" data-active-selector="#configuration-top-nav-dropdown-toggle" 
            hx-get="{%url 'company-configuration'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">
            <div class="row m-0" style="overflow:hidden">
                <div class="col-auto p-0 m-1">
                    <img src="{%if user.profile.company.company_logo_white%}/media/{{user.profile.company.company_logo_white}}{%else%}{% static 'img/blank-profile-picture.png' %}{%endif%}" alt="" 
                        style="width:32px; height:32px;" class="rounded-circle">
                </div>
                <div class="col-sm p-0 ms-1 nowrap elipses-overflow" style="">
                    <strong style="font-size:14px; margin:0px; margin-top:-3px">{{user.profile.company}}</strong>
                    <hr style="margin:0px; margin-bottom:-3px">
                </div>
                <input hidden id="user_id" value="{{user.pk}}"/>
            </div>
        </a>
    </li>
    {%endif%}
</ul>