{%load core_tags%}
{%load static tz core_tags%}
{%with request.user.profile.company as company%}
<span id="content">
<div class="fixed_top_buttons">
    {%block extra_top_left_buttons %}
    <div class="col-md-auto me-2">
        <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>             
    </div>
    {%endblock extra_top_left_buttons %}


    <div class="col">                
    </div>    
    <div class="col-md-auto">
        <span class="badge bg-dark text-white"><h6 class="m-1">Company Configuration</h6></span>      
    </div>
</div>

<main class="row overflow-auto below_fixed_top_buttons" style="min-height:90vh">
    <div class="row p-0">
        <div class="col p-0 m-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Role
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for user in company.users%}
                    <tr>
                        <td>
                            {{user.profile.name}}
                        </td>
                        <td>
                            <select class="form-select" name="role" id="user_role_{{user.pk}}" onchange="">  
                                {%for role_choice in role_choices%}
                                    <option {%if user.role == role_choice.0%}selected{%endif%} value="{{role_choice.0}}">{{role_choice.1}}</option>
                                {%endfor%}
                            </select>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</main>

</span>
{%endwith%}