{%load static%}
<span class="pointer" id="company_nav_section_site" hx-indicator="#page_load_indicator" data-active-selector="#configuration-top-nav-dropdown-toggle"
    hx-get="{%url 'site-configuration'%}?integration_settings=True" hx-target="#content" hx-push-url="true" hx-swap="innerHTML" {% if swap_nav_company %}hx-swap-oob='outerHTML:#company_nav_section_site'{%endif%}>
    <span style="font-size:12px; line-height: 0.75em; ">{%if user.profile.site.name%}{{user.profile.site.name}} ({{user.profile.site.subscription.get_name_display}}){%endif%}
    {%with request.user.profile.site as site%}
    {%include 'core/htmx/site_warning_section.html'%}
    {%endwith%}
</span>