<div class="dropdown" id="profile-dropdown">
    {% comment %} <button class="btn btn-secondary" type="button"
    hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" hx-include="#switch_user"
    hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
    hx-swap="innerHTML" hx-trigger="click"> {% endcomment %}
        <span style="font-size:12px">Logged in as {{user.profile}} </b> 
        <img src="/media/{{user.profile.avatar}}" width="60" height="60" class="rounded-circle"
        style="{%if user.profile.demo_account_theme_colour%}background-color:rgba({{user.profile.demo_account_theme_colour}}, 0.6){%endif%}">
    </button>
    {% comment %} <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <a class="dropdown-item"
                hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" hx-include="#switch_user"
                hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
                hx-swap="innerHTML" hx-trigger="click">
                Switch User
            </a>
        </li>
    </ul> {% endcomment %}
</div>