{%load static%}
<ul class="navbar-nav mb-lg-0" >
    {%if request.user.is_authenticated%} 
    <li class="nav-item dropstart p-2">
        <a class="nav-link text-white p-0 pointer" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="row m-0">
                {%if user.profile.demo_account_theme_colour%}
                <div class="col-auto p-0 rounded-circle m-1" style="width:32px; height:32px;background-color:rgba({{user.profile.demo_account_theme_colour}}, 0.7)">
                    <img src="/media/{{user.profile.avatar}}" 
                    alt="" 
                    style="padding:6px; filter: invert(100%);" 
                    class="">
                </div>
                {%else%}
                <div class="col-auto p-0 m-1">
                    <img src="{%if user.profile.avatar%}/media/{{user.profile.avatar}}{%else%}{% static 'img/blank-profile-picture.png' %}{%endif%}" alt="" 
                        style="width:32px; height:32px;" class="rounded-circle">
                </div>
                {%endif%}
                <div class="col p-0 m-1 nowrap">
                    <strong style="font-size:1.5vh">{{user.profile}}</strong>
                    <input hidden id="user_id" value="{{user.pk}}"/>
                </div>
            </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item pointer"
                hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"
                hx-vals='{"template_name": "edit_user", "user_pk":"{{request.user.pk}}"}'
                hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
                hx-swap="innerHTML" hx-trigger="click">Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/accounts/logout/">Sign out</a></li>
        </ul>
    </li>
    {%else%}
    <li class="nav-item ">
        <a class="pointer btn btn-light ms-3"
            hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" hx-vals='{"template_name": "login"}'
            hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
            hx-swap="innerHTML" hx-trigger="click">
            Login
        </a>
    </li>
    {%endif%}
</ul>