{%load core_tags%}
{%load static tz core_tags%}
{%load user_permission_tags%}
<table id="overview_table" class="table"> 
    <thead> 
        <tr>
            <th>
                Phone Number ID
            </th>
            <th>
                Business Account
            </th>
            <th>
                Alias <small>(max 25 chars)</small>
            </th>
            <th>
                Number
            </th>
            <th>
                Site
            </th>
            <th>
                Company
            </th>
            <th>
                Name on Whatsapp
            </th>
            <th>
                Quality Rating
            </th>
            <th>
                Verified?
            </th>
        </tr>
    </thead>
    <tbody> 
        {%for number in whatsapp_numbers%}
        <tr id="whatsappnumber_row_{{number.pk}}">
            <td>
                {{number.whatsapp_business_phone_number_id}}
            </td>
            <td>
                {{number.whatsapp_business_account.whatsapp_business_account_id}}
            </td>
            <td >
                <div class="row">
                    <div class="col p-0"
                        {%if not request.user.profile|get_user_allowed_to_edit_site_configuration_tag:site%}
                            data-bs-toggle="popover" 
                            data-bs-trigger="hover focus" 
                            data-bs-html="true" 
                            data-bs-placement="top"
                            data-bs-title="Change Whatsapp Alias"
                            data-bs-content="
                                You do not have permission to edit this field: Edit Site Configuration
                            "
                        {%endif%}>
                        <input maxlength="25" class="form-control form-control-sm" value="{%if number.alias%}{{number.alias}}{%endif%}" name="alias" id="alias_change_{{number.pk}}" hx-post="{% url 'whatsapp-change-number-alias' %}" hx-swap="none" {%if not request.user.profile.role == 'a'%}disabled{%endif%} 
                            hx-include="#alias_change_{{number.pk}}" hx-indicator="#htmx_indicator_alias_{{number.pk}}"  hx-trigger="input delay:0.5s"
                            hx-vals='{"whatsappnumber_pk": "{{number.pk}}"}' oninput="$('#htmx_indicator_alias_{{number.pk}}').addClass('htmx-request');"      
                            {%if not request.user.profile|get_user_allowed_to_edit_whatsapp_settings_tag:site%}disabled{%endif%}
                            />
                    </div>
                    <div class="col-md-auto pe-0">
                        <img  class="htmx-indicator invert" id="htmx_indicator_alias_{{number.pk}}" src="https://htmx.org/img/bars.svg"/>
                    </div>
                </div>
            </td>
            <td>
                {{number.number}}
            </td>
            <td>
                <b class="name_display_{{site.pk}}">
                {{number.site.name}}
                </b>
            </td>
            <td>
                {{number.company.name}}
            </td>
            <td>
                {{number.verified_name}}
            </td>
            <td>
                {{number.quality_rating}}
            </td>
            <td>
                {{number.code_verification_status}}
            </td>
            {% comment %} <td>
                <input type="checkbox" class="form-check-input" name="default_number" {%if site.default_number == number %}checked{%endif%} {%if site.default_number == number or not request.user.profile.role == 'a'%}disabled{%endif%}
                    hx-post="{% url 'whatsapp-number-make-default' %}" hx-swap="innerHTML" 
                    hx-include="this" hx-indicator="#htmx_indicator_default_number_{{number.pk}}" 
                    hx-vals='{"whatsappnumber_pk": "{{number.pk}}"}' hx-target="#overview_table">
                <img  class="htmx-indicator invert" id="htmx_indicator_default_number_{{number.pk}}" src="https://htmx.org/img/bars.svg"/>
            </td> {% endcomment %}
        </tr>
        {%endfor%}
    </tbody>
</table>