
{%load core_tags%}
<div class="col-md-auto ps-1 pe-1">
    <div id="site_list_wrapper">  
        <label for="site_pk" style="width:300px">
          Select <b>Site</b><br>
          <select class="form-select select2 select2-styling overview_table_filters non_site_dependant_overview_table_filters non_site_dependant_analytics_filters" name="site_pk" id="site_pk" onchange="$('#change_site').click();">
              {% comment %} {%if not hide_show_all%}<option value="all">Show All Sites</option>{%endif%} {% endcomment %}
              {%for site in request.user.profile.active_sites_allowed%}
              <option {%if site.pk == request|get_key_in_get_or_post:'site_pk'|to_int %}selected{%endif%} value="{{site.pk}}">{{site.name}} ({{site.subscription.get_name_display}})</option>
              {%endfor%}
          </select>
        </label>
    </div>
</div>