
{%load core_tags%}
<div class="col-md-auto">
    <span id="site_list_span">  
        <select class="form-select overview_table_filters non_site_dependant_overview_table_filters" name="site_pk" id="site_pk" onchange="$('#change_site').click();">
            {%if not hide_show_all%}<option value="all">Show All Sites</option>{%endif%}
            {%for site in site_list%}
            <option {%if site.pk == request.GET.site_pk|str_to_int %}selected{%endif%} value="{{site.pk}}">{{site.name}}</option>
            {%endfor%}
        </select>
    </span>
</div>