{%load core_tags%}
{%load static tz core_tags%}

<span id="content">
    <div class="row mt-2">
        <div class="col">
        </div>
        <div class="col-md-auto card p-2">
            <div class="m-3">
                <label for="site_name" class="form-label">Name</label>
                <input value="{{site.name}}" type="text" name="name" class="form-control site_configuration_input" id="site_name" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">The name of this site.</div>
            </div>
            <div class="m-3 form-check">
                <input type="checkbox" onClick="this.checked=!this.checked" class="form-check-input" id="calendly_configured" {%if site.calendly_token and site.calendly_organization %}checked{%endif%}>
                <label class="form-check-label" for="exampleCheck1">Calendly Enabled? <small><i>(configured by Winser Systems)</i></small></label>
            </div>

            <div class="m-3">
                <table id="overview_table" class="table"> 
                    <thead> 
                        <tr>
                            <th>
                                Whatsapp ID
                            </th>
                            <th>
                                Alias
                            </th>
                            <th>
                                Number
                            </th>
                            <th>
                                Site
                            </th>
                            <th>
                                Company
                            </th>
                            <th>
                                Name on Whatsapp
                            </th>
                            <th>
                                Quality Rating
                            </th>
                            <th>
                                Verification Status
                            </th>
                            <th>
                                
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            {%for number in whatsapp_numbers%}
                            <td>
                                {{number.whatsapp_business_phone_number_id}}
                            </td>
                            <td class="row">
                                <div class="col p-0">
                                    <input class="form-control form-control-sm" value="{%if number.alias%}{{number.alias}}{%endif%}" name="alias" id="alias_change_{{number.pk}}" oninput="$('#change_alias_{{number.pk}}').click();"/>
                                </div>
                                <div class="col-md-auto pe-0">
                                    <img  class="htmx-indicator" id="htmx-indicator_alias_{{number.pk}}" src="https://htmx.org/img/bars.svg"/>
                                </div>
                                <button hidden hx-post="{% url 'whatsapp-change-number-alias' %}" hx-swap="none" 
                                    hx-include="#alias_change_{{number.pk}}" hx-indicator="#htmx-indicator_alias_{{number.pk}}" 
                                    hx-vals='{"whatsappnumber_pk": "{{number.pk}}"}' id="change_alias_{{number.pk}}" 
                                    class="btn btn-primary btn-sm">assign</button>
                            </td>
                            <td>
                                {{number.number}}
                            </td>
                            <td>
                                {{number.site.name}}
                            </td>
                            <td>
                                {{number.company.company_name}}
                            </td>
                            <td>
                                {{number.verified_name}}
                            </td>
                            <td>
                                {{number.quality_rating}}
                            </td>
                            <td>
                                {{number.code_verification_status}}
                            </td>
                            <td>        
                                {%with site.company_sites_with_same_whatsapp_business_details as company_sites_with_same_whatsapp_business_details%}                        
                                <span
                                    data-bs-toggle="popover" 
                                    data-bs-trigger="hover" 
                                    data-bs-html="true" 
                                    data-bs-placement="top"
                                    data-bs-title="What does this do?"
                                    data-bs-content="
                                    <p>
                                        This button allows you to transfer this number to another site under the same company, as long as they share the same whatsapp business account.
                                    </p>
                                    {%if not company_sites_with_same_whatsapp_business_details%}
                                        <p>
                                            This button is disabled because you do not have another site linked to your whatsapp business account.
                                        </p>
                                    {%endif%}
                                    ">
                                    <button class="btn btn-primary btn-sm m-1" 
                                        {%if not company_sites_with_same_whatsapp_business_details%}disabled{%endif%}
                                        hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body" 
                                        hx-vals='{"template_name": "transfer_number", "whatsapp_template_pk": "{{template.pk}}"}'
                                        hx-get="{% url 'campaign-lead-get-modal-content' %}" 
                                        hx-push-url="false"
                                        hx-swap="innerHTML" hx-trigger="click" id="transfer_number_{{template.pk}}"> 
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Transfer
                                    </button>
                                </span>
                                {%endwith%}
                            </td>
                            {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="m-3">
                <button class="btn btn-success" 
                hx-confirm="Are you sure you want to make these changes to this site?"
                hx-post="" hx-vals='{"site_pk":"{{site.pk}}"}' 
                hx-include=".site_configuration_input" hx-vals='{"site_pk":"{{site.pk}}"}' 
                hx-indicator=".top-htmx-indicator" hx-target="#content"
                hx-swap="outerHTML">Save Changes</button>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</span>
