{%load core_tags%}
{%load static tz core_tags%}
<span>    
    <script>
        $(document).ready(function() {  
            console.log("$(document).ready")
            $("[data-bs-toggle=popover]").popover();
            {% comment %} renderTemplate() {% endcomment %}
        });
    </script>
    <div class="row mt-0">
        {%block extra_top_left_buttons %}
        {% comment %} <div class="col-md-auto">
            <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>
        </div> {% endcomment %}
        {%with True as hide_show_all%}
        {%include 'core/htmx/site_selection.html'%}
        {%endwith%}
        <button hidden hx-get="" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
        {%endblock extra_top_left_buttons %}
        <div class="col">
        </div>
        {%block extra_top_right_buttons %}
        <div class="col-md-auto">
            <span class="badge bg-dark text-white"><h6 class="m-1">Site Configuration</h6><input id="current_page" hidden value="site_configuration"></input></span>           
        </div>
        {%endblock extra_top_right_buttons %}
    </div>
    <div class="row mt-2">
        <div class="col">
        </div>
        <div class="col-md-auto card p-2"> 
            <div class="row m-2">
                <div class="col-md p-0">   
                    <div class="row ">
                        <div class="col-md-auto p-0">      
                            <form class="form-floating m-1">  
                                <input value="{{site.name}}" type="text" name="name" class="form-control site_configuration_input" id="site_name"  {%if not request.user.profile.role == 'a'%}disabled{%endif%}
                                    hx-post="" hx-swap="none" hx-indicator="#htmx_indicator_site_form" hx-vals='{"site_pk": "{{site.pk}}"}' hx-trigger='input delay:0.5s' oninput="$('#htmx_indicator_site_form').addClass('htmx-request');">
                                <label for="site_name">Name of this site</label>
                            </form>
                        </div>
                        <div class="col-md-auto p-0">        
                            <form class="form-floating m-1">
                                <input value="{{site.guid}}" id="guid" type="text" disabled class="form-control">
                                <label for="guid">Site Unique ID</label>
                            </form>
                        </div>
                        <div class="col-md-auto pe-0">
                            <img  class="htmx-indicator invert" id="htmx_indicator_site_form" src="https://htmx.org/img/bars.svg"/>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="m-3 form-check">
                <input type="checkbox" onClick="this.checked=!this.checked" class="form-check-input" id="calendly_configured" {%if site.calendly_token and site.calendly_organization %}checked{%endif%}>
                <label class="form-check-label" for="exampleCheck1">Calendly Enabled? <small><i>(configured by Winser Systems)</i></small></label>
            </div> {% endcomment %}
            <div class="card m-2">
                <div class="card-header bg-success-trans-20">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> <b class="name_display_{{site.pk}}">{{site.name}}</b> Whatsapp Settings
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-auto">
                            <div class="row">
                                <div class="col-md-auto p-0" id="whatsapp_template_sending_wrapper">   
                                    {%include 'core/htmx/whatsapp_template_sending_enabled_htmx.html'%}
                                </div>
                                <div class="col-md p-0">   
                                </div>
                                <div class="col-md-auto p-0">   
                                </div>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                        <div class="col-md-auto">
                            <a href="#" class="nowrap btn btn-success btn-sm" type="button" 
                                hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"
                                hx-vals='{"template_name": "add_whatsapp_business_account", "site_pk": "{{site.pk}}"}'
                                hx-get="{% url 'whatsapp-get-modal-content' %}" hx-push-url="false"
                                
                                data-bs-toggle="popover" 
                                data-bs-trigger="hover" 
                                data-bs-html="true" 
                                data-bs-placement="top"
                                data-bs-title="Errors"
                                data-bs-content="
                                You may need to contact Winser Systems about this function
                                "
                                hx-swap="innerHTML" hx-trigger="click"><i class="fa-light fa-plus"></i> Add Phone Number to {{site.name}}</a>
                        </div>
                    </div>
                    <div class="m-3">
                        {%include 'core/htmx/site_configuration_table_htmx.html'%}
                    </div>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-header bg-primary-trans-20">
                    <i class="fa-regular fa-calendar-days"></i> <b class="name_display_{{site.pk}}">{{site.name}}</b> Calendly Settings
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-auto p-0">        
                            <form class="form-floating m-1">
                                <input value="{{site.calendly_organization}}" id="calendly_organization" type="text" class="form-control" name="calendly_organization" {%if not request.user.profile.role == 'a'%}disabled{%endif%}
                                    hx-post="" hx-swap="none" hx-indicator="#htmx_indicator_site_form" hx-vals='{"site_pk": "{{site.pk}}"}' hx-trigger='input'>
                                <label for="calendly_organization">Site Calendly Organtisation</label>
                            </form>
                        </div>
                        <div class="col-md p-0">   
                        </div>
                        <div class="col-md-auto p-0">   
                            <div class="row">
                                <div class="col-md-auto p-0">        
                                    Calendly Webhook for <span class="name_display_{{site.pk}}">{{site.name}}</span>: 
                                    {%include 'core/htmx/calendly_webhook_status_wrapper.html'%}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-header bg-warning-trans-20">
                    <i class="fa-light fa-dumbbell"></i> <b class="name_display_{{site.pk}}">{{site.name}}</b> Active Campaign Settings
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-auto">
                            <div class="row">
                                <div class="col-md-auto p-0" id="active_campaign_leads_wrapper">   
                                    {%include 'core/htmx/active_campaign_enabled_htmx.html'%}
                                </div>
                                <div class="col-md p-0">   
                                </div>
                                <div class="col-md-auto p-0">   
                                </div>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                        <div class="col-md-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</span>
