{%load static tz core_tags user_permission_tags%}
<span>    
    <script>
        $(document).ready(function() {
            document.title = "Site Configuration";
        });
    </script>
    {%if site%}
    <div class="row mt-0">
        {%block extra_top_left_buttons %}
        {%with True as hide_show_all%}
        {%include 'core/htmx/site_selection_single.html'%}
        {%endwith%}
        <button hidden hx-get="{%url 'stripe-subscription-summary'%}" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
        {%endblock extra_top_left_buttons %}
        <div class="col">
        </div>
        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="site_configuration"></input>
        <div class="col-md-auto p-0 m-1">
            <span class="badge bg-dark text-white"><h6 class="m-1">Stripe Summary</h6></span>           
        </div>
        {%endblock extra_top_right_buttons %}
    </div>
    <div class="row mt-2">
        {% comment %} <div class="col p-2"> 
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Reference
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Next Payment
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for stripe_subscription in site.get_stripe_subscriptions_and_update_models%}
                    <tr>
                        <td>
                            {{stripe_subscription.id}}
                        </td>
                        <td>
                            {{stripe_subscription.status}}
                        </td>
                        <td>
                            {{stripe_subscription.current_period_end|from_timestamp}}
                        </td>
                        <td>
                            {{stripe_subscription.plan.amount|division:100|floatformat:2}} {{stripe_subscription.currency}}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div> {% endcomment %}
        <div class="col p-2"> 
            <div class="card card-white">
                <div class="card-header">
                    Payment Methods on Stripe
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        These payment methods are not stored in any way on Winser Systems Leads Management, they are kept with Stripe.
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Card ending
                                </th>
                                <th>
                                    Name on card
                                </th>
                                <th>
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center" colspan="4">
                                    <button class="btn btn-xs btn-success" type="button"
                                        {%if not request.user.profile|get_profile_allowed_to_change_subscription_tag:site%}
                                            disabled
                                        {%endif%}
                                        hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"
                                        hx-vals='{"template_name": "add_stripe_payment_method", "site_pk": "{{site.pk}}"}'
                                        hx-get="{% url 'get-modal-content' %}" hx-push-url="false"
                                        hx-swap="innerHTML" hx-trigger="click">
                                        <i class="fa-regular fa-plus"></i> Add
                                    </button>               
                                </td>
                            </tr>
                            {%for stripe_payment_method in site.stripe_payment_methods%}
                            <tr>
                                <td>
                                    {{stripe_payment_method.type}}
                                </td>
                                <td>
                                    **** {{stripe_payment_method.card.last4}}
                                </td>
                                <td>
                                    {{stripe_payment_method.billing_details.name}}
                                </td> 
                                <td>
                                    <button class="btn btn-xs btn-dark">
                                        <i class="fa-regular fa-trash"></i> Delete
                                    </button>
                                </td> 
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        <div class="col p-2"> 
            <div class="card card-white">
                <div class="card-header">
                    Your Subscriptions
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Subscription
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Next Payment
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for stripe_subscription in site.get_stripe_subscriptions_and_update_models%}
                            {%with stripe_subscription.plan.id|get_subscription_by_stripe_price_id as subscription_object%}
                            <tr>
                                <td>
                                    {{subscription_object.get_name_display}}
                                </td>
                                <td>
                                    {{stripe_subscription.status}}
                                </td>
                                <td>
                                    {{stripe_subscription.current_period_end|from_timestamp|nice_date_tag}}
                                </td>
                                <td>
                                    {{stripe_subscription.plan.amount|division:100|floatformat:2}} {{stripe_subscription.currency}}
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-primary">
                                        <i class="fa-regular fa-pencil"></i> Modify
                                    </button>
                                </td>
                            </tr>
                            {%endwith%}
                            {%endfor%}
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
    {%else%}
    Something went wrong, please let us know if this problem persists: <a href="mailto:jobie@winser.uk">jobie@winser.uk</a>
    {%endif%}
</span>
