{%load static tz core_tags user_permission_tags%}
<span>    
    <script>
        $(document).ready(function() {
            document.title = "Site Configuration";
        });
    </script>
    {%if site%}
    <div class="row mt-0">
        {%block extra_top_left_buttons %}
        {%with True as hide_show_all%}
        {%include 'core/htmx/site_selection_single.html'%}
        {%endwith%}
        <button hidden hx-get="{%url 'payments-and-billing'%}" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator="#page_load_indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
        {%endblock extra_top_left_buttons %}
        <div class="col">
        </div>
        {%block extra_top_right_buttons %}
        <input id="current_page" hidden value="payments_and_billing"></input>
        <div class="col-md-auto p-0 m-1">
            <span class="badge bg-dark text-white"><h6 class="m-1">Payments and Billing</h6></span>           
        </div>
        {%endblock extra_top_right_buttons %}
    </div>
    <div class="row mt-2">
        {% comment %} <div class="col p-2"> 
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Reference
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Next Payment
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for stripe_subscription in site.get_stripe_subscriptions_and_update_models%}
                    <tr>
                        <td>
                            {{stripe_subscription.id}}
                        </td>
                        <td>
                            {{stripe_subscription.status}}
                        </td>
                        <td>
                            {{stripe_subscription.current_period_end|from_timestamp}}
                        </td>
                        <td>
                            {{stripe_subscription.plan.amount|division:100|floatformat:2}} {{stripe_subscription.currency}}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div> {% endcomment %}
        <div class="col p-2"> 
            <img id="payment_methods_htmx_indicator" class="htmx-indicator" src="/static/img/bars.svg"/>
            <span id="payment_methods_wrapper">
                {%include 'core/htmx/payment_methods.html'%}
            </span>
        </div>
        <div class="col p-2"> 
            <img id="subscriptions_htmx_indicator" class="htmx-indicator" src="/img/bars.svg"/>
            <div class="card card-white">
                <div class="card-header">
                    Your Subscriptions for {{site.name}}
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                {%if debug%}
                                <th>
                                    DEV id
                                </th>
                                {%endif%}
                                <th>
                                    Subscription
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Subscribed Until
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for stripe_subscription in site.get_stripe_subscriptions_and_update_models%}
                            {%with stripe_subscription.plan.id|get_subscription_by_stripe_price_id as subscription_object%}
                            <tr>
                                {%if debug%}
                                <td>
                                    {{stripe_subscription.id}}
                                    {% comment %} {{stripe_subscription}} {% endcomment %}
                                </td>
                                {%endif%}
                                <td>
                                    {{subscription_object.get_name_display}}
                                </td>
                                <td>
                                    {{stripe_subscription.status}}
                                </td>
                                <td>
                                    {{stripe_subscription.current_period_end|from_timestamp|nice_date_tag}} {%if not stripe_subscription.cancel_at_period_end == True%}(renewing monthly){%endif%}
                                </td>
                                <td>
                                    {{stripe_subscription.plan.amount|division:100|floatformat:2}} {{stripe_subscription.currency}}
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-primary top-nav-link" hx-indicator="#page_load_indicator" data-active-selector="#configuration-top-nav-dropdown-toggle"
                                        hx-get="{%url 'site-configuration'%}" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">
                                        <i class="fa-regular fa-pencil"></i> Modify
                                    </button>
                                </td>
                            </tr>
                            {%endwith%}
                            {%endfor%}
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
    {%else%}
    Something went wrong, please let us know if this problem persists: <a href="mailto:jobie@winser.uk">jobie@winser.uk</a>
    {%endif%}
</span>
