{%load core_tags%}
{%load user_permission_tags%}

<span class="whatsapp_company_config_wrapper" {% if hx_swap_oob %}hx-swap-oob='outerHTML:.whatsapp_company_config_wrapper'{%endif%}>
    <div class="row" style="margin-left:0px !important;">
        {%with company|get_allowed_site_chats_for_company_tag as pro_sites%}
        {%if pro_sites%}
            <div class="col-md-auto p-2 card center"  style="max-width:400px">        
                <b>Whatsapp Business Management API configuration</b>
                <p>
                    All sites should use the same <a target="_blank" href="https://business.facebook.com/settings/system-users/">System User</a>.
                </p>
                <p>
                    <i>Note: Your configuration may be recognised as valid even if the secret key is incorrect. The secret key is needed for receiving messages.</i>
                </p>
                <div class="row mt-3" style="margin-left:0px !important;">
                    <div class="col center">      
                                        
                        {%if request.user.profile|get_profile_allowed_to_edit_whatsapp_settings_tag:company%}    
                        <form class="" hx-post="{%url 'set-whatsapp-company-config'%}" hx-target=".whatsapp_company_config_wrapper" 
                            hx-confirm="Are you sure you want to make this change. It may prevent you receiving and sending whatsapp messages if set up incorrectly!"
                            hx-swap="none" hx-trigger="submit delay:0.3s" hx-indicator="#page_load_indicator" hx-vals='{"company_pk": "{{company.pk}}"}' autocomplete="off" autofill="off">  
                            <div class="form-floating mt-1" 
                                                            data-bs-html="true" 
                                                            data-bs-toggle="popover" data-bs-placement="left" 
                                                            data-bs-trigger="hover focus"
                                                            title="Whatsapp Access Token"
                                                            data-bs-content="(Info coming soon) This is the token found for a system user at https://business.facebook.com/settings/system-users/ (This may change)"
                                                            >
                                <input name="whatsapp_access_token" type="password" class="form-control" oninput="$('.whatsapp_config_submit').attr('disabled', false)" onfocus="this.value=''; this.removeAttribute('onfocus');"
                                value="{{company.whatsapp_access_token|censor}}" />
                                <label class="elipses-overflow">Whatsapp Access Token</label>
                            </div>

                            <div class="form-floating mt-1" 
                                data-bs-html="true" 
                                data-bs-toggle="popover" data-bs-placement="left" 
                                data-bs-trigger="hover focus"
                                title="Whatsapp Access Token"
                                data-bs-content="(Info coming soon) This is the token found for a system user at https://business.facebook.com/settings/system-users/ (This may change)"
                                >

                                <input name="whatsapp_app_business_id" type="password" class="form-control" oninput="$('.whatsapp_config_submit').attr('disabled', false)" onfocus="this.value=''; this.removeAttribute('onfocus');"
                                value="{{company.whatsapp_app_business_id|censor}}" />
                                <label class="elipses-overflow">Whatsapp Business ID</label>
                            </div>
                            <div class="form-floating mt-1" 
                                data-bs-html="true" 
                                data-bs-toggle="popover" data-bs-placement="left" 
                                data-bs-trigger="hover focus"
                                title="Whatsapp Access Token"
                                data-bs-content="(Info coming soon) This is the token found for a system user at https://business.facebook.com/settings/system-users/ (This may change)"
                                >

                                <input name="whatsapp_app_secret_key" type="password" class="form-control" oninput="$('.whatsapp_config_submit').attr('disabled', false)" onfocus="this.value=''; this.removeAttribute('onfocus');"
                                value="{{company.whatsapp_app_secret_key|censor}}"/>
                                <label class="elipses-overflow">Whatsapp Secret Key</label>
                            </div>
                            <br>
                            <button class="btn btn-primary btn-sm m-3 whatsapp_config_submit" disabled>Submit</button>
                        </form> 
                        {%else%} 
                        You do not have the permission to edit this
                        {%endif%} 
                    </div>
                </div>
            </div>
            <div class="col-md-auto p-2 center"  style="width:250px"> 
                <div>
                    {%if whatsapp_business_details.id%}
                    <span class="badge bg-success help"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover focus" 
                        data-bs-html="true" 
                        data-bs-placement="top"
                        data-bs-title="Valid Config"
                        data-bs-content="We've detected that your whatsapp config is valid">
                        <i class="fa-solid fa-circle-info"></i> {%if demo%}Demo Config{%else%}Valid Config <i class="fa-duotone fa-check"></i>{%endif%}
                    </span>
                    {%else%}
                    <span class="badge bg-danger help"
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover focus" 
                        data-bs-html="true" 
                        data-bs-placement="top"
                        data-bs-title="Invalid Config"
                        data-bs-content="We've detected that your whatsapp config is invalid">
                        <i class="fa-solid fa-circle-info"></i> {%if demo%}Demo Config{%else%}Invalid Config <i class="fa-solid fa-times"></i>{%endif%}
                    </span>
                    {%endif%}
                </div>   
                <div class="form-floating m-1">
                    <input value='{%if whatsapp_business_details.id%}{{whatsapp_business_details.id}}{%else%}N/A{%endif%}' disabled class="form-control">
                    <label class="elipses-overflow" for="guid">Whatsapp Business ID</label>
                </div>
                <div class="form-floating m-1">
                    <input value='{%if whatsapp_business_details.name%}{{whatsapp_business_details.name}}{%else%}N/A{%endif%}' disabled class="form-control">
                    <label class="elipses-overflow" for="guid">Business Name</label>
                </div> 
            </div>
            <div class="col">
            </div>
        {%else%}
            <small>
                <p>With a <i class="fa-solid fa-rectangle-pro"></i> subscription, you can automate further by automatically sending <i class="fa fa-whatsapp text-success" aria-hidden="true"></i> Whatsapp templates to your customers immediately after they fill in your Active Campaign Forms.</p>
                <p>You can also manage multiple whatsapp phone numbers from one screen, here on Winser Systems.</p>
            </small>
        {%endif%}
        {%endwith%}
    </div>
</span>