{%load user_permission_tags%}

<div class="row" style="margin-left:0px !important;">
    <div class="col-md-auto mt-0" 
        data-bs-toggle="popover" 
        data-bs-trigger="hover focus" 
        data-bs-placement="top"
        data-bs-html="true"
        data-bs-title="Template Whatsapp sending"
        {%if not request.user.profile|get_profile_allowed_to_toggle_whatsapp_sending_tag:site%}
        data-bs-content="You do not have permission to edit this field: Edit Whatsapp Settings"
        {%else%} 
        data-bs-content="Disabling this toggle will stop template whatsapps sending, including follow up messages, initial lead messages. The messages can then be sent after turning this back on freely.
        <br>
        <b>Example Usage:</b>
        <br>
        You've noticed a typo in a whatsapp template, toggle this switch to disabled, make your template changes, then retoggle this switch to enabled and send any whatsapp messages that weren't sent during the downtime.
        "
        {%endif%} >
        <div class="form-check form-switch">
            <label> Template Whatsapp sending <i class="fa-solid fa-circle-info help"></i></label> 
            <input hx-post="{%url 'set-whatsapp-template-sending-status'%}" hx-target="#whatsapp_template_sending_wrapper" hx-swap="innerHTML" hx-trigger="input delay:0.1s" hx-indicator="#htmx_indicator_site_form" hx-vals='{"site_pk": "{{site.pk}}"}'
            {%if not request.user.profile|get_profile_allowed_to_toggle_whatsapp_sending_tag:site%}disabled{%endif%} 
            class="form-check-input" name="whatsapp_template_sending_enabled" {%if site.whatsapp_template_sending_enabled%}checked{%endif%} type="checkbox">
        </div>
    </div>

    <div class="col-md-auto p-0 ms-2">
        {%if not request.user.profile|get_profile_allowed_to_edit_whatsapp_settings_tag:site%}
        <span
            data-bs-toggle="popover" 
            data-bs-trigger="hover focus" 
            data-bs-html="true" 
            data-bs-placement="top"
            data-bs-title="Add Phone Number"
            data-bs-content="
                You do not have permission to edit this field: Edit Whatsapp Settings
            ">
            <button class="nowrap btn btn-success btn-sm" type="button" 
                disabled
                hx-swap="innerHTML" hx-trigger="click"><i class="fa-light fa-plus"></i> Add Phone Number to {{site.name}}</button>
        </span>
        {%else%}
            <a class="nowrap btn btn-success btn-sm" type="button" 
                hx-indicator=".top-htmx-indicator" hx-target="#generic_modal_body"
                hx-vals='{"template_name": "add_whatsapp_business_account", "site_pk": "{{site.pk}}"}'
                hx-get="{% url 'whatsapp-get-modal-content' %}" hx-push-url="false"
                data-bs-content="
                    You may need to contact Winser Systems about this function if you are not tech savvy!
                "                
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus" 
                data-bs-html="true" 
                data-bs-placement="top"
                data-bs-title="Add Phone Number"
                hx-swap="innerHTML" hx-trigger="click"><i class="fa-light fa-plus"></i> Add Phone Number to {{site.name}}</a>
        {%endif%}
    </div>

    <div class="col">
    </div>
</div>


{%if site_warning_section_swap%}
{%include 'core/htmx/site_warning_section.html'%}
{%endif%}