<span>    
    <script>
        document.title = "Campaign Configuration";
        $(document).ready(function() {  
            initCampaignConfigurationDataTable();
        });        
    </script>
    
    <div class="row mt-2">
        <div class="col m-3 alert alert-info">
            <p>From this page you can assign all of your campaigns to the various sites you may have attached to your company.</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <table id="overview_table" class="table"> 
                <thead> 
                    <tr>
                        <th style="max-width:175px">
                            Name
                        </th>
                        <th>
                            Site
                        </th>
                        <th>
                            Value (£)
                        </th>
                        <th>
                            Color
                        </th>
                        <th>
                            Campaign Category
                        </th>
                        <th>
                            Sending Whatsapp Number <i class="fa-solid fa-rectangle-pro"></i>
                        </th>
                        <th>
                            Auto-Templates <i class="fa-solid fa-rectangle-pro"></i>
                        </th>
                        {% comment %} <th>
                            1st Auto-Send Template
                        </th>
                        <th>
                            2nd Auto-Send Template
                        </th>
                        <th>
                            3rd Auto-Send Template
                        </th>
                        <th>
                            4th Auto-Send Template
                        </th>
                        <th>
                            5th Auto-Send Template
                        </th> {% endcomment %}
                    </tr>
                </thead>
                <tbody> 
                    {%for campaign in campaigns%}
                    <tr id="row_{{campaign.pk}}">
                        {%include 'campaign_leads/campaign_configuration/campaign_configuration_row.html'%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</span>
{%if request.META.HTTP_HX_REQUEST%}{%include 'campaign_leads/campaign_configuration/campaign_configuration_under_nav.html'%}{%endif%}