{%load static tz core_tags%}
<td>
    <div class="row">
        <div class="col p-0">
            {{campaign}}
        </div>
        <div class="col-md-auto p-0">
            {%if campaign.warnings %}
                <span class="help"
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus" 
                data-bs-html="true" 
                data-bs-placement="top"
                data-bs-title="Warnings"
                data-bs-content="
                <ul>
                    {%for k,v in campaign.warnings.items%}
                    <li>{{v}}</li>
                    {%endfor%}
                </ul>
                ">
                    <i class="fa-solid fa-triangle-exclamation text-warning"></i>
                </span>
            {%endif%}
        </div>
    </div>
</td>
<td
data-bs-toggle="popover" 
data-bs-trigger="hover focus" 
data-bs-html="true" 
data-bs-placement="top"
data-bs-title="What does this do?"
data-bs-content="
<p>
    You can assign your lead campaign to any site under your company here. The templates available to auto send will depend on which site the lead campaign belongs to.
</p>
{%if campaign.is_manual%}
<p>
    This is disabled as it was automatically created by Winser Systems for manually created leads.
</p>
{%endif%}
"> 
    {%include 'campaign_leads/campaign_configuration/campaign_configuration_select.html'%}
    {%if not campaign.site and site%}
    <button class="btn btn-xs btn-primary" 
        hx-post="{% url 'set-campaign-site' campaign_pk=campaign.pk %}" 
        hx-swap="innerHTML" hx-indicator=".top-htmx-indicator" 
        hx-target="#row_{{campaign.pk}}"
        hx-vals='{"site_pk":"{{site.pk}}"}'>Assign to <span style="max-width=100px" class="elipses-overflow">{{site.name}}</span></button>
    {%endif%}
<button hidden 
    hx-post="{% url 'set-campaign-site' campaign_pk=campaign.pk %}" 
    hx-swap="outerHTML" hx-include="#site_pk_{{campaign.pk}}" 
    id="submit_site_pk_{{campaign.pk}}"></button>
</td>
<td>
    <span hidden>{{campaign.product_cost|floatformat:2}}</span>   
    <input {%if not demo%}type="number" min="0.00" max="10000.00" step="0.01"{%endif%} value="{{campaign.product_cost|floatformat:2}}{%if demo and not request.user.is_superuser%} (Demo, Disabled){%endif%}" name="product_cost"
        {%if demo and not request.user.is_superuser%}disabled{%endif%}
        class="form-control"
        hx-post="{% url 'campaign-assign-product_cost' %}" hx-swap="innerHTML" 
        hx-trigger="change delay:0.5s"
        hx-indicator="#page_load_indicator" 
        hx-vals='{"campaign_pk": "{{campaign.pk}}"}'
        hx-target="#row_{{campaign.pk}}"/>
</td>
<td>
    <span hidden>{{campaign.color}}</span>   
    <input type="color" id="color_{{campaign.pk}}"  name="color" class="form-control" style="height: 38.5px; width: 52.5px;"
        hx-post="{% url 'campaign-assign-color' %}" hx-swap="innerHTML" 
        hx-trigger="change"
        hx-indicator="#page_load_indicator" 
        hx-vals='{"campaign_pk": "{{campaign.pk}}"}'
        hx-target="#row_{{campaign.pk}}"
            value="#{{campaign.color|rgb_to_hex_tuple_tag}}">
</td>
<td>       
    {%if campaign.site%}
    <div class="row">
        <div class="col p-0">
            <span hidden>{{campaign.campaign_category.name}}</span>           
            <select class="form-select" name="campaign_category_pk" id="campaign_category_pk_{{campaign.pk}}" 
                {%if demo and not request.user.is_superuser%}disabled{%endif%}            
                hx-post="{% url 'campaign-assign-campaign-category' %}" hx-swap="innerHTML" 
                hx-trigger="change"
                hx-indicator=".top-htmx-indicator" 
                hx-vals='{"campaign_pk": "{{campaign.pk}}"}'
                hx-target="#row_{{campaign.pk}}" >
                <option value="">🚫</option>
                {%for campaign_category in campaign.site.campaigncategory_set.all%}
                <option {%if campaign.campaign_category.pk == campaign_category.pk %}selected{%endif%} value="{{campaign_category.pk}}">{{campaign_category.name}} {%if demo and not request.user.is_superuser%}(Demo, Disabled){%endif%}</option>
                {%endfor%}
            </select>
        </div>  
        <div class="col-md-auto p-0 ps-1 mt-1">
            <button class="btn btn-primary btn-sm" type="button"
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus" 
                data-bs-placement="top"
                data-bs-title="What does this do?"
                data-bs-content="Add a new campaign category"
                onclick="htmx.ajax('GET', '{% url 'campaign-lead-get-modal-content' %}', {swap:'innerHTML', target:'#generic_modal_body', values:{'template_name':'add_campaign_category', 'campaign_pk':'{{campaign.pk}}'}})"
                >Add</button> 
        </div>  
    </div>  
    {%endif%}
</td>
<td >   
    {%if campaign.site and campaign.site.subscription.whatsapp_enabled %}      
    <span hidden>{{campaign.whatsapp_business_account.pk}}</span>                   
    <span  
        data-bs-toggle="popover" 
        data-bs-trigger="hover focus" 
        data-bs-html="true" 
        data-bs-placement="top"
        data-bs-title="What does this do?"
        data-bs-content='
        <p>
            You can assign your a whatsapp account for this campaign, this will then allow you to choose templates for this campaign.
        </p>
        '>                  
        <select class="form-select" name="whatsapp_business_account_pk" id="whatsapp_business_account_pk_{{campaign.pk}}" 
            {%if demo and not request.user.is_superuser%}disabled{%endif%}
            hx-post="{% url 'campaign-assign-whatsapp-business-account' %}" hx-swap="innerHTML" 
            hx-trigger="change"
            hx-indicator=".top-htmx-indicator" 
            hx-vals='{"campaign_pk": "{{campaign.pk}}"}'
            hx-target="#row_{{campaign.pk}}" >
            <option value="">🚫</option>
            {%for whatsapp_business_account in campaign.site.whatsappbusinessaccount_set.all%}
            <option {%if campaign.whatsapp_business_account.pk == whatsapp_business_account.pk %}selected{%endif%} value="{{whatsapp_business_account.pk}}">{{whatsapp_business_account.whatsappnumber}} {%if demo and not request.user.is_superuser%}(Demo, Disabled){%endif%}</option>
            {%endfor%}
        </select>
    </span> 
    {%elif campaign.site and not campaign.site.subscription.whatsapp_enabled%}
    <i class="fa-solid fa-rectangle-pro"></i> subscription feature
    {%endif%}
</td>
<td>
    {%if campaign.site and not campaign.site.subscription.whatsapp_enabled %} 
    <i class="fa-solid fa-rectangle-pro"></i> subscription feature    
    {%elif campaign.whatsapp_business_account%}
    <span id="choose_templates_button_wrapper_{{campaign.pk}}">
        {%include 'campaign_leads/htmx/choose_templates_button.html'%}
    </span>    
        {% comment %} <button type="button" class="btn btn-primary">
            Notifications <span class="badge text-bg-secondary">4</span>
          </button> {% endcomment %}
    {%endif%}
</td>
