<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=100%" />
  <meta name="name" content="Winser Systems" />
  <meta name="domain" content="winser.uk" />
  <style type="text/css">
  </style>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; color: #222; line-height: 22px;">
  <div id=":11y" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
    <div id=":11z"><u></u>
      <div style="margin:0;padding:0;background-color:#f2f2f2;color:#000000">
        <table
          style="border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;min-width:320px;Margin:0 auto;background-color:#f2f2f2;width:100%"
          cellpadding="0" cellspacing="0">
          <tbody>
            <tr style="vertical-align:top">
              <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top">
                <div
                  style="padding:10px 0px 0px;background-color:transparent">
                  <div
                    style="Margin:0 auto;min-width:320px;max-width:550px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                    <div style="border-collapse:collapse;display:table;width:100%;background-color:transparent">
                      <div
                        style="max-width:320px;min-width:550px;display:table-cell;vertical-align:top">
                        <div style="width:100%!important">
                          <div
                            style="padding:0px;border-top:0px solid transparent;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent">
                            <table style="font-family:arial,helvetica,sans-serif" role="presentation" cellpadding="0"
                              cellspacing="0" width="100%" border="0">
                              <tbody>
                                <tr>
                                  <td style="word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif"
                                    align="left">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td style="padding-right:0px;padding-left:0px" align="left">
                                            <a href="https://unlayer.com" target="_blank">
                                              <img align="left" border="0"
                                                src="https://results.winser.uk/static/img/logo-light-back-text.png"
                                                alt="Unlayer" title="Unlayer"
                                                style="outline:none;text-decoration:none;clear:both;display:inline-block!important;border:none;height:auto;float:none;width:50%;max-width:200px" data-bit="iit">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m_-6271458033922566655u-row-container" style="padding:0px;background-color:transparent">
                  <div class="m_-6271458033922566655u-row"
                    style="Margin:0 auto;min-width:320px;max-width:550px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                    <div style="border-collapse:collapse;display:table;width:100%;background-color:transparent">
                      <div class="m_-6271458033922566655u-col m_-6271458033922566655u-col-100"
                        style="max-width:320px;min-width:550px;display:table-cell;vertical-align:top">
                        <div style="background-color:#ffffff;width:100%!important">
                          <div
                            style="padding:25px;border-top:5px solid #000000;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent">
                            <table style="font-family:arial,helvetica,sans-serif" role="presentation" cellpadding="0"
                              cellspacing="0" width="100%" border="0">
                              <tbody>
                                <tr>
                                  <td
                                    style="word-break:break-word;padding:10px 10px 20px;font-family:arial,helvetica,sans-serif"
                                    align="left">
                                    <div style="line-height:170%;text-align:left;word-wrap:break-word">                                      
                                        {%block content%}{%endblock content%}</span></p>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            {%block link_button%}
                            <table style="font-family:arial,helvetica,sans-serif" role="presentation" cellpadding="0"
                              cellspacing="0" width="100%" border="0">
                              <tbody>
                                <tr>
                                  <td style="word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif"
                                    align="left">
                                    <div align="left">
                                      <a href="{%block link%}{%endblock link%}"
                                        style="box-sizing:border-box;display:inline-block;font-family:arial,helvetica,sans-serif;text-decoration:none;text-align:center;color:#ffffff;background-color:#0aab13;border-radius:30px;width:auto;max-width:100%;word-break:break-word;word-wrap:break-word"
                                        target="_blank">
                                        <span style="display:block;padding:15px 25px;line-height:120%"><strong><span
                                              style="font-size:20px;line-height:24px">{%block link_text%}{%endblock link_text%}</span></strong></span>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            {%endblock link_button%}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
              </td>
            </tr>
          </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL">
        </div>
      </div>
      <div class="adL">
      </div>
    </div>
  </div>
</body>
</html>