#chat_bottom {
    position: fixed;
    bottom: 0;
    right: 2vh;
    /* text-align:right; */
    width: unset;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
}

#chat_bottom.temp_hidden {
    visibility: hidden;
}
.pending_message{
    opacity: 0.6;
}
.chat_bottom_window {
    min-width: 300px;
    text-align: left;
    padding-left: 4px;
    margin-right: 4px;
    margin-top: auto;
}
.collapsed .fa-arrow-down {    
    transform: rotate(180deg);
}
.fa-arrow-down {    
transition-duration: 0.5s;
}
.customer_chat_bottom_window  {
    width: 300px;
}

.chat_card_body {
    height: 350px;
    overflow-y: scroll;
    margin-bottom: 50px;
    /* scroll-behavior: smooth; */
    overflow-anchor: none;
}

.message_list_body {
    height: 400px;
    overflow-y: scroll;
}

.chat_row {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    width: auto;
    padding-top: 2px;
}

.chat_bottom_header {
    background-color: rgba(33, 37, 41, 1);
    color: white;
}

.chat_bottom_header:hover {
    cursor: pointer;
    background-color: rgba(255, 35, 81, 0.4);
}

.chat_row:hover,
.chat_bottom_header.collapsed:hover {
    cursor: pointer;
    background-color: rgba(35, 255, 67, 0.4);
}

.chat_lead_name_row {
    font-size: 14px;
    overflow: hidden;
}

.chat_message_row {
    font-size: 12px;
    overflow: hidden;
    width: 230px
}

.active_chat_row {
    color: #000;
    font-weight: 400;
}

.inactive_chat_row {
    color: #A7A7A7;
    font-weight: 300;
}

.pending {
    opacity: 40%;
}