.board {
    display: flex;
    justify-content: center;
}

.draggable-card {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 220px;
    /* height: 140px; */
    cursor: grab;
    /* transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1); */
}

.card:active {
    cursor: grabbing;
}

.dragging {
    opacity: 1 !important;
}

.tilt {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}

.column-done {
    margin-top: 10px;
    margin: 10px;
    /* background: unset; */
    /* transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1); */
    width: 231px;
    flex: 0 0 231px;
    min-height: 100vh;
    
    background:rgba(33, 37, 41, 0.1);
    border-radius: 10px;
}

.column.column-ip {
    margin: 0 20px;
}

.column.drop article {
    pointer-events: none;
}

h3 {
    font-size: 21px;
    font-family: Helvetica;
    margin: 0;
}

.card:last-child {
    margin-bottom: 0;
}

h2 {
    /* margin: -10px -10px; */
    font-family: Helvetica;
    font-size: 21px;
}