.board {
    display: flex;
    justify-content: center;
}

.draggable-card {
    width: 220px;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
    cursor: grab;
    margin-bottom: 10px;
    padding: 10px;
}

.card:active {
    cursor: grabbing;
}

.dragging {
    opacity: 1 !important;
}
.ghost-card{    
    background-color:rgba(33, 37, 41, 0.3) !important;
    color:white !important;
}
.ghost-card * > :not(.btn *){    
    color:white !important;
}
.ghost-card-hidden{
    opacity:0
}

#archive_area, #add_booking_area {
    /* width: 20vw; */
    position: fixed;
    z-index: 1000;
    visibility: hidden;
}
#add_booking_area {
    right: 10vw;
    bottom: 2vh;
}
#archive_area {
    left: 10vw;
    bottom: 2vh;
}
#archive_area_card, #add_booking_area_card {
    border-radius: 10px
}
#archive_area_card {
    background-color: rgba(220, 53, 69, 1);
}
#add_booking_area_card {
    background-color: rgba(11, 102, 59, 1);
}

.draggable-card-area {
    padding-right:50px;
    padding-top:0px;
    padding-left:0px;
    width: 229px;
    height: 140px;
}

#add_booking_area.shown,
#archive_area.shown {
    visibility: visible;
}

.column-done {
    margin-top: 10px;
    margin: 10px;
    /* background: unset; */
    /* transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1); */
    width: 231px;
    flex: 0 0 231px;
    min-height: 100vh;
    
}
.column{
    padding:2px;
    /* background:rgba(33, 37, 41, 0.1); */
    border-radius: 10px;
    background:rgba(33, 37, 41, 0.1);
    min-height:200px
}

.column.column-ip {
    margin: 0 20px;
}

.column.drop article {
    pointer-events: none;
}

h3 {
    font-size: 21px;
    /* font-family: Helvetica; */
    margin: 0;
}

.card:last-child {
    margin-bottom: 0;
}

h2 {
    /* margin: -10px -10px; */
    /* font-family: Helvetica; */
    font-size: 21px;
}