{% extends 'core/base.html' %}
{%load static%}
{%block scripts%}
{{block.super}}
<link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables.js' %}"></script> 
<script>
    $(document).ready(function() {
        $("[data-bs-toggle=popover]").popover();
        document.body.addEventListener('htmx:afterRequest', function(evt) {  
            if (evt.detail.xhr.status == 200){
                if (evt.detail.pathInfo.requestPath.includes('whatsapp-templates-assign-site')){
                    $('#generic_modal').modal('hide');
                    snackbarShow('Successfully transferred template', 'success')
                }
            }
        });
        {% comment %} initDataTable(); {% endcomment %}
        document.body.addEventListener('htmx:afterSwap', function(evt) {  
            $("[data-bs-toggle=popover]").popover();
            {% comment %} initDataTable(); {% endcomment %}
        });  
    });
    let SearchTerm = ""
    function initDataTable() {
        try{$("#overview_table").dataTable().fnDestroy();}catch{}

        dt = $('#overview_table').DataTable(          
            {  
                order: [[0, 'desc' ]],
                iDisplayLength: 10,
                search: {
                   search: SearchTerm
                }
            }
        );
        let searchInput = $('#overview_table_filter').find('input');
        searchInput.on('input', function (e) {
            SearchTerm = searchInput.val()
        });
    }
</script>
{%endblock scripts%}

{%block overide_content%}       
<div class="col d-flex flex-column h-sm-100 p-0" style="overflow-x:hidden" id="whatsapp_templates_content">  
{%include 'whatsapp/whatsapp_templates_content.html'%}
</div>
{%endblock overide_content%}