
    <div class="">
        <div class="col m-3 alert alert-warning">
            <p>Message templates in an Aproved state can be edited up to 10 times in a 30 day window, or 1 time in a 24 hour window.</p>
            <p class="m-0">Messages in Rejected or Paused states can be edited an unlimited number of times.</p>
        </div>
        <div class="col m-3 alert alert-info">
            <p>Template names must be unique.</p>
            <p class="m-0">Once you have saved your edits/new template, click the green submit button to send it for approval to Whatsapp.</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-auto">
            <button class="btn btn-success btn-sm me-2"
            onclick="window.location.href = '{%url 'whatsapp-template'%}'">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Template
            </button>            
        </div>
    </div>
    <div class="row mt-2 card p-2">
        <div class="col">
            <table id="overview_table" class="table"> 
                <thead> 
                    <tr>
                        <th>
                            Name
                        </th>
                        {% comment %} <th>
                            Category
                        </th> {% endcomment %}
                        {% comment %} <th>
                            Language
                        </th> {% endcomment %}
                        <th>
                            ID
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Site
                        </th>
                        {% comment %} <th>
                            Auto send
                        </th> {% endcomment %}
                        <th>  
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    {%for template in templates%}
                    {%if not 'sample_' in template.name%}
                    <tr id="template_row_{{template.id}}">
                        {%include 'whatsapp/whatsapp_templates_row.html'%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

<span hx-swap-oob="true" id="chat_bottom">
    {%include 'messaging/messaging.html'%}
</span>