{% extends 'core/base.html' %}
{%load static%}
{%block scripts%}
{{block.super}}
<script>
    $(document).ready(function() {
        document.title = "Whatsapp Templates";
        $("[data-bs-toggle=popover]").popover();
        document.body.addEventListener('htmx:afterRequest', function(evt) {  
            if (evt.detail.xhr.status == 200){
                if (evt.detail.pathInfo.requestPath.includes('whatsapp-change-template-site')){
                    $('#generic_modal').modal('hide');
                    snackbarShow('Successfully transferred template', 'success')
                }else if (evt.detail.pathInfo.requestPath.includes('whatsapp-approval')){
                    location.reload();
                }
            }
        });
        {% comment %} initDataTable(); {% endcomment %}
        document.body.addEventListener('htmx:afterSwap', function(evt) {  
            $("[data-bs-toggle=popover]").popover();
            {% comment %} initDataTable(); {% endcomment %}
        });  
    });
    let SearchTerm = ""
    function initDataTable() {
        try{$("#overview_table").dataTable().fnDestroy();}catch{}

        dt = $('#overview_table').DataTable(          
            {  
                order: [[0, 'desc' ]],
                iDisplayLength: 10,
                search: {
                   search: SearchTerm
                }
            }
        );
        let searchInput = $('#overview_table_filter').find('input');
        searchInput.on('input', function (e) {
            SearchTerm = searchInput.val()
        });
    }
</script>
{%endblock scripts%}

{%block extra_top_left_buttons %}
<div class="col-md-auto">
    <a class="btn btn-secondary" href="{%url 'customer-home'%}"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>             
</div>
{%with True as hide_show_all%}
{%include 'core/htmx/site_selection.html'%}
<button hidden hx-get="" hx-push-url="false" hx-swap="innerHTML" hx-include=".non_site_dependant_overview_table_filters" hx-indicator=".htmx-indicator" hx-target="#content" id="change_site" class="btn btn-primary btn-sm"></button>
{%endwith%}    
{%endblock extra_top_left_buttons %}
{%block extra_top_right_buttons %}
<div class="col-md-auto">
    <span class="badge bg-dark text-white"><h6 class="m-1">Whatsapp Templates</h6></span>          
</div>     
{%endblock extra_top_right_buttons %}

{%block content%}  
{%include 'whatsapp/whatsapp_templates_content.html'%}
{%endblock content%}